<div class=" header bg-success pb-6" style="overflow-x: hidden;">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-white d-inline-block mb-0">FEEDBACK</h6>
          <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4"></nav>
        </div>
        <div class=" col-lg-6 col-5 text-right">

        </div>
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6" style="overflow-x: hidden;">
  <div class=" row justify-content-center">
    <div class=" col-lg-10 card-wrapper">
      <div class="card">
        <div class="card-header" style="padding: 10px">
          <h3 style="font-family: Open Sans, sans-serif;">Add New Feedback</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="formGroup" (ngSubmit)="createReferral()" *ngIf="formGroup" style="padding:30px">
            <div class="row">
              <div class="col-lg-12" style="padding-left: 30px;padding-top: 15px">
                <div class="row">
                  <div class="col-md-3">
                    <label
                      style="font-family: Open Sans, sans-serif; font-size: 1rem; font-weight: 400;
                                                    line-height: 1.5; text-align: left;"
                    >
                      Date Feedback Received
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group">
                        <div class=" input-group input-group-merge">
                          <input
                            class=" form-control"
                            type="date"
                            formControlName="date_of_referral"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Name of Register
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Name Of Referring Officer"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="name_of_referring_officer"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row"  >
                  <div class="col-md-3">
                    <label>
                      Staff Designation
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Country of Origin"
                                     formControlName="country_of_origin"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name?.common" *ngFor="let item of country_of_origin">
                              {{item.name?.common}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row"  >
                  <div class="col-md-3">
                    <label>
                      Type of Feedback
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Country of Origin"
                                     formControlName="country_of_origin"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name?.common" *ngFor="let item of country_of_origin">
                              {{item.name?.common}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row"  >
                  <div class="col-md-3">
                    <label>
                      Current Status of the Feedback
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Country of Origin"
                                     formControlName="country_of_origin"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name?.common" *ngFor="let item of country_of_origin">
                              {{item.name?.common}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row"  >
                  <div class="col-md-3">
                    <label>
                      Location
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Country of Origin"
                                     formControlName="country_of_origin"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name?.common" *ngFor="let item of country_of_origin">
                              {{item.name?.common}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row"  >
                  <div class="col-md-3">
                    <label>
                      Project Sector
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Country of Origin"
                                     formControlName="country_of_origin"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name?.common" *ngFor="let item of country_of_origin">
                              {{item.name?.common}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row"  >
                  <div class="col-md-3">
                    <label>
                      Sub Sector (Project Level)
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Country of Origin"
                                     formControlName="country_of_origin"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name?.common" *ngFor="let item of country_of_origin">
                              {{item.name?.common}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Name Of Client Being Referred
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Name Of Client Being Referred"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="name_of_client_being_referred"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Phone Number
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Phone Number"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="phone_number"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label
                      style="font-family: Open Sans, sans-serif; font-size: 1rem; font-weight: 400;
                                                    line-height: 1.5; text-align: left;"
                    >
                      Date of Birth
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group">
                        <div class=" input-group input-group-merge">
                          <input
                            class=" form-control"
                            type="date"
                            formControlName="date_of_birth"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Age Category
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Age Category"
                                     formControlName="age_category"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of age_category">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Nationality Status
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     (change)="onChangeCountry($event)"
                                     placeholder="Nationality Status"
                                     formControlName="nationality_status"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of nationality_status">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Identification Document
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Identification Document"
                                     formControlName="identification_document"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of identification_document">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Identification Number
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Identification Number"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="identification_number"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Disability
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Disability"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="disability"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Reason for Referral
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Reason for Referral"
                                     formControlName="reason_for_referral"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of reason_for_referral">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Organization Referred to
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Organization Referred to"
                                     formControlName="organization_referred_to"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of organization_referred_to">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 offset-5" style="padding-bottom: 15px; padding-left: 0px">
                <a class=" btn btn-danger" (click)="resetForm()" style="color: #ffffff">
                  Reset </a>
                <button
                  class=" btn btn-default"
                  type="submit"
                  [disabled]="clicked"
                >
                  Save
                </button>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


</div>
