<div class=" header bg-success pb-6" style="overflow-x: hidden;">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-white d-inline-block mb-0">FEEDBACK</h6>
          <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4"></nav>
        </div>
        <div class=" col-lg-6 col-5 text-right">

        </div>
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6" style="overflow-x: hidden;">
  <div class=" row justify-content-center">
    <div class=" col-lg-10 card-wrapper">
      <div class="card">
        <div class="card-header" style="padding: 10px">
          <h3 style="font-family: Open Sans, sans-serif;align-content: center">Register New Feedback</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="formGroup" (ngSubmit)="createFeedback()" *ngIf="formGroup" style="padding:30px">
            <div class="row">

              <div class="col-lg-6" style="padding-left: 30px;padding-top: 15px">

                <div>
                  <div >
                    <h2>
                      Client Details
                    </h2>
                  </div>
                  <div class="row">
                    <label>
                      Remain Anonymous?


                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Remain Anonymous?"
                                     formControlName="remainAnonymous"
                                     (change)="checkForAnonStatus($event)"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of remain_anonymous">
                              {{item.name}}
                            </ng-option>
                          </ng-select>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="detailsForUser" [hidden]="false">
                  <div class="row">
                    <label>
                      Name Of Client/Community/Group

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Name Of Client/Community/Group"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="nameOfClient"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="detailsForAnonUser" [hidden]="true">
                  <div class="row">
                    <label>
                      Anonymous Identifier

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Name Of Client/Community/Group"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="anonymousId"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Gender

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Gender"
                                     formControlName="gender"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of gender_list">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Age

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Age"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="age"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Nationality Status

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Nationality Status"
                                     formControlName="nationalityStatus"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of nationality_status">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                <div class="col-lg-6" style="padding-left: 30px;padding-top: 15px">
                  <h2></h2><br>
                <div>
                  <div class="row">
                    <label>
                      Type of Client

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Type of Client"
                                     formControlName="clientType"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of type_of_client">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Preferred Channel for Response

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Preferred Channel for Response"
                                     formControlName="preferredChannel"
                                     (change)="changeChannelPreferred($event)"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item?.name" *ngFor="let item of preferred_channel">
                              {{item?.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div  id="phone" [hidden]="false">
                  <div class="row">
                    <label>
                      Phone Number

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Phone Number"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="phoneNumber"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="email" [hidden]="false">
                  <div class="row" >
                    <label>
                      Email

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Email Address"
                            type="email"
                            style="padding-left: 10px;"
                            formControlName="email"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

                <div  class="col-lg-6" style="padding-left: 30px;padding-top: 15px">
                  <h2>Feedback Details</h2>
                <div >
                  <div class="row">
                    <label>
                      Feedback Details
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <textarea
                            class="form-control"
                            placeholder="Enter feedback Details"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="feedbackDetails"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label
                      style="font-family: Open Sans, sans-serif; font-size: 1rem; font-weight: 400;
                                                    line-height: 1.5; text-align: left;"
                    >
                      Date Feedback Received
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <div class=" input-group input-group-merge">
                          <input
                            class=" form-control"
                            type="date"
                            formControlName="dateFeedbackReceived"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div >
                  <div class="row">
                    <label>
                      Name of Register
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Name Register"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="nameOfRegister"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Staff Designation

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Staff Designation"
                                     formControlName="staffDesignation"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of staff_Designation">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Type of Feedback

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Type of Feedback"
                                     formControlName="typeOfFeedback"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of type_of_feedback">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
                <div class="col-lg-6" style="padding-left: 30px;padding-top: 15px">
                  <h2></h2><br>
                <div>
                  <div class="row">
                    <label>
                      Location

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Location"
                                     formControlName="location"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of location">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Project Sector

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Project Sector"
                                     formControlName="projectSector"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of project_status">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Project

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Project"
                                     formControlName="project"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of project_status">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Sub Sector (Project Level)

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Sub Sector (Project Level)"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="subSector"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
                <div  class="col-lg-8" style="padding-left: 30px;padding-top: 15px;justify-content: center">
                  <h2>Action Details</h2>
              <div>
                  <div class="row" style="padding-top: 26px;">
                    <label>
                      Current Status of the Feedback

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Current Status of the Feedback"
                                     formControlName="currentStatusOfFeedback"
                                     (change)="chooseActionForFeedback($event)"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of feedback_status">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="row" id="assignee" [hidden]="true">
                    <div class="col-md-3">
                      <label>
                        Assign staff
                        <!--                      -->
                      </label>
                    </div>
                    <div class="col-md-9">
                      <div class="col-md-12">
                        <div class="form-group ">
                          <div class=" input-group input-group-merge">
                            <ng-select class="form-control form-control-sm"
                                       name="datatable_length"
                                       aria-controls="datatable"
                                       style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                       [multiple]="false"
                                       placeholder="Assign Staff"
                                       formControlName="assignee"
                                       [searchable]="true"
                                       [clearable]="true"
                            >
                              <ng-option [value]="item.email" *ngFor="let item of this.staffs">
                                {{item.names}}
                              </ng-option>
                            </ng-select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="padding-top: 26px;" id="actionDetails" [hidden]="true">
                    <div class="col-md-12">
                      <div class="row">
                        <h2>
                          Enter Action Details
                        </h2>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <label>
                            Feedback Category
                            <!--                      -->
                          </label>
                        </div>
                        <div class="col-md-9">
                          <div class="col-md-12">
                            <div class="form-group ">
                              <div class=" input-group input-group-merge">
                                <ng-select class="form-control form-control-sm"
                                           aria-controls="datatable"
                                           style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                           [multiple]="false"
                                           placeholder="Feedback Category"
                                           formControlName="feedbackCategory"
                                           [searchable]="true"
                                           [clearable]="true"
                                >
                                  <ng-option [value]="item.name" *ngFor="let item of feedback_category">
                                    {{item.name}}
                                  </ng-option>
                                </ng-select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <label>
                            Feedback Referred or Shared
                            <!--                      -->
                          </label>
                        </div>
                        <div class="col-md-9">
                          <div class="col-md-12">
                            <div class="form-group ">
                              <div class=" input-group input-group-merge">
                                <ng-select class="form-control form-control-sm"
                                           aria-controls="datatable"
                                           style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                           [multiple]="false"
                                           placeholder="Feedback Referred or Shared"
                                           formControlName="feedbackReferredShared"
                                           [searchable]="true"
                                           [clearable]="true"
                                >
                                  <ng-option [value]="item.name" *ngFor="let item of feedback_shared_referred">
                                    {{item.name}}
                                  </ng-option>
                                </ng-select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" id="internalExternal" [hidden]="true">
                        <div class="col-md-3">
                          <label>
                            Feedback shared internally or externally?
                            <!--                      -->
                          </label>
                        </div>
                        <div class="col-md-9">
                          <div class="col-md-12">
                            <div class="form-group ">
                              <div class=" input-group input-group-merge">
                                <ng-select class="form-control form-control-sm"
                                           aria-controls="datatable"
                                           style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                           [multiple]="false"
                                           placeholder="Is feedback shared internally or externally?"
                                           formControlName="feedbackInternallyExternally"
                                           [searchable]="true"
                                           [clearable]="true"
                                >
                                  <ng-option [value]="item.name" *ngFor="let item of feedback_internal_external">
                                    {{item.name}}
                                  </ng-option>
                                </ng-select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" id="orgName" [hidden]="true">
                        <div class="col-md-3">
                          <label>
                            Organisation referred to
                            <!--                      -->
                          </label>
                        </div>
                        <div class="col-md-9">
                          <div class="col-md-12">
                            <div class="form-group ">
                              <div class=" input-group input-group-merge">
                                <input
                                  class="form-control"
                                  placeholder="Name of person referred to"
                                  type="text"
                                  style="padding-left: 10px;"
                                  formControlName="referredPersonName"
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" id="sectorName" [hidden]="true">
                        <div class="col-md-3">
                          <label>
                            IRC Sector
                            <!--                      -->
                          </label>
                        </div>
                        <div class="col-md-9">
                          <div class="col-md-12">
                            <div class="form-group ">
                              <div class=" input-group input-group-merge">
                                <input
                                  class="form-control"
                                  placeholder="Position of person referred to"
                                  type="text"
                                  style="padding-left: 10px;"
                                  formControlName="referredOrganization"
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" id="organizationReferred" >
                        <div class="col-md-3">
                          <label>
                            Organization referred to / IRC Sector
                            <!--                      -->
                          </label>
                        </div>
                        <div class="col-md-9">
                          <div class="col-md-12">
                            <div class="form-group ">
                              <div class=" input-group input-group-merge">
                                <input
                                  class="form-control"
                                  placeholder="Organization referred to"
                                  type="text"
                                  style="padding-left: 10px;"
                                  formControlName="referredOrganization"
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <label
                            style="font-family: Open Sans, sans-serif; font-size: 1rem; font-weight: 400;
                                                    line-height: 1.5; text-align: left;"
                          >
                            Date when feedback was referred/shared
                            <!--                      -->
                          </label>
                        </div>
                        <div class="col-md-9">
                          <div class="col-md-12">
                            <div class="form-group">
                              <div class=" input-group input-group-merge">
                                <input
                                  class=" form-control"
                                  type="date"
                                  formControlName="dateFeedbackReferredShared"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <label>
                            Type of response given
                            <!--                      -->
                          </label>
                        </div>
                        <div class="col-md-9">
                          <div class="col-md-12">
                            <div class="form-group ">
                              <div class=" input-group input-group-merge">
                                <ng-select class="form-control form-control-sm"
                                           aria-controls="datatable"
                                           style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                           [multiple]="false"
                                           placeholder="Type of response given"
                                           formControlName="responseTypeRequired"
                                           [searchable]="true"
                                           [clearable]="true"
                                >
                                  <ng-option [value]="item.name" *ngFor="let item of response_required">
                                    {{item.name}}
                                  </ng-option>
                                </ng-select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" [hidden]="true">
                        <div class="col-md-3">
                          <label>
                            Action / follow up needed
                            <!--                      -->
                          </label>
                        </div>
                        <div class="col-md-9">
                          <div class="col-md-12">
                            <div class="form-group ">
                              <div class=" input-group input-group-merge">
                                <ng-select class="form-control form-control-sm"
                                           aria-controls="datatable"
                                           style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                           [multiple]="false"
                                           placeholder="Action / follow up needed"
                                           formControlName="actionFollowupNeeded"
                                           [searchable]="true"
                                           [clearable]="true"
                                >
                                  <ng-option [value]="item.name" *ngFor="let item of followup_needed">
                                    {{item.name}}
                                  </ng-option>
                                </ng-select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

              <div class="row" style="padding-top: 26px;" id="loop" [hidden]="true">
                <div class="col-md-12">
                  <div class="row">
                    <h2>
                      Closing the Loop
                    </h2>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <label
                        style="font-family: Open Sans, sans-serif; font-size: 1rem; font-weight: 400;
                                                    line-height: 1.5; text-align: left;"
                      >
                        Date of response/feedback given to client
                        <!--                      -->
                      </label>
                    </div>
                    <div class="col-md-9">
                      <div class="col-md-12">
                        <div class="form-group">
                          <div class=" input-group input-group-merge">
                            <input
                              class=" form-control"
                              type="date"
                              formControlName="dateFeedbackClient"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <label>
                        Action taken
                        <!--                      -->
                      </label>
                    </div>
                    <div class="col-md-9">
                      <div class="col-md-12">
                        <div class="form-group ">
                          <div class=" input-group input-group-merge">
                            <ng-select class="form-control form-control-sm"
                                       aria-controls="datatable"
                                       style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                       [multiple]="false"
                                       placeholder="Action Taken"
                                       formControlName="actionTaken"
                                       [searchable]="true"
                                       [clearable]="true"
                            >
                              <ng-option [value]="item.name" *ngFor="let item of action_taken">
                                {{item.name}}
                              </ng-option>
                            </ng-select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <label>
                        Name of the staff who provided the response
                        <!--                      -->
                      </label>
                    </div>
                    <div class="col-md-9">
                      <div class="col-md-12">
                        <div class="form-group ">
                          <div class=" input-group input-group-merge">
                            <input
                              class="form-control"
                              placeholder="Name of the staff who provided the response"
                              type="text"
                              style="padding-left: 10px;"
                              formControlName="staffProvidedResponse"
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <label>
                        Response summary
                        <!--                      -->
                      </label>
                    </div>
                    <div class="col-md-9">
                      <div class="col-md-12">
                        <div class="form-group ">
                          <div class=" input-group input-group-merge">
                            <textArea
                              class="form-control"
                              placeholder="Response summary"
                              type="text"
                              style="padding-left: 10px;"
                              formControlName="responseSummary"
                            ></textArea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" [hidden]="true">
                    <div class="col-md-3">
                      <label>
                        Supervisor
                        <!--                      -->
                      </label>
                    </div>
                    <div class="col-md-9">
                      <div class="col-md-12">
                        <div class="form-group ">
                          <div class=" input-group input-group-merge">
                            <input
                              class="form-control"
                              placeholder="Supervisor"
                              type="text"
                              style="padding-left: 10px;"
                              formControlName="supervisor"
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <label>
                        Data Entry Focal Point
                        <!--                      -->
                      </label>
                    </div>
                    <div class="col-md-9">
                      <div class="col-md-12">
                        <div class="form-group ">
                          <div class=" input-group input-group-merge">
                            <input
                              class="form-control"
                              placeholder="Data Entry Focal Point"
                              type="text"
                              style="padding-left: 10px;"
                              formControlName="dataEntryFocalPoint"
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">

                <button class=" btn btn-danger" type="button" (click)="resetForm()">Reset</button>
                <button class=" btn btn-warning" type="submit">Save For Later</button>
                <button class=" btn btn-success" type="submit">Submit Feedback</button>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


</div>
