<div class=" header bg-success pb-6" style="overflow-x: hidden;">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-white d-inline-block mb-0">FEEDBACK</h6>
          <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4"></nav>
        </div>
        <div class=" col-lg-6 col-5 text-right">

        </div>
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6" style="overflow-x: hidden;">
  <div class=" row justify-content-center">
    <div class=" col-lg-10 card-wrapper">
      <div class="card">
        <div class="card-header" style="padding: 10px">
          <h3 style="font-family: Open Sans, sans-serif;">Add New Feedback</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="formGroup" (ngSubmit)="createFeedback()" *ngIf="formGroup" style="padding:30px">
            <div class="row">
              <div class="col-lg-6" style="padding-left: 30px;padding-top: 15px">
                <div>
                  <div class="row">
                    <label>
                      Name Of Client/Community/Group

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Name Of Client/Community/Group"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="nameOfClient"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Remain Anonymous?

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Remain Anonymous?"
                                     formControlName="remainAnonymous"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of remain_anonymous">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Gender

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Gender"
                                     formControlName="gender"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of gender_list">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Age

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Age"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="age"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Nationality Status

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Nationality Status"
                                     formControlName="nationalityStatus"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of nationality_status">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Type of Client

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Type of Client"
                                     formControlName="clientType"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of type_of_client">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Preferred Channel for Response

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Preferred Channel for Response"
                                     formControlName="preferredChannel"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item?.name" *ngFor="let item of preferred_channel">
                              {{item?.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Phone Number

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Phone Number"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="phoneNumber"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Email

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Email Address"
                            type="email"
                            style="padding-left: 10px;"
                            formControlName="email"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6" style="padding-left: 30px;padding-top: 15px">
                <div >
                  <div class="row">
                    <label>
                      Serial Number
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Serial Number"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="serialNumber"
                            [readOnly]="true"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div >
                  <div class="row">
                    <label>
                      Feedback Details
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Enter feedback Details"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="feedbackDetails"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label
                      style="font-family: Open Sans, sans-serif; font-size: 1rem; font-weight: 400;
                                                    line-height: 1.5; text-align: left;"
                    >
                      Date Feedback Received
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <div class=" input-group input-group-merge">
                          <input
                            class=" form-control"
                            type="date"
                            formControlName="dateFeedbackReceived"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div >
                  <div class="row">
                    <label>
                      Name of Register
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Name Register"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="nameOfRegister"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Staff Designation

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Staff Designation"
                                     formControlName="staffDesignation"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of staff_Designation">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Type of Feedback

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Type of Feedback"
                                     formControlName="typeOfFeedback"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of type_of_feedback">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div>
                  <div class="row">
                    <label>
                      Location

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Location"
                                     formControlName="location"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of location">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Project Sector

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Project Sector"
                                     formControlName="projectSector"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of project_status">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Project

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Project"
                                     formControlName="project"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of project_status">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Sub Sector (Project Level)

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Sub Sector (Project Level)"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="subSector"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Current Status of the Feedback

                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Current Status of the Feedback"
                                     formControlName="currentStatusOfFeedback"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of feedback_status">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="assignee" >
                  <div class="row">
                    <label>
                      Assign staff
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Assign Staff"
                                     formControlName="assignee"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.email" *ngFor="let item of this.staffs">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 offset-5" style="padding-bottom: 15px; padding-left: 0px">
                <a class=" btn btn-danger" (click)="resetForm()" style="color: #ffffff">
                  Reset </a>
                <button
                  class=" btn btn-default"
                  type="submit"

                >
                  Save
                </button>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


</div>
