html {
  overflow:   scroll;
  zoom: 80%;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.dataTables_wrapper {
  overflow: auto;
  width: 100%;
}

.dataTables_wrapper .dataTables_filter {
  float: left !important;
  margin-left: 50px !important;
  text-align: right !important;
}

.dataTables_wrapper .dataTables_length {
  float: left !important;
  display: inline-block !important;
}

.dataTables_wrapper .dataTables_paginate {
  float: right !important;
  display: inline-block !important;
}

.dataTables_wrapper .dataTables_info {
  display: inline-block !important;
}

table tr th.select-checkbox.selected::after {
  content: "✔";
  margin-top: 0px;
  margin-left: -4px;
  text-align: center;
  text-shadow: rgb(176, 190, 217) 1px 1px, rgb(176, 190, 217) -1px -1px, rgb(176, 190, 217) 1px -1px, rgb(176, 190, 217) -1px 1px;
}

.dt-buttons {
  float: right !important;
  font-size: 1.1em !important;
}

.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled) {
  background-image: none !important;
}

.dt-button, div.dt-button, a.dt-button {
  background-image: none !important;
  border-radius: 8px !important;
}

table.dataTable tbody td.select-checkbox:before, table.dataTable tbody th.select-checkbox:before {
  margin-top: 3px !important;
}
.input-error{
  color:red;
  font-size: 80%;
  font-weight: 400;
  font-family: Open Sans, sans-serif;
}

.invalid-feedback {
  color: red;
}
.was-validated .form-control:invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .custom-select.is-invalid {
  border-color: red !important;
}

.leaflet-popup-content {
  width: 600px !important;
}

.leaflet-container {
  font-family: Open Sans, sans-serif !important;
}


.ng-select.ng-select-single .ng-select-container {
  height: 46px !important;
}
.form-control-sm {
  height: 46px !important;
}

.selected-div {
  background-color: #b6b9b6;
  color: #ffffff!important;
}

.alertify-notifier .ajs-message.ajs-error {
  font-family: "Poppins Medium", "Helvetica", sans-serif;
  color: #FFFFFF !important;
  background-color: #BF2A20;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.alertify-notifier .ajs-message.ajs-success {
  font-family: "Poppins Medium", "Helvetica", sans-serif;
  color: #FFFFFF !important;
  background-color: #8FC849;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.alertify-notifier .ajs-message.ajs-message {
  font-family: "Poppins Medium", "Helvetica", sans-serif;
  color: #8FC849;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.ajs-button {
  color: #fff;
  background-color: #7851a9;
  border: 0;
  position: relative;
  text-transform: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  letter-spacing: 0.025em;
  font-size: 0.875rem;
  will-change: transform;
}

.ajs-button:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.ajs-button:hover {
  box-shadow: 0 7px 14px rgba(50 50 93 0.1), 0 3px 6px rgba(0 0 0 0.8);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}

.main-content, .sidenav {
  font-family: "Poppins Medium", "Helvetica", sans-serif !important;
}

button, .btn {
  font-family: "Poppins Light", "Helvetica", sans-serif !important;
}

.page-item.active .page-link {
  background-color: #f5365c !important;
  border-color: #f5365c !important;
}

.btn-neutral {
  color: #2b2b58 !important;
}

.nav-item .active {
  color: #fbc324 !important;
  background-color: rgba(124, 92, 20, 0.08) !important;
}

td a {
  color: #7851a9 !important;
}

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100px;
  height: 100px;
  margin: auto;
}

