.dataTables_wrapper {
  overflow: auto;
  width: 100%;
}

.dataTables_wrapper .dataTables_filter {
  float: left !important;
  margin-left: 50px !important;
  text-align: right !important;
}

.dataTables_wrapper .dataTables_length {
  float: left !important;
  display: inline-block !important;
}

.dataTables_wrapper .dataTables_paginate {
  float: right !important;
  display: inline-block !important;
}

.dataTables_wrapper .dataTables_info {
  display: inline-block !important;
}

table tr th.select-checkbox.selected::after {
  content: "✔";
  margin-top: 0px;
  margin-left: -4px;
  text-align: center;
  text-shadow: rgb(176, 190, 217) 1px 1px, rgb(176, 190, 217) -1px -1px, rgb(176, 190, 217) 1px -1px, rgb(176, 190, 217) -1px 1px;
}

.dt-buttons {
  float: right !important;
  font-size: 1.1em !important;
}

.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled) {
  background-image: none !important;
}

.dt-button, div.dt-button, a.dt-button {
  background-image: none !important;
  border-radius: 8px !important;
}

table.dataTable tbody td.select-checkbox:before, table.dataTable tbody th.select-checkbox:before {
  margin-top: 3px !important;
}

.input-error {
  color: red;
  font-size: 80%;
  font-weight: 400;
  font-family: Open Sans, sans-serif;
}

.invalid-feedback {
  color: red;
}

.was-validated .form-control:invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .custom-select.is-invalid {
  border-color: red !important;
}

.leaflet-popup-content {
  width: 600px !important;
}

.leaflet-container {
  font-family: Open Sans, sans-serif !important;
}

.ng-select.ng-select-single .ng-select-container {
  height: 46px !important;
}

.form-control-sm {
  height: 36px !important;
}

.selected-div {
  background-color: #b6b9b6;
  color: #ffffff!important;
}

.alertify-notifier .ajs-message.ajs-error {
  color: #FFFFFF;
}

.alertify-notifier .ajs-message.ajs-success {
  color: #FFFFFF;
}

.main-content, .sidenav {
  font-family: "Poppins Medium", "Helvetica", sans-serif !important;
}

button, .btn {
  font-family: "Poppins Light", "Helvetica", sans-serif !important;
}

.page-item.active .page-link {
  background-color: #f5365c !important;
  border-color: #f5365c !important;
}

td a {
  color: #7851a9 !important;
}
