.dataTables_wrapper {
  margin-top: 40px !important;
}

.dataTables_wrapper .dataTables_filter {
  float: left !important;
  margin-left: 50px !important;
  text-align: right !important;
}

.dataTables_wrapper .dataTables_length {
  float: left !important;
  display: inline-block !important;
}

.dataTables_wrapper .dataTables_paginate {
  float: right !important;
  display: inline-block !important;
}

.dataTables_wrapper .dataTables_info {
  display: inline-block !important;
}

table tr th.select-checkbox.selected::after {
  content: "✔";
  margin-top: 0px;
  margin-left: -4px;
  text-align: center;
  text-shadow: rgb(176, 190, 217) 1px 1px, rgb(176, 190, 217) -1px -1px, rgb(176, 190, 217) 1px -1px, rgb(176, 190, 217) -1px 1px;
}

.dt-buttons {
  float: right !important;
  font-size: 1.1em !important;
}

.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled) {
  background-image: none !important;
}

.dt-button, div.dt-button, a.dt-button {
  background-image: none !important;
  border-radius: 8px !important;
}

table.dataTable tbody td.select-checkbox:before, table.dataTable tbody th.select-checkbox:before {
  margin-top: 3px !important;
}
