<div class=" header bg-success pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-white d-inline-block mb-0">Manage Entities</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col">
      <div class=" card">
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-2">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="10" [selected]="entries == 10">10</option>
                    <option value="25" [selected]="entries == 25">25</option>
                    <option value="50" [selected]="entries == 50">50</option>
                    <option value="-1" [selected]="entries == -1">All</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <input
                    type="search"
                    class="form-control form-control-sm"
                    placeholder="Search entities"
                    aria-controls="datatable"
                    (keyup)="filterTable($event)"
                  />
                </label>
              </div>
            </div>
          </div>

          <div class="row" style="padding: 11px;">
            <div class="col-lg-12 col-5 text-right">
              <a class=" btn btn-default" (click)="linkToForm()" style="color: white" *ngIf="enableLinkToForm == true">
                Link to Form </a>
              <a class=" btn btn-default" (click)="createNewView()" style="color: white"
                 *ngIf="enableAddNewView == true"> Add new View </a>
              <a class=" btn btn-default" (click)="createNewEntity()" style="color: white"> Add Entity </a>
            </div>
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="entries != -1 ? entries : undefined"
            [selected]="selected"
            [selectionType]="SelectionType.single"
            [rows]="rows"
            (activate)="onActivate($event)"
            (select)="onSelect($event)"
          >
            <ngx-datatable-column name="Entity Name" prop="name">
              <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                <a routerLink="/entities/{{row.id}}"> {{ value }} </a>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Database Name" prop="tableName"></ngx-datatable-column>
            <ngx-datatable-column name="Date Created" prop="dateCreated">
              <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                {{ value | date: 'shortDate' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Entity Views" prop="entityViews"></ngx-datatable-column>
            <ngx-datatable-column name="Linked Forms" prop="linkedForms"></ngx-datatable-column>
            <ngx-datatable-column name="Action" prop="id" [width]="30">
              <ng-template
                ngx-datatable-cell-template
                let-value="value"
                let-isSelected="isSelected"
                let-onCheckboxChangeFn="onCheckboxChangeFn"
              >
                <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

