<div class=" col-sm-12 col-md-12 bg-success">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="text-center" style="font-size: 2em; text-transform: capitalize;">
        <span>ENTITY TABLE: </span><span> {{ entityName }}</span>
      </h4>
    </div>
  </div>
</div>
<div class=" col-md-12 col-sm-12" style="margin-top: 5px;">
  <div class=" row">
    <div class=" col">
      <div class=" card">
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-2">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="5" [selected]="entries == 5">5</option>
                    <option value="10" [selected]="entries == 10">10</option>
                    <option value="25" [selected]="entries == 25">25</option>
                    <option value="50" [selected]="entries == 50">50</option>
                    <option value="-1" [selected]="entries == -1">All</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <input
                    type="search"
                    class="form-control form-control-sm"
                    placeholder="Search data"
                    aria-controls="datatable"
                    (keyup)="filterTable($event)"
                  />
                </label>
              </div>
            </div>
          </div>
          <div class="row" style="padding: 11px;">
            <div class="col-lg-12 col-5 text-right">
              <a class=" btn btn-default" (click)="openFormModal(entityRecordModal)" style="color: white"> Form </a>
            </div>
          </div>
          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="entries != -1 ? entries : undefined"
            [rows]="rows"
            [scrollbarH]="true"
            [selected]="selected"
            [selectionType]="SelectionType.checkbox"
            (activate)="onActivate($event)"
            (select)="onSelect($event)"
          >
            <ngx-datatable-column
              [width]="50"
              [sortable]="false"
              [canAutoResize]="false"
              [draggable]="false"
              [resizeable]="false"
            >
              <ng-template
                ngx-datatable-header-template
                let-value="value"
                let-allRowsSelected="allRowsSelected"
                let-selectFn="selectFn"
              >
                <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"/>
              </ng-template>
              <ng-template
                ngx-datatable-cell-template
                let-value="value"
                let-isSelected="isSelected"
                let-onCheckboxChangeFn="onCheckboxChangeFn"
              >
                <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)"/>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column *ngFor="let col of columns; let i = index;" name="{{col.name | replace: '_' : ' '}}" prop="{{col.prop}}">
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #entityRecordModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title w-100 text-center" id="modal-basic-title">{{ entityName }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <form [formGroup]="formGroup" (ngSubmit)="addNewEntityRecord()">
    <div class="modal-body">
      <div class="row" *ngFor="let formInput of formInputConfigs; let i = index;">
        <div class="col-md-12">
          <div class="form">
            <div class="row" style="padding-bottom: 15px">
              <div class="col-md-4">
                <label class=" form-control-label">
                  {{ formInput.label | replace: '_' : ' ' | titlecase}}
                </label>
              </div>
              <div class="col-md-8">
                <input
                  type="{{ formInput['type'] }}"
                  id="{{ formInput['controlName'] }}"
                  class="form-control form-control-sm"
                  placeholder="{{ formInput.label | replace: '_' : ' ' | titlecase}}"
                  formControlName="{{ formInput['controlName'] }}"
                  [ngClass]="{ 'is-invalid': submitted && f[formInput['controlName']].errors }"
                  required="required"
                />
                <div *ngIf="submitted && f[formInput['controlName']].errors" class="invalid-feedback">
                  <div *ngIf="f[formInput['controlName']].errors.required">{{ formInput.label }} is required</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('Close click')">
        Close
      </button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</ng-template>

