<div class=" header bg-success pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-white d-inline-block mb-0">Roles</h6>
                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4"></nav>
                </div>
                <div class=" col-lg-6 col-5 text-right">
                    <a class=" btn btn-sm btn-danger" (click)="deleteRole()" style="color: #ffffff"> Delete </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" container-fluid mt--6">
    <div class=" row justify-content-center">
        <div class=" col-lg-10 card-wrapper">
            <div class="card">
                <div class="card-header" style="padding: 10px">
                    <h3>Edit Role</h3>
                </div>

                <div class="card-body">
                    <form [formGroup]="formGroup" (ngSubmit)="updateRole()" *ngIf="formGroup" style="padding:30px">
                      <div class="row">
                        <div class="col-lg-12" style="padding-left: 30px;padding-top: 15px">
                          <div class="row">
                            <div class="col-md-3">
                              <label>
                                Role Name
                                <span class="required-indicator">*</span>
                              </label>
                            </div>
                            <div class="col-md-9">
                              <div class="col-md-12">
                                <div class="form-group ">
                                  <div class=" input-group input-group-merge">
                                    <div class=" input-group-prepend">
                                                <span class="input-group-text" style="padding-right: 10px;">
                                                    <i class=" fas fa-user"></i>
                                                </span>
                                    </div>
                                    <input
                                      class="form-control"
                                      placeholder="Role Name"
                                      type="text"
                                      style="padding-left: 10px;"
                                      formControlName="authority"
                                      [ngClass]="{ 'is-invalid': submitted && f.authority.errors }"
                                    >
                                    <div *ngIf="submitted && f.authority.errors" class="invalid-feedback">
                                      <div *ngIf="f.authority.errors.required" class="input-error">A Role Name is required</div>
                                    </div>
                                  </div>
                                  <!--<div *ngIf="f.username.hasError('alreadyExist')" >
                                      <div class="input-error">Username is already taken</div>
                                  </div>-->
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--<div class="row">
                            <div class="col-md-3">
                              <label>
                                Parent
                                <span class="required-indicator">*</span>
                              </label>
                            </div>
                            <div class="col-md-9">
                              <div class="col-md-12">
                                <div class="form-group ">
                                  <div class=" input-group input-group-merge">
                                    <ng-select class="form-control form-control-sm"
                                               name="datatable_length"
                                               aria-controls="datatable"
                                               style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                               [multiple]="false"
                                               placeholder="Parent"
                                               formControlName="parent"
                                               [ngClass]="{ 'is-invalid': submitted && f.parent.errors }"
                                               [searchable]="true"
                                               [clearable]="true"
                                    >
                                      <ng-option [value]="item.name" *ngFor="let item of parents">
                                        {{item.name}}
                                      </ng-option>
                                    </ng-select>
                                    <div *ngIf="submitted && f.parent.errors" class="invalid-feedback">
                                      <div *ngIf="f.parent.errors.required" class="input-error">A Parent is required</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12" style="padding-left: 10px">
                            <div class="form-group">
                              <div class=" input-group input-group-merge" style="padding-top: 15px">
                                <label
                                  style="
                                                            padding-right: 95px;
                                                            font-size: 1rem;
                                                            font-weight: 400;
                                                            margin-left: -9px;
                                                            font-family: Open Sans, sans-serif;
                                                            color: #525f7f;"
                                >
                                  Access to Central Data?
                                </label>
                                <label class=" custom-toggle custom-toggle-success mr-1">
                                  <input
                                    checked="checked"
                                    type="checkbox"
                                    formControlName="access_to_central_data"
                                  />

                                  <span
                                    class=" custom-toggle-slider rounded-circle"
                                    data-label-off="No"
                                    data-label-on="Yes"
                                  >
                                                        </span>
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3">
                              <label>
                                Permissions
                                <span class="required-indicator">*</span>
                              </label>
                            </div>
                            <div class="col-md-9">
                              <div class="col-md-12">
                                <div class="form-group ">
                                  <div class=" input-group input-group-merge">
                                    <ng-select class="form-control form-control-sm"
                                               name="datatable_length"
                                               aria-controls="datatable"
                                               style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                               [multiple]="true"
                                               placeholder="Permissions"
                                               formControlName="permissions"
                                               [ngClass]="{ 'is-invalid': submitted && f.parent.errors }"
                                               [searchable]="true"
                                               [clearable]="true"
                                    >
                                      <ng-option [value]="item.name" *ngFor="let item of permissions">
                                        {{item.name}}
                                      </ng-option>
                                    </ng-select>
                                    <div *ngIf="submitted && f.parent.errors" class="invalid-feedback">
                                      <div *ngIf="f.parent.errors.required" class="input-error">A Parent is required</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3">
                              <label>
                                Data Collectors
                                &lt;!&ndash;                      <span class="required-indicator">*</span>&ndash;&gt;
                              </label>
                            </div>
                            <div class="col-md-9">
                              <div class="col-md-12">
                                <div class="form-group ">
                                  <div class=" input-group input-group-merge">
                                    <ng-select class="form-control form-control-sm"
                                               name="datatable_length"
                                               aria-controls="datatable"
                                               style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                               [multiple]="true"
                                               placeholder="Data Collectors"
                                               formControlName="data_collectors"
                                               [ngClass]="{ 'is-invalid': submitted && f.data_collectors.errors }"
                                               [searchable]="true"
                                               [clearable]="true"
                                    >
                                      <ng-option [value]="item.name" *ngFor="let item of dataCollectors">
                                        {{item.name}}
                                      </ng-option>
                                    </ng-select>
                                    <div *ngIf="submitted && f.data_collectors.errors" class="invalid-feedback">
                                      <div *ngIf="f.data_collectors.errors.required" class="input-error">A Data Collector is required</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>-->
                        </div>
                      </div>
                        <div class="row">
                            <div class="col-md-12 offset-5" style="padding-bottom: 15px;">
                                <button class=" btn btn-default" type="submit" [disabled]="clicked">Save</button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>


</div>
