<div class=" header bg-success pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-white d-inline-block mb-0">Project Milestone</h6>
          <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4"></nav>
        </div>
        <div class=" col-lg-6 col-5 text-right">
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class=" row justify-content-center">
    <div class=" col-lg-10 card-wrapper">
      <div class="card">
        <div class="card-header" style="padding: 10px">
          <h3 style="font-family: Open Sans, sans-serif; text-align: center">Edit Project Milestone</h3>
        </div>
        <div class="card-body" style="font-size: 0.9rem;">
          <form [formGroup]="formGroup" (ngSubmit)="editMilestone()" *ngIf="formGroup">
            <div class="row">
              <div class="col-lg-12" style="padding-left: 30px;padding-top: 15px">
                <div class="form-row">
                  <div class="col-md-3" style="padding-top: 10px;">
                    <label>
                      Form
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <input
                          class="form-control"
                          type="text"
                          placeholder="Form"
                          formControlName="form"
                        />
                        <div *ngIf="submitted && f.form.errors" class="invalid-feedback">
                          <div *ngIf="f.form.errors.required">Form is required</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-3" style="padding-top: 10px;">
                    <label>
                      Category Name
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <ng-select class="form-control form-control-sm"
                                   aria-controls="datatable"
                                   style="height: auto !important; padding: 0; border: 1px solid #f7fafc;"
                                   [multiple]="false"
                                   placeholder="  Category Name"
                                   formControlName="category"
                                   [ngClass]="{ 'is-invalid': submitted && f.category.errors }"
                                   [searchable]="true"
                                   [(ngModel)]="selectedProgramCategory"
                                   [clearable]="true">
                          <ng-option [value]="item.id" *ngFor="let item of categories">
                            {{item.name}}
                          </ng-option>
                        </ng-select>
                        <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                          <div *ngIf="f.category.errors.required">Categories is required</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-3" style="padding-top: 10px;">
                    <label>
                      Milestone Name
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Milestone Name"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="name"
                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                          >
                          <div *ngIf="submitted && f.name.errors"
                               class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Milestone Name is
                              required
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-3" style="padding-top: 10px;">
                    <label>
                      Description
                    </label>
                  </div>
                  <div class="col-md-6">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Description"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="description"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-3" style="padding-top: 10px;">
                    <label>
                      Reporting Query
                    </label>
                  </div>
                  <div class="col-md-7">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <textarea class="form-control" rows="5"
                                    id="reportingQuery"
                                    formControlName="reportingQuery"
                                    [ngClass]="{ 'is-invalid': submittedViewQuery && f.reportingQuery.errors }">
                          </textarea>
                          <div *ngIf="submittedViewQuery && f.reportingQuery.errors"
                               class="invalid-feedback">
                            <div *ngIf="f.reportingQuery.errors.isEmpty">Query is required
                            </div>
                            <div *ngIf="f.reportingQuery.errors.queryError">Query is returning empty results
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <button class=" btn btn-default" type="button" (click)="runReportingQueryNow()">
                      <i class="fa fa-play fa-sm" style="margin-right: 10px"></i>
                      RUN NOW
                    </button>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-3" style="padding-top: 10px;">
                    <label>
                      Dashboard Query
                    </label>
                  </div>
                  <div class="col-md-7">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <textarea class="form-control" rows="5"
                                    id="dashboardQuery"
                                    formControlName="dashboardQuery"
                                    [ngClass]="{ 'is-invalid': submittedViewQuery && f.dashboardQuery.errors }">
                          </textarea>
                          <div *ngIf="submittedViewQuery && f.dashboardQuery.errors"
                               class="invalid-feedback">
                            <div *ngIf="f.dashboardQuery.errors.isEmpty">Query is required
                            </div>
                            <div *ngIf="f.dashboardQuery.errors.queryError">Query is returning empty results
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <button class=" btn btn-default" type="button" (click)="runDashboardQueryNow()">
                      <i class="fa fa-play fa-sm" style="margin-right: 10px"></i>
                      RUN NOW
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 offset-5" style="padding-bottom: 15px; padding-left: 0px">
                <button class=" btn btn-default" type="submit">Update</button>
                <button class=" btn btn-danger" type="button" (click)="cancel()">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #showQueryData let-modal>
  <div class="modal-header">
    <h4 class="modal-title w-100 text-center">DATA VIEW DATA</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class=" col-md-12 col-sm-12" style="margin-top: 5px;">
        <div class=" row">
          <div class=" col">
            <div class=" card">
              <div class="dataTables_wrapper py-4">
                <div class="row">
                  <div class="col-sm-12 col-md-2">
                    <div class="dataTables_length" id="datatable_length">
                      <label>
                        Show
                        <select
                          name="datatable_length"
                          aria-controls="datatable"
                          class="form-control form-control-sm"
                          (change)="entriesChange($event)"
                        >
                          <option value="5" [selected]="entries == 5">5</option>
                          <option value="10" [selected]="entries == 10">10</option>
                          <option value="25" [selected]="entries == 25">25</option>
                          <option value="50" [selected]="entries == 50">50</option>
                          <option value="-1" [selected]="entries == -1">All</option>
                        </select>
                        entries
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-4">
                    <div id="datatable_filter" class="dataTables_filter">
                      <label>
                        <input
                          type="search"
                          class="form-control form-control-sm"
                          placeholder="Search data"
                          aria-controls="datatable"
                          (keyup)="filterTable($event)"
                        />
                      </label>
                    </div>
                  </div>
                </div>
                <ngx-datatable
                  class="bootstrap selection-cell"
                  [columnMode]="'force'"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [rowHeight]="'auto'"
                  [scrollbarH]="true"
                  [limit]="entries != -1 ? entries : undefined"
                  [rows]="rows"
                  (activate)="onActivate($event)"
                >
                  <ngx-datatable-column *ngFor="let col of columns; let i = index;" name="{{col.name}}"
                                        prop="{{col.prop}}">
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('Close click')">
      Close
    </button>
  </div>
</ng-template>
