<div class=" header bg-success pb-6" style="overflow-x: hidden;">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-white d-inline-block mb-0">REFERRAL</h6>
          <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4"></nav>
        </div>
        <div class=" col-lg-6 col-5 text-right">
          <a class=" btn btn-sm btn-danger" (click)="deleteReferral()" style="color: #ffffff"> Delete </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6" style="overflow-x: hidden;">
  <div class=" row justify-content-center">
    <div class=" col-lg-10 card-wrapper">
      <div class="card">
        <div class="card-header " style="padding: 10px">
          <div class="row ">
            <div class="col-lg-4 text-left" > <h3 style="font-family: Open Sans, sans-serif;">Generate Referral</h3></div>
            <div class="col-lg-4 ">
              <div class="dataTables_length" >
                <ng-select class="form-control form-control-sm"
                           name="datatable_length"
                           aria-controls="datatable"
                           style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                           [multiple]="false"
                           (change)="onChangeSearch($event)"
                           placeholder="Search Clients Case Id"
                           [searchable]="true"
                           [clearable]="true">
                  <ng-option [value]="item.id" *ngFor="let item of clients">
                    {{item?.caseId}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-lg-4 text-right" style="margin-top: 0px;">
              <div
                class=" btn btn-success fa fa-plus"
                (click)="createClient()"
              >
                Add Client

              </div>
            </div>
          </div>

<!--          <a [routerLink]="['/create-referral']" style="color: green!important;">-->
<!--            <i class="fa fa-list"></i>&nbsp; &nbsp;Add Client</a>-->
<!--          <button (click)="printPage()" style="align-items: end">Add Client</button>-->
        </div>
        <div class="card-body">
          <form [formGroup]="formGroup" (ngSubmit)="createReferral()" *ngIf="formGroup" style="padding:30px">
            <div class="row" >
              <div class="col-lg-12 card" style="padding-left: 30px;padding-top: 15px">
                <div class="row">

                    <div class="col-md-3">
                     <label>
                      Client Case Id
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                    </div>

                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Case Id Of Client Being Referred"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="nameOfClientBeingReferred"
                            [readOnly]="true"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Staff Name
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group">
                        <div class=" input-group input-group-merge">
                          <input
                            class=" form-control"
                            type="text"
                            formControlName="partnerName"
                            [readOnly]="true"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Age Category
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Age Category"
                                     formControlName="ageCategory"
                                     [searchable]="false"
                                     [clearable]="false"
                                     [readonly]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of age_category" [disabled]="true">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Gender
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Gender"
                                     formControlName="gender"
                                     [searchable]="false"
                                     [clearable]="false"
                                     [readonly]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of age_category" [disabled]="true">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      District
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="District"
                                     formControlName="district"
                                     [searchable]="false"
                                     [clearable]="false"
                                     [readonly]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of age_category" [disabled]="true">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Division
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Division"
                                     formControlName="division"
                                     [searchable]="false"
                                     [clearable]="false"
                                     [readonly]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of age_category" [disabled]="true">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Parish
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Parish"
                                     formControlName="parish"
                                     [searchable]="false"
                                     [clearable]="false"
                                     [readonly]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of age_category" [disabled]="true">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Nationality Status
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     (change)="onChangeCountry($event)"
                                     placeholder="Nationality Status"
                                     formControlName="nationalityStatus"
                                     [searchable]="false"
                                     [clearable]="false"
                                     [readonly]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of nationality_status" [disabled]="true">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="country_of_origin" class="row">
                  <div class="col-md-3">
                    <label>
                      Country of Origin
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Country of Origin"
                                     formControlName="countryOfOrigin"
                                     [searchable]="false"
                                     [clearable]="false"
                                     [readonly]="true"
                          >
                            <ng-option [value]="item.name?.common" *ngFor="let item of country_of_origin"
                                       [disabled]="true">
                              {{item.name?.common}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Identification Document
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Identification Document"
                                     formControlName="identificationDocument"
                                     [searchable]="false"
                                     [clearable]="false"
                                     [readonly]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of identification_document"
                                       [disabled]="true">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Identification Number
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Identification Number"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="identificationNumber"
                            [readOnly]="true"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Disability
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Disability"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="disability"
                            [readOnly]="true"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Phone Number
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Phone Number"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="phoneNumber"
                            [readOnly]="false"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Name of Referring Officer
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Name Of Referring Officer"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="nameOfReferringOfficer"
                            [readOnly]="false"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label
                      style="font-family: Open Sans, sans-serif; font-size: 1rem; font-weight: 400;
                                                    line-height: 1.5; text-align: left;"
                    >
                      Date of Referral
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group">
                        <div class=" input-group input-group-merge">
                          <input
                            class=" form-control"
                            type="date"
                            formControlName="dateOfReferral"
                            [readOnly]="false"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Reason for Referral
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"


                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Reason for Referral"
                                     formControlName="reasonForReferral"
                                     [searchable]="true"
                                     [clearable]="false"
                                     [readonly]="false"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of reason_for_referral" >
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Organization Referred to
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge ">
                          <ng-select class="form-control form-control-sm "
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc; "
                                     [multiple]="false"
                                     placeholder="Organization Referred to"
                                     formControlName="organizationReferredTo"
                                     [searchable]="false"
                                     [clearable]="false"
                                     [readonly]="false"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of organization_referred_to"
                                        >
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div [hidden]="true" class="row">
                  <div class="col-md-3" [hidden]="true">
                    <label>
                      Received Feedback After Referral?
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Received Feedback After Referral?"
                                     formControlName="receivedFeedback"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of received_feedback">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div [hidden]="true" class="row">
                  <div class="col-md-3" >
                    <label>
                      Feedback Given
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group">
                        <div class=" input-group input-group-merge">
                                        <textarea
                                          class="form-control"
                                          placeholder="Feedback Given"
                                          style="height: 144px;"
                                          type="text"
                                          formControlName="feedbackGiven"
                                        ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div [hidden]="true" class="row" >
                  <div class="col-md-3" >
                    <label
                      style="font-family: Open Sans, sans-serif; font-size: 1rem; font-weight: 400;
                                                    line-height: 1.5; text-align: left;"
                    >
                      Date of Feedback
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="col-md-9" >
                    <div class="col-md-12">
                      <div class="form-group">
                        <div class=" input-group input-group-merge">
                          <input
                            class=" form-control"
                            type="date"
                            formControlName="dateOfFeedback"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Follow Up Needed?
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Follow Up Needed?"
                                     formControlName="followupNeeded"
                                     (change)="onChangeFollowUp($event)"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of followup_needed">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="followupAreas" [hidden]="true" class="row">
                  <div class="col-md-3">
                    <label>
                      Follow Up Area?
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Follow Up Area?"
                                     formControlName="followupAreas"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of followup_areas">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="followupOrganization" [hidden]="true" class="row">
                  <div class="col-md-3">
                    <label>
                      Follow Up Organization
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Follow Up Organization"
                                     formControlName="followupOrganization"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of organization_referred_to">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="assignee" class="row">
                  <div class="col-md-3">
                    <label>
                      Assign staff
                      <!--                      <span class="required-indicator">*</span>-->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Assign Staff"
                                     formControlName="assignee"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.email" *ngFor="let item of this.staffs">
                              {{item.names}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">

                <button class=" btn btn-danger" type="button" (click)="close()">Reset</button>
                <button class=" btn btn-warning" type="submit">Save For Later</button>
                <button class=" btn btn-success" type="submit">Submit Referral</button>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


</div>
