<div class=" col-sm-12 col-md-12 bg-success">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="text-center" style="font-size: 2em; text-transform: capitalize;">
        <span>Form: </span><span> {{formName}}</span></h4>
    </div>
  </div>
</div>
<div class=" col-md-12 col-sm-12" style="margin-top: 5px;">
  <div class=" row">
    <div class=" col">
      <div class=" card">
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-2">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="10" [selected]="entries == 10">10</option>
                    <option value="25" [selected]="entries == 25">25</option>
                    <option value="50" [selected]="entries == 50">50</option>
                    <option value="-1" [selected]="entries == -1">All</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <input
                    type="search"
                    class="form-control form-control-sm"
                    placeholder="Search form settings"
                    aria-controls="datatable"
                    (keyup)="filterTable($event)"
                  />
                </label>
              </div>
            </div>
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="entries != -1 ? entries : undefined"
            [rows]="rows"
            (activate)="onActivate($event)"
          >
            <ngx-datatable-column name="Field" prop="field"></ngx-datatable-column>
            <ngx-datatable-column name="Question Text" prop="questionText"></ngx-datatable-column>
            <ngx-datatable-column name="Display Name" prop="displayName" [width]="300">
              <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                 <span
                   title="Double click to edit"
                   (dblclick)="editing[rowIndex + '-displayName'] = true"
                   *ngIf="!editing[rowIndex + '-displayName']"
                 >
              {{ value }} ...
            </span>
                <input
                  class="form-control"
                  autofocus
                  (blur)="updateValue($event, 'displayName', rowIndex)"
                  *ngIf="editing[rowIndex + '-displayName']"
                  type="text"
                  [value]="value"
                />
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Type of Question" prop="xformType"></ngx-datatable-column>
            <ngx-datatable-column name="Date Created" prop="dateCreated">
              <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                {{ value | date }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Order of Display" prop="orderOfDisplayInTable">
              <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                 <span
                   title="Double click to edit"
                   (dblclick)="editing[rowIndex + '-orderOfDisplayInTable'] = true"
                   *ngIf="!editing[rowIndex + '-orderOfDisplayInTable']"
                 >
              {{ value }} ...
            </span>
                <input
                  class="form-control"
                  autofocus
                  (blur)="updateValue($event, 'orderOfDisplayInTable', rowIndex)"
                  *ngIf="editing[rowIndex + '-orderOfDisplayInTable']"
                  type="number"
                  [value]="value"
                />
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="View In Table" prop="viewInTable">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                <span
                  title="Double click to edit"
                  (dblclick)="editing[rowIndex + '-viewInTable'] = true"
                  *ngIf="!editing[rowIndex + '-viewInTable']"
                >
                  {{ value }} ...
                </span>
                <select
                  class="browser-default custom-select"
                  *ngIf="editing[rowIndex + '-viewInTable']"
                  (blur)="editing[rowIndex + '-viewInTable'] = false"
                  (change)="updateValue($event, 'viewInTable', rowIndex)"
                  [value]="value"
                >
                  <option value="true">True</option>
                  <option value="false">False</option>
                </select>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="View In Map" prop="viewOnMap">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                <span
                  title="Double click to edit"
                  (dblclick)="editing[rowIndex + '-viewOnMap'] = true"
                  *ngIf="!editing[rowIndex + '-viewOnMap']"
                >
                  {{ value }} ...
                </span>
                <select
                  class="browser-default custom-select"
                  *ngIf="editing[rowIndex + '-viewOnMap']"
                  (blur)="editing[rowIndex + '-viewOnMap'] = false"
                  (change)="updateValue($event, 'viewOnMap', rowIndex)"
                  [value]="value"
                >
                  <option value="true">True</option>
                  <option value="false">False</option>
                </select>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
