<div class="header bg-success pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">PARTNER REPORTING PLAN - TECHNICAL</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col">
      <div class=" card">
        <div class="row">
          <div class=" col-md-12 col-sm-12" style="margin-top: 20px;">
            <div class=" row">
              <div class=" col">

                <div class="form-group" style="margin: 0 0 30px 30px; width: 60%;">
                  <label class="control-label" style="margin-left: 12px;"><b>SELECT BUSINESS CHAMPION:</b></label>
                  <ng-select class="form-control form-control-sm"
                             aria-controls="datatable"
                             style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                             [multiple]="false"
                             placeholder="Select Business Champion"
                             [searchable]="true"
                             [clearable]="true">
                    <ng-option [value]="item.name" *ngFor="let item of businessChampion">
                      {{item.name}}
                    </ng-option>
                  </ng-select>
                </div>

                <h3 style="margin-left: 40px;">ORGANISATIONAL INFORMATION</h3>
                <div class="card">
                  <div class="row" style="margin: 10px;">
                    <div class="col-sm-6">
                      <ul style="list-style: none; font-size: 16px">
                        <li>Program: <b>{{organisationalInfo.program}}</b></li>
                        <li>Physical Address: <b>{{organisationalInfo.physical_address}}</b></li>
                        <li>Name of the Lead Cluster Organization: <b>{{organisationalInfo.cluster_organization}}</b>
                        </li>
                        <li>Postal Address: <b>{{organisationalInfo.postal_address}}</b></li>
                        <li>Acronym Name: <b>{{organisationalInfo.acronym_name}}</b></li>
                        <li>Email: <b>{{organisationalInfo.email}}</b></li>
                      </ul>
                    </div>
                    <div class="col-sm-6">
                      <ul style="list-style: none; font-size: 16px">
                        <li>Type of Organisation: <b>{{organisationalInfo.organization_type}}</b></li>
                        <li>Website: <b>{{organisationalInfo.website}}</b></li>
                        <li>Legal Status: <b>{{organisationalInfo.legal_status}}</b></li>
                        <li>Country: <b>{{organisationalInfo.country}}</b></li>
                        <li>Name of Contact Person: <b>{{organisationalInfo.contact_person}}</b></li>
                        <li>City: <b>{{organisationalInfo.city}}</b></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <h3 style="margin-left: 40px;">REPORTING CALENDAR</h3>
                <div class="card">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="col-sm-6">Grant Start Date:</div>
                        <div class="col-sm-6">
                          <input class="form-control" type="datetime-local" [(ngModel)]="calendar.grantStartDate"/><br>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">End of Grant Date:</div>
                        <div class="col-sm-6">
                          <input class="form-control" type="datetime-local" [(ngModel)]="calendar.grantEndDate"/><br>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">Project Reporting Start Date:</div>
                        <div class="col-sm-6">
                          <input class="form-control" type="datetime-local" [(ngModel)]="calendar.projectReportingStartDate"/><br>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">Reporting Period:
                        </div>
                        <div class="col-sm-6">
                          <ul class="list-group list-group-flush" style="line-height: 10px;">
                            <li class="list-group-item" *ngFor="let period of periodItems">
                              <input type="radio" name="reporting_period" [(ngModel)]="calendar.periodType"
                                     value="{{period.value}}"/>
                              {{period.name}}
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="row"><div class="col-sm-6"></div>
                        <div class="col-sm-6 align-self-start">
                          <br>
                          <button class="btn btn-success"
                                  style="height: 37px;
                                  width: max-content;
                                  padding: revert;
                                  font-size: 12px;"
                                  (click)="generateCalendar($event)">
                            <i class="fas fa-plus"></i>
                            Generate Calendar</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <h3>Generated Reporting Calendar</h3>
                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                             class="table table-striped table-bordered" id="calendar">
                        <thead>
                        <tr>
                          <th class='text-center'>{{ calendar.periodType }}</th>
                          <th class='text-center'>Start Date</th>
                          <th class='text-center'>End Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let row of calendar.reportingCalender">
                          <td class='text-center' style="display: none;">{{row.id}}</td>
                          <td class='text-center'>{{ row.datePeriod }}</td>
                          <td class='text-center'>{{ row.startDate }}</td>
                          <td class='text-center'>{{ row.endDate }}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <h3 style="margin-left: 40px;">OUTPUT INDICATORS</h3>
                <div class="card">
                  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                         class="table table-striped table-bordered" id="indicators">
                    <thead>
                    <tr>
                      <th class='text-center'>Indicator</th>
                      <th class='text-center'>Overall Target</th>
                      <th class='text-center'>Disaggregation</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let row of indicators">
                      <td class='text-center' style="display: none;">{{row.id}}</td>
                      <td class='text-center'>{{ row.indicator }}</td>
                      <td class='text-center'>{{ row.overallTarget}}</td>
                      <td class='text-center'><button class="btn btn-link" [id]="row.id" (click)="toggleDisaggregation($event, row)"><i style="font-size:20px;" class="text fas fa-plus"></i></button></td>
                    </tr>
                    </tbody>
                  </table>
                </div>

                <h3 style="margin-left: 40px;">BUDGET</h3>
                <div class="card">
                  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                         class="table table-striped table-bordered" id="budget">
                    <thead>
                    <tr>
                      <th class='text-center'>Budget Line</th>
                      <th class='text-center'>Approved amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let row of budget">
                      <td class='text-center' style="display: none;">{{row.id}}</td>
                      <td class='text-center'>{{ row.budgetLine }}</td>
                      <td class='text-center' [id]="row.id">
                        <div>{{ row.approvedAmount }}
                          <button class="btn btn-link"
                                  (click)="cellEditor(row, row.id, 'budget', row.approvedAmount)"><i
                            class="fas fa-pencil-alt"></i></button>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>

                <h3 style="margin-left: 40px;">DISBURSEMENT PLAN</h3>
                <div class="card">
                  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                         class="table table-striped table-bordered" id="disbursement_plan">
                    <thead>
                    <tr>
                      <th class='text-center'>Quarter</th>
                      <th class='text-center'>Start Date</th>
                      <th class='text-center'>End Date</th>
                      <th class='text-center'>Disbursement</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let row of disbursementPlan">
                      <td class='text-center' style="display: none;">{{row.id}}</td>
                      <td class='text-center'>{{row.quarter }}</td>
                      <td class='text-center'>{{row.startDate }}</td>
                      <td class='text-center'>{{ row.endDate }}</td>
                      <td class='text-center' [id]="row.id">
                        <div>{{ row.disbursement }}
                          <button class="btn btn-link"
                                  (click)="cellEditor(row, row.id, 'disbursementPlan', row.disbursement)"><i
                            class="fas fa-pencil-alt"></i></button>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>

                <h3 style="margin-left: 40px;">CURRENT STATUS</h3>
                <div class="card">
                  <div style="margin: 10px;">
                    <div class="row" style="margin-bottom: 0px; margin-top: 0px;">
                      <div class="col">Total Amount Disbursed:</div>
                      <div class="col text-left"><input type="text" class="form-control"
                                                        [(ngModel)]="currentStatus.totalAmountDisbursed"/><br></div>
                    </div>
                    <div class="row" style="margin-bottom: 0px; margin-top: 0px;">
                      <div class="col">Total Amount Accounted for:</div>
                      <div class="col text-left"><input type="text" class="form-control"
                                                        [(ngModel)]="currentStatus.totalAmountAccountedFor"/><br></div>
                    </div>
                    <div class="row" style="margin-bottom: 0px; margin-top: 0px;">
                      <div class="col">Date of last Disbursement:</div>
                      <div class="col text-left"><input type="text" class="form-control"
                                                        [(ngModel)]="currentStatus.dateOfLastDisbursement"/><br></div>
                    </div>
                    <div class="row" style="margin-bottom: 0px; margin-top: 0px;">
                      <div class="col">Start Reporting Cycle?</div>
                      <div class="col">
                        <label class="switch">
                          <input type="checkbox" class="form-control" [(ngModel)]="currentStatus.startReportingCycle"/>
                          <span class="slider round"></span>
                        </label>
                        <br></div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12 bottom_buttons_row"
                       style="text-align: -webkit-center; display: flex; justify-content: space-evenly;">
                    <button class="btn btn-danger" (click)="onBackPressed()">Cancel</button>
                    <button class="btn btn-success" (click)="onSavePlan()">Save Plan</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
