<form [formGroup]="formGroup" (ngSubmit)="submitLetter()">

  <h3 style="margin-left: 40px;">1. Submission Instructions</h3>
  <div class="card">
    <div class="row" style="margin: 10px;">
      <p></p>
    </div>
  </div>

  <h3 style="margin-left: 40px;">2. The Proposed Planning/Learning Grant</h3>
  <div class="card">
    <div class="row" style="margin: 10px;">
      <div class="col-sm-4">Select the program you wish to apply for:<span class="required-indicator">*</span></div>
      <div class="col-sm-4">
        <div style="margin-bottom: 30px;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let item of programs">
              <input
                class="form-control"
                placeholder="Program"
                type="radio"
                style="padding-left: 10px;"
                formControlName="program"
                value="{{item.id}}"
                [ngClass]="{ 'is-invalid': submitted && f.program.errors }"
              >
              {{item.name}}
            </li>
          </ul>
          <div *ngIf="submitted && f.program.errors" class="invalid-feedback">
            <div *ngIf="f.program.errors.required" class="input-error">Program is
              required
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <button class="btn btn-link"><a href="#" style="font-size:15px;"
                                        class="text fas fa-file-download"
                                        target="_blank" download>&nbsp;&nbsp;Download Application Template</a>
        </button>
      </div>
    </div>
  </div>

  <h3 style="margin-left: 40px;">3. Organisational Information</h3>
  <div class="card">
    <div class="card-body">
      <div class="row" style="margin: 10px;">
        <div class="col-sm-6"><label>Name of the Lead Cluster Organisation:<span
          class="required-indicator">*</span></label></div>
        <div class="col-sm-6">
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <input
                class="form-control"
                placeholder="Organisation Name"
                type="text"
                style="padding-left: 10px;"
                formControlName="organisation"
                [ngClass]="{ 'is-invalid': submitted && f.organisation.errors }"
              >
              <div *ngIf="submitted && f.organisation.errors" class="invalid-feedback">
                <div *ngIf="f.organisation.errors.required" class="input-error">Organisation is
                  required
                </div>
              </div>
            </div>
            <div *ngIf="f.organisation.hasError('alreadyExist')">
              <div class="input-error">organisation is already exists</div>
            </div>

          </div>
        </div>
      </div>

      <div class="row" style="margin: 10px;">
        <div class="col-sm-6"><label>Acronym Name:</label></div>
        <div class="col-sm-6">
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <input
                class="form-control"
                placeholder="Acronym Name"
                type="text"
                style="padding-left: 10px;"
                formControlName="acronym"
                [ngClass]="{ 'is-invalid': submitted && f.acronym.errors }"
              >
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin: 10px;">
        <div class="col-sm-6"><label>Type of Organisation:<span
          class="required-indicator">*</span></label></div>
        <div class="col-sm-6">
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <ng-select class="form-control form-control-sm"
                         name="datatable_length"
                         aria-controls="datatable"
                         style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                         [multiple]="true"
                         placeholder="Organization Type"
                         formControlName="organization_type"
                         [ngClass]="{ 'is-invalid': submitted && f.organization_type.errors }"
                         [searchable]="true"
                         [clearable]="true"
              >
                <ng-option [value]="item.id" *ngFor="let item of organizationType">
                  {{item.name}}
                </ng-option>
              </ng-select>
              <div *ngIf="submitted && f.organization_type.errors" class="invalid-feedback">
                <div *ngIf="f.organization_type.errors.required" class="input-error">Organization Type is required</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin: 10px;">
        <div class="col-sm-6"><label>Legal Status:<span
          class="required-indicator">*</span></label></div>
        <div class="col-sm-6">
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <input
                class="form-control"
                placeholder="Legal Status"
                type="text"
                style="padding-left: 10px;"
                formControlName="legal_status"
                [ngClass]="{ 'is-invalid': submitted && f.legal_status.errors }"
              >
              <div *ngIf="submitted && f.legal_status.errors" class="invalid-feedback">
                <div *ngIf="f.legal_status.errors.required" class="input-error">Legal Status</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin: 10px;">
        <div class="col-sm-6"><label>Name of Contact Person:<span
          class="required-indicator">*</span></label></div>
        <div class="col-sm-6">
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <input
                class="form-control"
                placeholder="Contact Person"
                type="text"
                style="padding-left: 10px;"
                formControlName="contact_person"
                [ngClass]="{ 'is-invalid': submitted && f.contact_person.errors }"
              >
              <div *ngIf="submitted && f.contact_person.errors" class="invalid-feedback">
                <div *ngIf="f.contact_person.errors.required" class="input-error">Contact Person is
                  required
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin: 10px;">
        <div class="col-sm-6"><label>Address of contact person (if different):<span
          class="required-indicator">*</span></label></div>
        <div class="col-sm-6">
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <input
                class="form-control"
                placeholder="Address"
                type="text"
                style="padding-left: 10px;"
                formControlName="address_contact_person"
                [ngClass]="{ 'is-invalid': submitted && f.address_contact_person.errors }"
              >
              <div *ngIf="submitted && f.address_contact_person.errors" class="invalid-feedback">
                <div *ngIf="f.address_contact_person.errors.required" class="input-error">Address is
                  required
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin: 10px;">
        <div class="col-sm-6"><label>Email address of contact person:<span
          class="required-indicator">*</span></label></div>
        <div class="col-sm-6">
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <input
                class="form-control"
                placeholder="Email Address"
                type="text"
                style="padding-left: 10px;"
                formControlName="email_address"
                [ngClass]="{ 'is-invalid': submitted && f.email_address.errors }"
              >
              <div *ngIf="submitted && f.email_address.errors" class="invalid-feedback">
                <div *ngIf="f.email_address.errors.required" class="input-error">Email address is
                  required
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin: 10px;">
        <div class="col-sm-6"><label>Phone of contact person:<span
          class="required-indicator">*</span></label></div>
        <div class="col-sm-6">
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <input
                class="form-control"
                placeholder="Phone Number"
                type="text"
                style="padding-left: 10px;"
                formControlName="contact_person_number"
                [ngClass]="{ 'is-invalid': submitted && f.contact_person_number.errors }"
              >
              <div *ngIf="submitted && f.contact_person_number.errors" class="invalid-feedback">
                <div *ngIf="f.contact_person_number.errors.required" class="input-error">Phone Number is
                  required
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin: 10px;">
        <div class="col-sm-6"><label>Physical Address:<span
          class="required-indicator">*</span></label></div>
        <div class="col-sm-6">
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <input
                class="form-control"
                placeholder="Physical Address"
                type="text"
                style="padding-left: 10px;"
                formControlName="physical_address"
                [ngClass]="{ 'is-invalid': submitted && f.physical_address.errors }"
              >
              <div *ngIf="submitted && f.physical_address.errors" class="invalid-feedback">
                <div *ngIf="f.physical_address.errors.required" class="input-error">Physical Address is
                  required
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin: 10px;">
        <div class="col-sm-6"><label>Postal Address:</label></div>
        <div class="col-sm-6">
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <input
                class="form-control"
                placeholder="Postal Address"
                type="text"
                style="padding-left: 10px;"
                formControlName="postal_address"
                [ngClass]="{ 'is-invalid': submitted && f.postal_address.errors }"
              >
              <div *ngIf="submitted && f.postal_address.errors" class="invalid-feedback">
                <div *ngIf="f.postal_address.errors.required" class="input-error">Postal Address is
                  required
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin: 10px;">
        <div class="col-sm-6"><label>Email:<span
          class="required-indicator">*</span></label></div>
        <div class="col-sm-6">
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <input
                class="form-control"
                placeholder="Email"
                type="text"
                style="padding-left: 10px;"
                formControlName="email"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              >
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required" class="input-error">Email is
                  required
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin: 10px;">
        <div class="col-sm-6"><label>Website:</label></div>
        <div class="col-sm-6">
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <input
                class="form-control"
                placeholder="Website"
                type="text"
                style="padding-left: 10px;"
                formControlName="website"
                [ngClass]="{ 'is-invalid': submitted && f.website.errors }"
              >
              <div *ngIf="submitted && f.website.errors" class="invalid-feedback">
                <div *ngIf="f.website.errors.required" class="input-error">Website is
                  required
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin: 10px;">
        <div class="col-sm-6"><label>Country:</label></div>
        <div class="col-sm-6">
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <ng-select class="form-control form-control-sm"
                         name="datatable_length"
                         aria-controls="datatable"
                         style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                         [multiple]="false"
                         placeholder="Country"
                         formControlName="country"
                         (ngModelChange)="onSelectCountry($event)"
                         [ngClass]="{ 'is-invalid': submitted && f.country.errors }"
                         [searchable]="true"
                         [clearable]="true"
              >
                <ng-option [value]="country" *ngFor="let country of countries">
                  {{country}}
                </ng-option>
              </ng-select>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin: 10px;">
        <div class="col-sm-6"><label>City:</label></div>
        <div class="col-sm-6">
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <ng-select class="form-control form-control-sm"
                         name="datatable_length"
                         aria-controls="datatable"
                         style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                         [multiple]="false"
                         placeholder="City"
                         formControlName="city"
                         [ngClass]="{ 'is-invalid': submitted && f.city.errors }"
                         [searchable]="true"
                         [clearable]="true"
              >
                <ng-option [value]="city" *ngFor="let city of cities">
                  {{city}}
                </ng-option>
              </ng-select>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin: 10px;">

        <div class="col-sm-6"><label>Attach Letter of Interest:</label></div>
        <div class="col-sm-6">
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <input
                class="form-control"
                placeholder="Attachment"
                type="file"
                style="padding-left: 10px;"
                formControlName="attachment"
                [ngClass]="{ 'is-invalid': submitted && f.attachment.errors }"
              >
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</form>
