<form [formGroup]="formGroup" (ngSubmit)="submitLetter()">

  <h3 style="margin-left: 40px;">A. Submission Instructions</h3>
  <div class="card">
    <div class="row" style="margin: 10px;">
      <p></p>
    </div>

  <h4 style="margin-left: 40px;">The Proposed Planning/Learning Grant</h4>
    <div class="row" style="margin: 20px;">
      <div class="col-sm-4">Select the program you wish to apply for:<span class="required-indicator">*</span></div>
      <div class="col-sm-4">
        <div style="margin-bottom: 30px;">
          <ul class="list-group list-group-flush" *ngFor="let item of programs">
            <li class="list-group-item">
              <input type="radio" formControlName="program" value="{{item.id}}" [ngClass]="{ 'is-invalid': submitted && f.program.errors }">
              {{item.name}}
            </li>
          </ul>
          <div *ngIf="submitted && f.program.errors" class="invalid-feedback">
            <div *ngIf="f.program.errors.required" class="input-error">Program is
              required
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <button class="btn btn-link"><a href="#" style="font-size:15px;"
                                        class="text fas fa-file-download"
                                        target="_blank" download>&nbsp;&nbsp;Download Application Template</a>
        </button>
      </div>
    </div>
  </div>

  <h3 style="margin-left: 40px;">B. Organisational Information</h3>
  <div class="card">
    <div class="card-body">
      <div class="row" style="margin: 10px;">
        <div class="col-sm-6">
          <label>Name of the Lead Cluster Organisation:<span class="required-indicator">*</span></label>
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <input
                class="form-control"
                placeholder="Organisation Name"
                type="text"
                style="padding-left: 10px;"
                formControlName="organisation"
                [ngClass]="{ 'is-invalid': submitted && f.organisation.errors }"
              >
              <div *ngIf="submitted && f.organisation.errors" class="invalid-feedback">
                <div *ngIf="f.organisation.errors.required" class="input-error">Organisation is
                  required
                </div>
              </div>
            </div>
            <div *ngIf="f.organisation.hasError('alreadyExist')">
              <div class="input-error">organisation is already exists</div>
            </div>

          </div>
        </div>
        <div class="col-sm-6">
          <label>Acronym Name:</label>
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <input
                class="form-control"
                placeholder="Acronym Name"
                type="text"
                style="padding-left: 10px;"
                formControlName="acronym"
                [ngClass]="{ 'is-invalid': submitted && f.acronym.errors }"
              >
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin: 10px;">
        <div class="col-sm-6">
          <label>Type of Organisation:<span class="required-indicator">*</span></label>
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <ng-select class="form-control form-control-sm"
                         aria-controls="datatable"
                         style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                         [multiple]="false"
                         placeholder="Organization Type"
                         formControlName="organizationType"
                         [ngClass]="{ 'is-invalid': submitted && f.organizationType.errors }"
                         [searchable]="true"
                         [clearable]="true"
              >
                <ng-option [value]="item.id" *ngFor="let item of organizationType">
                  {{item.name}}
                </ng-option>
              </ng-select>
              <div *ngIf="submitted && f.organizationType.errors" class="invalid-feedback">
                <div *ngIf="f.organizationType.errors.required" class="input-error">Organization Type is required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <label>Legal Status:<span class="required-indicator">*</span></label>
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <input
                class="form-control"
                placeholder="Legal Status"
                type="text"
                style="padding-left: 10px;"
                formControlName="legalStatus"
                [ngClass]="{ 'is-invalid': submitted && f.legalStatus.errors }"
              >
              <div *ngIf="submitted && f.legalStatus.errors" class="invalid-feedback">
                <div *ngIf="f.legalStatus.errors.required" class="input-error">Legal Status</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin: 10px;">
        <div class="col-sm-6">
          <label>Name of Contact Person:<span class="required-indicator">*</span></label>
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <input
                class="form-control"
                placeholder="Contact Person"
                type="text"
                style="padding-left: 10px;"
                formControlName="contactPerson"
                [ngClass]="{ 'is-invalid': submitted && f.contactPerson.errors }"
              >
              <div *ngIf="submitted && f.contactPerson.errors" class="invalid-feedback">
                <div *ngIf="f.contactPerson.errors.required" class="input-error">Contact Person is
                  required
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <label>Address of contact person (if different):<span class="required-indicator">*</span></label>
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <input
                class="form-control"
                placeholder="Address"
                type="text"
                style="padding-left: 10px;"
                formControlName="addressContactPerson"
                [ngClass]="{ 'is-invalid': submitted && f.addressContactPerson.errors }"
              >
              <div *ngIf="submitted && f.addressContactPerson.errors" class="invalid-feedback">
                <div *ngIf="f.addressContactPerson.errors.required" class="input-error">Address is
                  required
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin: 10px;">
        <div class="col-sm-6">
          <label>Email address of contact person:<span class="required-indicator">*</span></label>
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <input
                class="form-control"
                placeholder="Email Address"
                type="text"
                style="padding-left: 10px;"
                formControlName="emailAddress"
                [ngClass]="{ 'is-invalid': submitted && f.emailAddress.errors }"
              >
              <div *ngIf="submitted && f.emailAddress.errors" class="invalid-feedback">
                <div *ngIf="f.emailAddress.errors.required" class="input-error">Email address is
                  required
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <label>Phone of contact person:<span class="required-indicator">*</span></label>
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <input
                class="form-control"
                placeholder="Phone Number"
                type="text"
                style="padding-left: 10px;"
                formControlName="contactPersonNumber"
                [ngClass]="{ 'is-invalid': submitted && f.contactPersonNumber.errors }"
              >
              <div *ngIf="submitted && f.contactPersonNumber.errors" class="invalid-feedback">
                <div *ngIf="f.contactPersonNumber.errors.required" class="input-error">Phone Number is
                  required
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin: 10px;">
        <div class="col-sm-6">
          <label>Physical Address:<span class="required-indicator">*</span></label>
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <input
                class="form-control"
                placeholder="Physical Address"
                type="text"
                style="padding-left: 10px;"
                formControlName="physicalAddress"
                [ngClass]="{ 'is-invalid': submitted && f.physicalAddress.errors }"
              >
              <div *ngIf="submitted && f.physicalAddress.errors" class="invalid-feedback">
                <div *ngIf="f.physicalAddress.errors.required" class="input-error">Physical Address is
                  required
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <label>Postal Address:</label>
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <input
                class="form-control"
                placeholder="Postal Address"
                type="text"
                style="padding-left: 10px;"
                formControlName="postalAddress"
                [ngClass]="{ 'is-invalid': submitted && f.postalAddress.errors }"
              >
              <div *ngIf="submitted && f.postalAddress.errors" class="invalid-feedback">
                <div *ngIf="f.postalAddress.errors.required" class="input-error">Postal Address is
                  required
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin: 10px;">
        <div class="col-sm-6">
          <label>Email:<span class="required-indicator">*</span></label>
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <input
                class="form-control"
                placeholder="Email"
                type="text"
                style="padding-left: 10px;"
                formControlName="email"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              >
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required" class="input-error">Email is
                  required
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <label>Website:</label>
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <input
                class="form-control"
                placeholder="Website"
                type="text"
                style="padding-left: 10px;"
                formControlName="website"
                [ngClass]="{ 'is-invalid': submitted && f.website.errors }"
              >
              <div *ngIf="submitted && f.website.errors" class="invalid-feedback">
                <div *ngIf="f.website.errors.required" class="input-error">Website is
                  required
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin: 10px;">
        <div class="col-sm-6">
          <label>Country:</label>
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <ng-select class="form-control form-control-sm"
                         aria-controls="datatable"
                         style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                         [multiple]="false"
                         placeholder="Country"
                         formControlName="country"
                         (ngModelChange)="onSelectCountry($event)"
                         [ngClass]="{ 'is-invalid': submitted && f.country.errors }"
                         [searchable]="true"
                         [clearable]="true"
              >
                <ng-option [value]="country" *ngFor="let country of countries">
                  {{country}}
                </ng-option>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <label>City:</label>
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <ng-select class="form-control form-control-sm"
                         aria-controls="datatable"
                         style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                         [multiple]="false"
                         placeholder="City"
                         formControlName="city"
                         [ngClass]="{ 'is-invalid': submitted && f.city.errors }"
                         [searchable]="true"
                         [clearable]="true"
              >
                <ng-option [value]="city" *ngFor="let city of cities">
                  {{city}}
                </ng-option>
              </ng-select>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin: 10px;">
        <div class="col-sm-6">
          <label>Attach Letter of Interest:</label>
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <input
                *ngIf="!isReadOnly"
                class="form-control"
                placeholder="Attachment"
                type="file"
                style="padding-left: 10px;"
                id="letterOfAttachment"
                (change)="handleFileInput($event)"
              >
              <button
                *ngIf="isReadOnly"
                type="button"
                (click)="fileUploadService.downloadFile(formGroup.controls.letterAttachment.value)"
                class="btn btn-link">{{formGroup.controls.letterAttachment.value}}</button>
            </div>
          </div>
        </div>
        <!--Flag variable is used here-->
        <div class="container" *ngIf="loading">
          <h3>Uploading attachment, please wait ...</h3>
        </div>
      </div>

    </div>
  </div>

  <input class="form-control" type="hidden" formControlName="status" [value]="'not_stated'">

  <div *ngIf="error || success" class="row align-items-center text-center"
       style="display: flex; justify-content: center;">
    <div class="alert alert-danger" style="width: 40%;" *ngIf="error">
      <strong>Error:</strong> {{errorMessage}}
    </div>
    <div class="alert" style="width: 40%; color: saddlebrown; background-color: white;" *ngIf="success">
      <strong>Success:</strong> {{successMessage}}
    </div>
  </div>

  <div class="row" *ngIf="!isReadOnly">
    <div class="col-lg-12 bottom_buttons_row"
         style="text-align: -webkit-center; display: flex; justify-content: space-evenly;">
      <button class="btn btn-danger" (click)="cancel()">Cancel</button>
      <button class="btn btn-warning" type="submit">Save Current Version</button>
      <button class="btn btn-success" type="submit" (click)="submitLetter()">Submit Application</button>
    </div>
  </div>

</form>
