<form [formGroup]="formGpReport" (ngSubmit)="submitReport()" *ngIf="formGpReport">
  <h3 style="margin-left: 40px;">Submission</h3>
  <div class="card">
    <div class="card-body">
      <div class="row" style="margin: 10px;">
        <div class="col-sm-6">
          <label>1. Total Grant Amount Received:<span class="required-indicator">*</span></label>
        </div>
        <div class="col-sm-6">
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <input
                class="form-control"
                placeholder="Amount"
                type="number"
                style="padding-left: 10px;"
                formControlName="grantAmount"
                (keyup)="calculateBalance()"
                [ngClass]="{ 'is-invalid': submitted && f.grantAmount.errors }"
              >
            </div>
            <div *ngIf="submitted && f.grantAmount.errors">
              <div *ngIf="f.grantAmount.errors.required" class="input-error">This value is
                required
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin: 10px;">
        <div class="col-sm-6">
          <label>2. Total Grant Amount Utilised in the period:<span class="required-indicator">*</span></label>
        </div>
        <div class="col-sm-6">
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <input
                class="form-control"
                placeholder="Amount"
                type="number"
                style="padding-left: 10px;"
                formControlName="grantAmountUtilised"
                (keyup)="calculateBalance()"
                [ngClass]="{ 'is-invalid': submitted && f.grantAmountUtilised.errors }"
              >
            </div>
            <div *ngIf="submitted && f.grantAmountUtilised.errors" >
              <div *ngIf="f.grantAmountUtilised.errors.required" class="input-error">This value is
                required
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin: 10px;">
        <div class="col-sm-6">
          <label>3. Balance not spent /overspent:<span class="required-indicator">*</span></label>
        </div>
        <div class="col-sm-6">
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <input
                class="form-control"
                placeholder="Amount"
                type="number"
                style="padding-left: 10px;"
                formControlName="balance"
                [ngClass]="{ 'is-invalid': negativeBalance || (submitted && f.balance.errors) }"
              >
            </div>
            <div *ngIf="submitted && f.balance.errors" >
              <div *ngIf="f.balance.errors.required" class="input-error">This value is
                required
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin: 10px;">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-4">
              <p>4. Period covered by this report:<span class="required-indicator">*</span></p>
            </div>
            <div class="col-sm-4">
              <label>From:</label><input class="form-control"
                                         placeholder="From"
                                         type="date"
                                         style="padding-left: 10px;"
                                         formControlName="periodFrom"
                                         [ngClass]="{ 'is-invalid': submitted && f.periodFrom.errors }"/>
              <div *ngIf="submitted && f.periodFrom.errors" >
                <div *ngIf="f.periodFrom.errors.required" class="input-error">This value is
                  required
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <label>To:</label><input class="form-control"
                                       placeholder="To"
                                       type="date"
                                       style="padding-left: 10px;"
                                       formControlName="periodTo"
                                       [ngClass]="{ 'is-invalid': submitted && f.periodTo.errors }"/>
              <div *ngIf="submitted && f.periodTo.errors" >
                <div *ngIf="f.periodTo.errors.required" class="input-error">This value is
                  required
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin: 10px;">
        <div class="col-sm-6">
          <label>5. Attach Report (Use the format provided):<span class="required-indicator">*</span></label>
        </div>
        <div class="col-sm-6">
          <div class="form-group ">
            <div class=" input-group input-group-merge">
            <input
              *ngIf="!isReadOnly"
              class="form-control"
              placeholder="Attachment"
              type="file"
              style="padding-left: 10px;"
              id="reportAttachment"
              (change)="handleFileInput($event)"
            ></div>
            <div *ngIf="submitted && f.reportAttachment.errors" >
              <div *ngIf="f.reportAttachment.errors.required" class="input-error">This value is
                required
              </div>
            </div>
          </div>
            <button
              *ngIf="!isReadOnly"
              type="button"
              (click)="fileUploadService.downloadFile('Planning and learning report format.docx')"
              class="btn btn-link">Download Template Here <i class="fas fa-download"></i></button>
            <button
              *ngIf="(isReadOnly || isMakeCorrections) && f.reportAttachment.value!=null"
              type="button"
              (click)="fileUploadService.downloadFile(f.reportAttachment.value)"
              class="btn btn-link">{{fileUploadService.getFileName(f.reportAttachment.value)}}</button>
        </div>
      </div>
      <div class="row" style="margin: 10px;">
        <div class="col-sm-6">
          <label>6. Date when report was submitted:<span class="required-indicator">*</span></label>
        </div>
        <div class="col-sm-6">
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <input
                class="form-control"
                placeholder="Date"
                type="date"
                style="padding-left: 10px;"
                formControlName="dateReportSubmitted"
                [ngClass]="{ 'is-invalid': submitted && f.dateReportSubmitted.errors }"
              >
            </div>
            <div *ngIf="submitted && f.dateReportSubmitted.errors" >
              <div *ngIf="f.dateReportSubmitted.errors.required" class="input-error">This value is
                required
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>
      <input class="form-control" type="hidden" formControlName="grantId" [ngModel]="grantId">
      <input class="form-control" type="hidden" formControlName="processInstanceId" [ngModel]="processInstanceId">
      <input class="form-control" type="hidden" formControlName="definitionKey" [ngModel]="definitionKey">
      <input class="form-control" type="hidden" id="status" [ngModel]="status">

      <div class="row" *ngIf="!isReadOnly">
        <div class="col-lg-12 bottom_buttons_row"
             style="text-align: -webkit-center; display: flex; justify-content: space-evenly;">
          <button class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>
          <button class="btn btn-warning" type="button" (click)="saveDraft()">Save for Later</button>
          <button class="btn btn-success" type="submit">Submit Report</button>
        </div>
      </div>
    </div>
  </div>
</form>
