<div class="header bg-success pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col">
      <div class=" card">
        <div class="row">

          <div style="width: 100%; text-align: -webkit-center; display: block;">
            <div [style.display]="isSubmitLetterOfInterest || isReviewLetterOfInterest ? 'block' : 'none'"><h6 class="h2 d-inline-block mb-0">SUBMIT LETTER OF INTEREST</h6></div>
            <div [style.display]="isPlanningLearningApplication ? 'block' : 'none'"><h6 class="h2 d-inline-block mb-0">PLANNING AND LEARNING GRANT APPLICATION</h6></div>
            <div [style.display]="isReviewLearningGrant ? 'block' : 'none'"><h6 class="h2 d-inline-block mb-0">REVIEW LEARNING GRANT APPLICATION</h6></div>
            <div [style.display]="isApprovePlanningLearningGrant ? 'block' : 'none'"><h6 class="h2 d-inline-block mb-0">APPROVE PLANNING AND LEARNING GRANT</h6></div>
            <div [style.display]="isProvidePlanningLearningGrant ? 'block' : 'none'"><h6 class="h2 d-inline-block mb-0">PROVIDE PLANNING AND LEARNING GRANT</h6></div>
          </div>

          <div class=" col-md-12 col-sm-12" style="margin-top: 40px;">

            <div *ngIf="isSubmitLetterOfInterest" class=" col">
              <application-letter [isReadOnly]="false"></application-letter>
            </div>

            <div *ngIf="isReviewLetterOfInterest" class=" col">

              <application-letter [isReadOnly]="true"></application-letter>

              <h3 style="margin-left: 40px;">Form</h3>
              <div class="card">
                <div class="row" style="margin: 10px;">
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col">
                        <p>Has the application been reviewed?</p>
                        <div class="text-left">
                          <ul style="list-style: none;" *ngFor="let item of items">
                            <li>
                              <input type="radio" name="hasApplicationBeenReviewed" [(ngModel)]="hasApplicationBeenReviewed"
                                     value="{{item.value}}"/>
                              {{item.name}}
                            </li>
                          </ul>
                        </div>
                      </div>

                      <div class="col">
                        <p>Has due diligence been conducted?</p>
                        <div class="text-left">
                          <ul style="list-style: none;" *ngFor="let item of items">
                            <li>
                              <input type="radio" name="hasDueDiligenceConducted" [(ngModel)]="hasDueDiligenceConducted"
                                     value="{{item.value}}"/>
                              {{item.name}}
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <p>What was the decision of the review process?</p>
                        <div class="text-left">
                          <ul style="list-style: none;" *ngFor="let item of decision">
                            <li>
                              <input type="radio" name="decisionOfReviewProcess" [(ngModel)]="decisionOfReviewProcess"
                                     value="{{item.value}}"/>
                              {{item.name}}
                            </li>
                          </ul>
                        </div>
                      </div>

                      <div class="col">
                        <div class="text-left">
                          <label for="dateOfDueDiligence">Date when due diligence was done:</label>
                          <input type="date" class="form-control" id="dateOfDueDiligence"
                                 [(ngModel)]="dateOfDueDiligence"/><br>
                        </div>
                        <div class="text-left">
                          <label for="attachmentDiligenceReport">Attach due diligence report:</label>
                          <input type="file" class="form-control" id="attachmentDiligenceReport"
                                 [(ngModel)]="attachmentDiligenceReport"/><br>
                        </div>
                      </div>
                    </div>
                    <div class="row" style="margin: 10px;">
                      <label for="reviewerComments">Provide any comments</label>
                      <textarea class="form-control" rows="3" id="reviewerComments"
                                [(ngModel)]="reviewerComments"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 bottom_buttons_row"
                       style="text-align: -webkit-center; display: flex; justify-content: space-evenly;">
                    <button class="btn btn-warning">Save Current Version</button>
                    <button class="btn btn-success">Submit Review</button>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="isPlanningLearningApplication" class=" col">
              <planning-learning-application [isReadOnly]="false"></planning-learning-application>
            </div>

            <div *ngIf="isReviewLearningGrant" class="col">
              <planning-learning-application [isReadOnly]="true"></planning-learning-application>


              <h3 style="margin-left: 40px;">Reviewer Action</h3>
              <div class="card">
                <div class="row" style="margin: 10px;">
                  <div class="col-sm-12">

                    <div class="row">
                      <div class="col">
                        <p>Is the concept in line with the objectives of the project?</p>
                        <div class="text-left">
                          <ul style="list-style: none;" *ngFor="let item of items">
                            <li>
                              <input type="radio" name="isConceptInline" [(ngModel)]="isConceptInline"
                                     value="{{item.value}}"/>
                              {{item.name}}
                            </li>
                          </ul>
                        </div>
                      </div>

                      <div class="col">
                        <p>Does it adhere to the strategic objectives of the organization?</p>
                        <div class="text-left">
                          <ul style="list-style: none;" *ngFor="let item of items">
                            <li>
                              <input type="radio" name="doesItAdhere" [(ngModel)]="doesItAdhere"
                                     value="{{item.value}}"/>
                              {{item.name}}
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <p>Are they adhering to the purpose of the planning and learning grant?</p>
                        <div class="text-left">
                          <ul style="list-style: none;" *ngFor="let item of items">
                            <li>
                              <input type="radio" name="areTheyAdhering" [(ngModel)]="areTheyAdhering"
                                     value="{{item.value}}"/>
                              {{item.name}}
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <p>What was the decision of the review process?</p>
                        <div class="text-left">
                          <ul style="list-style: none;" *ngFor="let item of decision">
                            <li>
                              <input type="radio" name="how_to_proceed" [(ngModel)]="decisionOfReviewProcess"
                                     value="{{item.value}}"/>
                              {{item.name}}
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="row" style="margin: 10px;">
                      <label for="reviewerActionComments">Provide any comments</label>
                      <textarea class="form-control" rows="3" id="reviewerActionComments"
                                [(ngModel)]="reviewerComments"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 bottom_buttons_row"
                       style="text-align: -webkit-center; display: flex; justify-content: space-evenly;">
                    <button class="btn btn-warning">Cancel</button>
                    <button class="btn btn-success">Submit Review</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
