<h3 style="margin-left: 40px;">ORGANISATIONAL INFORMATION</h3>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <ul style="list-style: none; font-size: 16px">
          <li>Name of the Lead Cluster Organization: <b>{{organisationalInfo?.organisation}}</b></li>
          <li>Acronym Name: <b>{{organisationalInfo?.acronym}}</b></li>
          <li>Type of Organisation: <b>{{organisationalInfo?.organizationType}}</b></li>
          <li>Legal Status: <b>{{organisationalInfo?.legalStatus}}</b></li>
          <li>Name of Contact Person: <b>{{organisationalInfo?.contactPerson}}</b></li>
          <li>
            <button
              type="button"
              (click)="fileUploadService.downloadFile(organisationalInfo?.letterAttachment)"
              class="btn btn-link">{{organisationalInfo?.letterAttachment}}</button>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul style="list-style: none; font-size: 16px">
          <li>Physical Address: <b>{{organisationalInfo?.physicalAddress}}</b></li>
          <li>Postal Address: <b>{{organisationalInfo?.postalAddress}}</b></li>
          <li>Email: <b>{{organisationalInfo?.email}}</b></li>
          <li>Website: <b>{{organisationalInfo?.website}}</b></li>
          <li>Country: <b>{{organisationalInfo?.country}}</b></li>
          <li>City: <b>{{organisationalInfo?.city}}</b></li>
        </ul>
      </div>
    </div>
  </div>
</div>
