.selected-div {
  background-color: #e6e8e6;
  color: #ffffff!important;
}

.dark-modal .modal-content {
  background-color: transparent;
  color: white;
}

.dark-modal .close {
  color: white;
}

.light-blue-backdrop {
  background-color: #5cb3fd;
}
