<div class=" header bg-success pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <h1 style="color: white">
        CLIENT FEEDBACK
      </h1>
      <div class=" row align-items-center py-4">
          <div class="col-md-4" (click)="clickRegisteredFeedback()">
            <div class=" card card-stats" [ngClass]="{'selected-div':  active_div === 'clickRegisteredFeedback'}">
              <div class=" card-body">
                <div class=" row">
                  <div class=" col">
                    <h5 class=" card-title text-uppercase text-muted mb-0">
                      Feedback Registered
                    </h5>
                    <span class=" h2 font-weight-bold mb-0"> {{feedbackRegistered}} </span>
                  </div>
                  <div class=" col-auto">
                    <div
                      class=" icon icon-shape bg-gradient-green text-white rounded-circle shadow"
                    >
                      <i class=" fa fa-registered"> </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4" (click)="clickActioned()">
            <div class=" card card-stats" [ngClass]="{'selected-div':  active_div === 'clickActioned'}">
              <div class=" card-body">
                <div class=" row">
                  <div class=" col">
                    <h5 class=" card-title text-uppercase text-muted mb-0">
                      Actioned
                    </h5>

                    <span class=" h2 font-weight-bold mb-0"> {{feedbackActioned}} </span>
                  </div>

                  <div class=" col-auto">
                    <div
                      class=" icon icon-shape bg-gradient-red text-white rounded-circle shadow"
                    >
                      <i class=" fa fa-check-double"> </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4" (click)="clickUnderReview()">
            <div class=" card card-stats" [ngClass]="{'selected-div':  active_div === 'clickUnderReview'}">
              <div class=" card-body">
                <div class=" row">
                  <div class=" col">
                    <h5 class=" card-title text-uppercase text-muted mb-0">
                      Under Review
                    </h5>

                    <span class=" h2 font-weight-bold mb-0"> {{feedbackUnderReview}} </span>
                  </div>

                  <div class=" col-auto">
                    <div
                      class=" icon icon-shape bg-gradient-default text-white rounded-circle shadow"
                    >
                      <i class=" fa fa-eye"> </i>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4" (click)="clickNotActioned()">
            <div class=" card card-stats" [ngClass]="{'selected-div':  active_div === 'clickNotActioned'}">
              <div class=" card-body">
                <div class=" row">
                  <div class=" col">
                    <h5 class=" card-title text-uppercase text-muted mb-0">
                      No Action Required
                    </h5>
                    <span class=" h2 font-weight-bold mb-0"> {{feedbackNotActioned}} </span>
                  </div>
                  <div class=" col-auto">
                    <div
                      class=" icon icon-shape bg-gradient-green text-white rounded-circle shadow"
                    >
                      <i class=" fa fa-pause"> </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4" (click)="clickForwarded()">
            <div class=" card card-stats" [ngClass]="{'selected-div':  active_div === 'clickForwarded'}">
              <div class=" card-body">
                <div class=" row">
                  <div class=" col">
                    <h5 class=" card-title text-uppercase text-muted mb-0">
                      Forwarded for Action
                    </h5>

                    <span class=" h2 font-weight-bold mb-0"> {{feedbackForwarded}} </span>
                  </div>

                  <div class=" col-auto">
                    <div
                      class=" icon icon-shape bg-gradient-red text-white rounded-circle shadow"
                    >
                      <i class=" fa fa-share"> </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4" (click)="clickReset()">
            <div
              class=" icon icon-shape bg-gradient-default text-white rounded-circle shadow"
            >
              <i class=" fa fa-eraser"> </i>

            </div>
            <h3 style="color: white">
              Reset
            </h3>
          </div>
        </div>

    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col">
      <div class=" card">
        <h1 class="card-title" style="text-align: center">FEEDBACK LIST </h1>
        <div class="dataTables_wrapper py-4">
          <div class="row" style="padding: 11px;">
            <div class="col-lg-8 text-left" style="margin-top: -31px;">
              <div class="col-sm-12 ">
                <div class="dataTables_length" id="datatable_length">
                  <label>
                    Show
                    <select
                      name="datatable_length"
                      aria-controls="datatable"
                      class="form-control form-control-sm"
                      (change)="entriesChange($event)"
                    >
                      <option value="5" [selected]="entries == 5">5</option>
                      <option value="10" [selected]="entries == 10">10</option>
                      <option value="25" [selected]="entries == 25">25</option>
                      <option value="50" [selected]="entries == 50">50</option>
                      <option value="100" [selected]="entries == 100">100</option>
                      <option value="-1" [selected]="entries == -1">All</option>
                    </select>
                    entries
                  </label>
                </div>
              </div>
              <div class="col-sm-12 ">
                <div id="datatable_filter" class="dataTables_filter">
                  <label>
                    <input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder="Search"
                      aria-controls="datatable"
                      (keyup)="onChangeSearch($event)"
                    />
                  </label>
                </div>
              </div>
              <div class="col-sm-12 ">
                <div class="dataTables_length">
                  <ng-select class="form-control form-control-sm"
                             name="datatable_length"
                             aria-controls="datatable"
                             style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                             [multiple]="false"
                             (change)="onChangeStatus($event)"
                             placeholder="Status"
                             [searchable]="true"
                             [clearable]="true">
                    <ng-option [value]="item.name" *ngFor="let item of feedback_status">
                      {{item?.name}}
                    </ng-option>
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="col-lg-4 text-right" style="margin-top: -31px;">
              <div
                class=" btn btn-success fa fa-plus"
                (click)="createFeedback()"
                *ngIf="this.userRole != 'ROLE_REBUILD_DATA_VIEWER'"
              >
                Register New Feedback

              </div>
              <div
                class=" btn btn-success fa fa-download "
                (click)="downloadFeedback()"
              >
                Excel
              </div>
              <div
                class=" btn btn-danger fa fa-trash-can"
                (click)="deleteFeedback()"
                *ngIf="this.userRole != 'ROLE_REBUILD_DATA_VIEWER'"
              >
                Delete
              </div>
            </div>
          </div>
          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [rows]="feedback"
            [limit]="entries != -1 ? entries : undefined"
            (activate)="onActivate($event)"
          >
            <ngx-datatable-column [width]="15" prop="id">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <input type="checkbox" [value]="value" (change)="onSelected($event)">
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Client Identifier" prop="nameOfClient">

              <ng-template let-row="row" ngx-datatable-cell-template>
                <a routerLink="/feedback-edit/{{row.id}}">{{row?.nameOfClient}} </a>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Type Of Client" prop="clientType"></ngx-datatable-column>
            <ngx-datatable-column name="Registering Officer" prop="nameOfRegister"></ngx-datatable-column>
            <ngx-datatable-column name="Project" prop="project"></ngx-datatable-column>
            <ngx-datatable-column name="Location" prop="projectSite"></ngx-datatable-column>
            <ngx-datatable-column name="Date Received" prop="dateFeedbackReceived">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row?.dateFeedbackReceived | date:'dd-MM-yyyy'}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Date Created" prop="dateCreated">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row?.dateCreated | date:'dd-MM-yyyy'}}
              </ng-template>
            </ngx-datatable-column>

<!--            <ngx-datatable-column name="Project Sector" prop="projectSector"></ngx-datatable-column>-->
<!--            <ngx-datatable-column name="Name of Client" prop="nameOfClient"></ngx-datatable-column>-->
<!--           -->
            <ngx-datatable-column name="Registration Status" prop="currentStatusOfFeedback"></ngx-datatable-column>
            <ngx-datatable-column name="Current Status" prop="status"></ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
