<form [formGroup]="formGroupLT" (ngSubmit)="submitLetter()">

  <h3 style="margin-left: 40px;">A. The Proposed Project</h3>
  <div class="card">
    <div class="card-body">
      <div class="row" style="margin: 10px;">
        <div class="col">

          <div class="row">
            <div class="col-sm-6">
              <label>Title of the project:</label>
              <div class="form-group ">
                <div class=" input-group input-group-merge">
                  <input
                    class="form-control"
                    placeholder="Title"
                    type="text"
                    style="padding-left: 10px;"
                    formControlName="projectTitle"
                    [ngClass]="{ 'is-invalid': submitted && f.projectTitle.errors }"
                  >
                </div>
                <div *ngIf="submitted && f.projectTitle.errors">
                  <div *ngIf="f.projectTitle.errors.required" class="input-error">Project is
                    required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <label>Proposed duration of the project:</label>
              <div class="form-group ">
                <div class=" input-group input-group-merge">
                  <input
                    class="form-control"
                    placeholder="Project Duration"
                    type="text"
                    style="padding-left: 10px;"
                    formControlName="projectDuration"
                    [ngClass]="{ 'is-invalid': submitted && f.projectDuration.errors }"
                  >
                </div>
              </div>
            </div>
          </div>

          <b>Project location /area of operation:</b>
          <div class="row">
            <div class="col-sm-6">
              <label>Country:</label>
              <div class="form-group ">
                <div class=" input-group input-group-merge">
                  <ng-select class="form-control form-control-sm"
                             name="datatable_length"
                             aria-controls="datatable"
                             style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                             [multiple]="false"
                             placeholder="Country"
                             formControlName="country"
                             (ngModelChange)="onSelectCountry($event)"
                             [ngClass]="{ 'is-invalid': submitted && f.country.errors }"
                             [searchable]="true"
                             [clearable]="true"
                  >
                    <ng-option [value]="country" *ngFor="let country of countries">
                      {{country}}
                    </ng-option>
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <label>City:</label>
              <div class="form-group ">
                <div class=" input-group input-group-merge">
                  <ng-select class="form-control form-control-sm"
                             name="datatable_length"
                             aria-controls="datatable"
                             style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                             [multiple]="false"
                             placeholder="City"
                             formControlName="city"
                             [ngClass]="{ 'is-invalid': submitted && f.city.errors }"
                             [searchable]="true"
                             [clearable]="true"
                  >
                    <ng-option [value]="city" *ngFor="let city of cities">
                      {{city}}
                    </ng-option>
                  </ng-select>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <label>Project proposed start date:</label>
              <div class="form-group ">
                <div class=" input-group input-group-merge">
                  <input
                    class="form-control"
                    placeholder="Project proposed"
                    type="date"
                    style="padding-left: 10px;"
                    formControlName="projectProposed"
                    [ngClass]="{ 'is-invalid': submitted && f.projectProposed.errors }"
                  >
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <label>Total project amount:</label>
              <div class="form-group ">
                <div class=" input-group input-group-merge">
                  <input
                    class="form-control"
                    placeholder="Amount"
                    type="number"
                    style="padding-left: 10px;"
                    formControlName="projectAmount"
                    [ngClass]="{ 'is-invalid': submitted && f.projectAmount.errors }"
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <label>Amount requested from CRVPF:</label>
              <div class="form-group ">
                <div class=" input-group input-group-merge">
                  <input
                    class="form-control"
                    placeholder="Amount"
                    type="number"
                    style="padding-left: 10px;"
                    formControlName="amountRequested"
                    [ngClass]="{ 'is-invalid': submitted && f.amountRequested.errors }"
                  >
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <label>Other sources and amount of funding on this particular Project if any:</label>
              <div class="form-group ">
                <div class=" input-group input-group-merge">
                  <textarea
                    class="form-control"
                    placeholder="Funding"
                    style="padding-left: 10px;"
                    formControlName="funding"
                    [ngClass]="{ 'is-invalid': submitted && f.funding.errors }"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <label>Name of authorized Signatory(ies):<span
                class="required-indicator">*</span></label>
              <div class="form-group ">
                <div class=" input-group input-group-merge">
                  <input
                    class="form-control"
                    placeholder="Name"
                    type="text"
                    style="padding-left: 10px;"
                    formControlName="nameAuthorizedSignatory"
                    [ngClass]="{ 'is-invalid': submitted && f.nameAuthorizedSignatory.errors }"
                  >
                  <div *ngIf="submitted && f.nameAuthorizedSignatory.errors" class="invalid-feedback">
                    <div *ngIf="f.nameAuthorizedSignatory.errors.required" class="input-error">Name of Authorized
                      Signatory is
                      required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <label>Contact details of authorized signatory(ies):</label>
              <div class="form-group ">
                <div class=" input-group input-group-merge">
                  <input
                    class="form-control"
                    placeholder="Contact details"
                    type="text"
                    style="padding-left: 10px;"
                    formControlName="contactAuthorizedSignatory"
                    (ngModelChange)="validateNumber($event)"
                    [ngClass]="{ 'is-invalid': inValidNumber }"
                  >
                  <div *ngIf="submitted && inValidNumber">
                    <div class="input-error">Please put valid number
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <label>Bank Details</label>
              <div class="form-group ">
                <div class=" input-group input-group-merge">
              <textarea
                class="form-control"
                style="padding-left: 10px;"
                placeholder="Name of the Bank:&#10;Bank Address:&#10;Title of the Account:&#10;Account Number:&#10;SWIFT CODE:"
                formControlName="bankDetails"
                rows="5"
                [ngClass]="{ 'is-invalid': submitted && f.bankDetails.errors }"
              ></textarea>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <h3 style="margin-left: 40px;">B. Background and Problem Statement</h3>
  <div class="card">
    <div class="card-body">
      <div class="row" style="margin: 10px;">
        <div class="col-sm-6">
          <label>Briefly describe the social, economic, political context related to the project area.</label>
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <textarea
                class="form-control"
                style="padding-left: 10px;"
                placeholder=""
                formControlName="problemBackground"
                rows="5"
                [ngClass]="{ 'is-invalid': submitted && f.problemBackground.errors }"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <label>What specific problem will your proposed project address?</label>
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <textarea
                class="form-control"
                style="padding-left: 10px;"
                placeholder=""
                formControlName="problemAddressed"
                rows="5"
                [ngClass]="{ 'is-invalid': submitted && f.problemAddressed.errors }"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 style="margin-left: 40px;">C. Project Description</h3>
  <div class="card">
    <div class="card-body">
      <div style="margin: 20px;">
      <div class="row">
        <div class="col-sm-6">
          <label>Who are your target population?</label>
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <textarea
                class="form-control"
                style="padding-left: 10px;"
                placeholder=""
                formControlName="targetPopulation"
                rows="5"
                [ngClass]="{ 'is-invalid': submitted && f.targetPopulation.errors }"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <label>Why them?</label>
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <textarea
                class="form-control"
                style="padding-left: 10px;"
                placeholder="Rational for why you will focus on the specified target groups above"
                formControlName="reasonForTargetPopulation"
                rows="5"
                [ngClass]="{ 'is-invalid': submitted && f.reasonForTargetPopulation.errors }"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label>What will change in their lives?</label>
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <textarea
                class="form-control"
                style="padding-left: 10px;"
                placeholder="What will be the tangible difference for them because of the program"
                formControlName="whatChangeExpected"
                rows="5"
                [ngClass]="{ 'is-invalid': submitted && f.whatChangeExpected.errors }"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <label>What is your overall goal?</label>
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <textarea
                class="form-control"
                style="padding-left: 10px;"
                placeholder="The long term change you want to see in one sentence"
                formControlName="overallGoal"
                rows="5"
                [ngClass]="{ 'is-invalid': submitted && f.overallGoal.errors }"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label>List at least 3 major mid-term changes you want to see (above 1 year)</label>
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <textarea
                class="form-control"
                style="padding-left: 10px;"
                placeholder=""
                formControlName="midtermChanges"
                rows="5"
                [ngClass]="{ 'is-invalid': submitted && f.midtermChanges.errors }"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <label>List at least 5 immediate changes you want to see after activity implementation</label>
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <textarea
                class="form-control"
                style="padding-left: 10px;"
                placeholder=""
                formControlName="immediateChanges"
                rows="5"
                [ngClass]="{ 'is-invalid': submitted && f.immediateChanges.errors }"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label>What activities will you undertake to achieve the above changes?</label>
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <textarea
                class="form-control"
                style="padding-left: 10px;"
                placeholder=""
                formControlName="activities"
                rows="5"
                [ngClass]="{ 'is-invalid': submitted && f.activities.errors }"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

  <h3 style="margin-left: 40px;">D. Risks and challenges</h3>
  <div class="card">
    <div class="card-body">
      <div class="row" style="margin: 10px;">
        <div class="col-sm-12">
          <label>What are some of the challenges (both internal and external) that are likely to be experienced and
            hinder the implementation this project and how will you address them?</label>
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <textarea
                class="form-control"
                style="padding-left: 10px;"
                placeholder=""
                formControlName="risksAndChallenges"
                rows="5"
                [ngClass]="{ 'is-invalid': submitted && f.risksAndChallenges.errors }"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 style="margin-left: 40px;">E. Partnerships and networks</h3>
  <div class="card">
    <div class="card-body">
      <div class="row" style="margin: 10px;">
        <div class="col-sm-12">
          <label>Who are the key strategic partners, whether institutions or individuals, in the broader field in which
            you work?</label>
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <textarea
                class="form-control"
                style="padding-left: 10px;"
                placeholder="Please include both those you work with or not)? State the need for collaborating with these
            organizations"
                formControlName="partnershipsAndNetworks"
                rows="5"
                [ngClass]="{ 'is-invalid': submitted && f.partnershipsAndNetworks.errors }"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 style="margin-left: 40px;">F. Sustainability</h3>
  <div class="card">
    <div class="card-body">
      <div class="row" style="margin: 10px;">
        <div class="col-sm-6">
          <label>Please describe how the change envisioned by your project will be sustained in the future </label>
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <textarea
                class="form-control"
                style="padding-left: 10px;"
                placeholder=""
                formControlName="changeEnvisioned"
                rows="5"
                [ngClass]="{ 'is-invalid': submitted && f.changeEnvisioned.errors }"
              ></textarea>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <label>What structures and plans are in place to ensure your organization’s sustainability in the future –
            including plans to strengthen the organization’s leadership, management and financial health – over
            time?</label>
          <div class="form-group ">
            <div class=" input-group input-group-merge">
              <textarea
                class="form-control"
                style="padding-left: 10px;"
                placeholder=""
                formControlName="structuresAndPlans"
                rows="5"
                [ngClass]="{ 'is-invalid': submitted && f.structuresAndPlans.errors }"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 style="margin-left: 40px;">G. Cost of the project</h3>
  <div class="card">
    <div class="card-body">
      <div class="col-sm-6" style="margin: 10px;">
        <label>Provide the total project cost in local currency & US dollars</label>
        <div class="form-group ">
          <div class=" input-group input-group-merge">
            <textarea
              class="form-control"
              style="padding-left: 10px;"
              placeholder="Remember to complete a detail budget on the excel sheet using CRVPF approved format"
              formControlName="totalProjectCost"
              rows="2"
              [ngClass]="{ 'is-invalid': submitted && f.totalProjectCost.errors }"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>


  <h3 style="margin-left: 40px;">H. Attachments</h3>
  <div class="card">
    <div class="card-body">
      <div class="row" style="margin: 10px;">
        <div class="col">
          <div class="row">
            <div class="col-sm-6">
              <label>i. Detailed Budget.</label>
              <div class="form-group ">
                <div class=" input-group input-group-merge">
                  <input
                    *ngIf="!isReadOnly"
                    class="form-control" [disabled]="isReadOnly"
                    placeholder="Attachment"
                    type="file"
                    style="padding-left: 10px;"
                    id="detailedBudget"
                    (change)="handleFileInput($event)">
                  <button
                    *ngIf="isReadOnly"
                    type="button"
                    (click)="fileUploadService.downloadFile(documents.detailedBudget)"
                    class="btn btn-link">{{fileUploadService.getFileName(documents.detailedBudget)}}  <i
                    class="fas fa-download"></i></button>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <label>ii. Work plan</label>
              <div class="form-group ">
                <div class=" input-group input-group-merge">
                  <input
                    *ngIf="!isReadOnly"
                    class="form-control" [disabled]="isReadOnly"
                    placeholder="Attachment"
                    type="file"
                    style="padding-left: 10px;"
                    id="workplan"
                    (change)="handleFileInput($event)">
                  <button
                    *ngIf="isReadOnly"
                    type="button"
                    (click)="fileUploadService.downloadFile(documents.workplan)"
                    class="btn btn-link">{{fileUploadService.getFileName(documents.workplan)}}  <i
                    class="fas fa-download"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>iii. Monitoring, Evaluation and learning framework</label>
              <div class="form-group ">
                <div class=" input-group input-group-merge">
                  <input
                    *ngIf="!isReadOnly"
                    class="form-control" [disabled]="isReadOnly"
                    placeholder="Attachment"
                    type="file"
                    style="padding-left: 10px;"
                    id="framework"
                    (change)="handleFileInput($event)">
                  <button
                    *ngIf="isReadOnly"
                    type="button"
                    (click)="fileUploadService.downloadFile(documents.framework)"
                    class="btn btn-link">{{fileUploadService.getFileName(documents.framework)}}  <i
                    class="fas fa-download"></i></button>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <label>iv. Signed cluster guideline</label>
              <div class="form-group ">
                <div class=" input-group input-group-merge">
                  <input
                    *ngIf="!isReadOnly"
                    class="form-control" [disabled]="isReadOnly"
                    placeholder="Attachment"
                    type="file"
                    style="padding-left: 10px;"
                    id="clusterGuideline"
                    (change)="handleFileInput($event)">
                  <button
                    *ngIf="isReadOnly"
                    type="button"
                    (click)="fileUploadService.downloadFile(documents.clusterGuideline)"
                    class="btn btn-link">{{fileUploadService.getFileName(documents.clusterGuideline)}}  <i
                    class="fas fa-download"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>v. Draft M.O.U if application is submitted by Cluster</label>
              <div class="form-group ">
                <div class=" input-group input-group-merge">
                  <input
                    *ngIf="!isReadOnly"
                    class="form-control" [disabled]="isReadOnly"
                    placeholder="Attachment"
                    type="file"
                    style="padding-left: 10px;"
                    id="mou"
                    (change)="handleFileInput($event)">
                  <button
                    *ngIf="isReadOnly"
                    type="button"
                    (click)="fileUploadService.downloadFile(documents.mou)"
                    class="btn btn-link">{{fileUploadService.getFileName(documents.mou)}}  <i
                    class="fas fa-download"></i></button>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <label>vi. List of staff members and their titles as well as qualifications and experience.<span
                class="required-indicator">*</span></label>
              <div class="form-group ">
                <div class=" input-group input-group-merge">
                  <input
                    *ngIf="!isReadOnly"
                    class="form-control" [disabled]="isReadOnly"
                    placeholder="Attachment"
                    type="file"
                    style="padding-left: 10px;"
                    id="staffMembers"
                    (change)="handleFileInput($event)">
                  <button
                    *ngIf="isReadOnly"
                    type="button"
                    (click)="fileUploadService.downloadFile(documents.staffMembers)"
                    class="btn btn-link">{{fileUploadService.getFileName(documents.staffMembers)}}  <i
                    class="fas fa-download"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 bottom_buttons_row"
         style="text-align: -webkit-center; display: flex; justify-content: space-evenly;">
      <button class="btn btn-danger" (click)="cancel()">Cancel</button>
      <button class="btn btn-success" type="submit" (click)="submitLetter()">Submit Application</button>
    </div>
  </div>

</form>
