<div class="header bg-success pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col">
      <div class=" card">
        <div class="row">

          <div class="card-header" style="width: 100%; text-align: -webkit-center;">
            <div [style.display]="isSubmitLetterOfInterest ? 'block' : 'none'"><h6
              class="h2 d-inline-block mb-0">SUBMIT LETTER OF INTEREST</h6></div>
            <div [style.display]="isReviewLetterOfInterest ? 'block' : 'none'"><h6
              class="h2 d-inline-block mb-0">REVIEW LETTER OF INTEREST</h6></div>
            <div [style.display]="isPlanningLearningApplication ? 'block' : 'none'"><h6
              class="h2 d-inline-block mb-0">PLANNING AND LEARNING GRANT APPLICATION</h6></div>
            <div [style.display]="isReviewLearningGrant ? 'block' : 'none'"><h6 class="h2 text-white d-inline-block mb-0">
              REVIEW LEARNING GRANT APPLICATION</h6></div>
            <div [style.display]="isApprovePlanningLearningGrant ? 'block' : 'none'"><h6
              class="h2 d-inline-block mb-0">APPROVE PLANNING AND LEARNING GRANT</h6></div>
            <div [style.display]="isProvidePlanningLearningGrant ? 'block' : 'none'"><h6
              class="h2 d-inline-block mb-0">PROVIDE PLANNING AND LEARNING GRANT</h6></div>
          </div>

          <div class=" col-md-12 col-sm-12" style="margin-top: 40px;">
            <div class=" row">

              <div *ngIf="isSubmitLetterOfInterest" class=" col">
                <long-term-application></long-term-application>
              </div>

              <div *ngIf="!isSubmitLetterOfInterest" class=" col">
                <h3 style="margin-left: 40px;">ORGANISATIONAL INFORMATION</h3>
                <div class="card">
                  <div class="row" style="margin: 10px;">
                    <div class="col-sm-6">
                      <ul style="list-style: none; font-size: 16px">
                        <li>Name of the Lead Cluster Organization: <b>{{organisationalInfo.organisation}}</b></li>
                        <li>Acronym Name: <b>{{organisationalInfo.acronym}}</b></li>
                        <li>Type of Organisation: <b>{{organisationalInfo.organization_type}}</b></li>
                        <li>Legal Status: <b>{{organisationalInfo.legal_status}}</b></li>
                        <li>Name of Contact Person: <b>{{organisationalInfo.nameContactPerson}}</b></li>
                        <li>
                          <button class="btn btn-link"><a href="{{organisationalInfo.letter}}" style="font-size:15px;"
                                                          class="text fas fa-file-download"
                                                          target="_blank" download>&nbsp;&nbsp;Download Letter of
                            interest</a>
                          </button>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-6">
                      <ul style="list-style: none; font-size: 16px">
                        <li>Physical Address: <b>{{organisationalInfo.physical_address}}</b></li>
                        <li>Postal Address: <b>{{organisationalInfo.postal_address}}</b></li>
                        <li>Email: <b>{{organisationalInfo.email}}</b></li>
                        <li>Website: <b>{{organisationalInfo.website}}</b></li>
                        <li>Country: <b>{{organisationalInfo.country}}</b></li>
                        <li>City: <b>{{organisationalInfo.city}}</b></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
