<div class="header bg-success pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col">
      <div class=" card">
        <div class="row">

          <div class="card-header" style="width: 100%; text-align: -webkit-center;">
            <div><h6
              class="h2 d-inline-block mb-0">START LONG TERM GRANT PROCESS</h6></div>
          </div>

          <div class=" col-md-12 col-sm-12" style="margin-top: 40px;">
            <div class=" row">

              <div class="col">
                <div>
                  <label>Select Grant:</label>
                  <div class="form-group ">
                    <div class=" input-group input-group-merge">
                      <ng-select class="form-control form-control-sm"

                                 name="datatable_length"
                                 aria-controls="datatable"
                                 style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                 [multiple]="false"
                                 placeholder="Country"
                                 formControlName="country"
                                 (ngModelChange)="onSelectGrant($event)"
                                 [searchable]="true"
                                 [clearable]="true"
                      >
                        <ng-option [value]="country" *ngFor="let country of grantList">
                          {{country}}
                        </ng-option>
                      </ng-select>
                    </div>
                  </div>
                </div>
                <organizational-information [grantId]="grantId"></organizational-information>
              </div>

              <div class="row">
                <div class="col-lg-12 bottom_buttons_row"
                     style="text-align: -webkit-center; display: flex; justify-content: space-evenly;">
                  <button class="btn btn-default" (click)="triggerStartInstances()">Start Process</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
