<div class=" header bg-success pb-6" style="overflow-x: hidden;">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-white d-inline-block mb-0">FEEDBACK</h6>
          <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4"></nav>
        </div>
        <div class=" col-lg-6 col-5 text-right">
          <a class=" btn btn-sm btn-danger" (click)="deleteReferral()" style="color: #ffffff"> Delete </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6" style="overflow-x: hidden;">
  <div class=" row justify-content-center">
    <div class=" col-lg-10 card-wrapper">
      <div class="card">
        <div class="card-header" style="padding: 10px">
          <h3 style="font-family: Open Sans, sans-serif;">Action Feedback</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="formGroup" (ngSubmit)="actionReferral()" *ngIf="formGroup" style="padding:30px">
            <div class="row">
              <div class="col-lg-6" style="padding-left: 30px;padding-top: 15px">
                <div class="row">
                  <div class="col-md-12">
                    <h2>
                      Feedback Details
                    </h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>
                      Serial Number:
                    </label>
                  </div>
                  <div class="col-md-6">
                    {{this.feedback?.serialNumber}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label
                      style="font-family: Open Sans, sans-serif; font-size: 1rem; font-weight: 400;
                                                    line-height: 1.5; text-align: left;"
                    >
                      Date Feedback Received:
                    </label>
                  </div>
                  <div class="col-md-6">
                    {{this.feedback?.dateFeedbackReceived}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>
                      Name of Register:
                    </label>
                  </div>
                  <div class="col-md-6">
                    {{this.feedback?.nameOfRegister}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>
                      Staff Designation:
                    </label>
                  </div>
                  <div class="col-md-6">
                    {{this.feedback?.staffDesignation}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>
                      Type of Feedback:
                    </label>
                  </div>
                  <div class="col-md-6">
                    {{this.feedback?.typeOfFeedback}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>
                      Current Status of the Feedback:
                    </label>
                  </div>
                  <div class="col-md-6">
                    {{this.feedback?.currentStatusOfFeedback}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>
                      Location:
                    </label>
                  </div>
                  <div class="col-md-6">
                    {{this.feedback?.location}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>
                      Project Sector:
                    </label>
                  </div>
                  <div class="col-md-6">
                    {{this.feedback?.projectSector}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>
                      Sub Sector (Project Level):
                    </label>
                  </div>
                  <div class="col-md-6">
                    {{this.feedback?.subSector}}
                  </div>
                </div>
              </div>
              <div class="col-lg-6" style="padding-left: 30px;padding-top: 15px">
                <div class="row">
                  <div class="col-md-12">
                    <h2>
                      Client Details
                    </h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>
                      Name Of Client/Community/Group:
                    </label>
                  </div>
                  <div class="col-md-6">
                    {{this.feedback?.nameOfClient}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>
                      Remain Anonymous?:
                    </label>
                  </div>
                  <div class="col-md-6">
                    {{this.feedback?.remainAnonymous}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>
                      Nationality Status:
                    </label>
                  </div>
                  <div class="col-md-6">
                    {{this.feedback?.nationalityStatus}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>
                      Type of Client:
                    </label>
                  </div>
                  <div class="col-md-6">
                    {{this.feedback?.clientType}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>
                      Preferred Channel for Response:
                    </label>
                  </div>
                  <div class="col-md-6">
                    {{this.feedback?.preferredChannel}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>
                      Phone Number:
                    </label>
                  </div>
                  <div class="col-md-6">
                    {{this.feedback?.phoneNumber}}
                  </div>
                </div>
              </div>
              <div class="row">
                <hr class="solid">
              </div>
            </div>
            <div class="row" style="padding-top: 26px;">
              <div class="col-md-12">
                <div class="row">
                  <h2>
                    Case Management: Feedback Referral & Follow-Up
                  </h2>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Feedback Category
<!--                      -->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Feedback Category"
                                     formControlName="feedbackCategory"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of feedback_category">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Feedback Priority
<!--                      -->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Feedback Priority"
                                     formControlName="feedbackPriority"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of feedback_priority">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Feedback Referred or Shared
<!--                      -->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Feedback Referred or Shared"
                                     formControlName="feedbackReferredShared"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of feedback_shared_referred">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      If yes, feedback shared internally or externally?
<!--                      -->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="If yes, feedback shared internally or externally?"
                                     formControlName="feedbackInternallyExternally"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of feedback_internal_external">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      If yes, referred to Person: Name
<!--                      -->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="If yes, referred to Person: Name"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="referredPersonName"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      If yes, person, referred to: Position
<!--                      -->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="If yes, person, referred to: Position"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="referredPersonPosition"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      If yes, Organization referred to
<!--                      -->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="If yes, Organization referred to"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="referredOrganization"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label
                      style="font-family: Open Sans, sans-serif; font-size: 1rem; font-weight: 400;
                                                    line-height: 1.5; text-align: left;"
                    >
                      Date when feedback was referred/shared
<!--                      -->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group">
                        <div class=" input-group input-group-merge">
                          <input
                            class=" form-control"
                            type="date"
                            formControlName="dateFeedbackReferredShared"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Type of response required
<!--                      -->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Type of response required"
                                     formControlName="responseTypeRequired"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of response_required">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Action / follow up needed
<!--                      -->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Action / follow up needed"
                                     formControlName="actionFollowupNeeded"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of followup_needed">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Recorded in the feedback registry
<!--                      -->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Recorded in the feedback registry"
                                     formControlName="inFeedbackRegistry"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of in_feedback_registry">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="padding-top: 26px;">
              <div class="col-md-12">
                <div class="row">
                  <h2>
                    Closing the Loop
                  </h2>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label
                      style="font-family: Open Sans, sans-serif; font-size: 1rem; font-weight: 400;
                                                    line-height: 1.5; text-align: left;"
                    >
                      Date of response/feedback given to client
                      <!--                      -->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group">
                        <div class=" input-group input-group-merge">
                          <input
                            class=" form-control"
                            type="date"
                            formControlName="dateFeedbackClient"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Action taken
<!--                      -->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Action Taken"
                                     formControlName="actionTaken"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of action_taken">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Name of the staff who provided the response
<!--                      -->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Name of the staff who provided the response"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="staffProvidedResponse"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Response summary
<!--                      -->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Response summary"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="responseSummary"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Supervisor
<!--                      -->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Supervisor"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="supervisor"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Data Entry Focal Point
<!--                      -->
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Data Entry Focal Point"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="dataEntryFocalPoint"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 offset-4" style="padding-bottom: 15px; padding-left: 0px">

                <button
                  class=" btn btn-success"
                  type="submit"
                >
                  Submit FeedbackAction
                </button>
                <button class=" btn btn-danger" type="button" (click)="close()">
                  cancel
                </button>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


</div>
