<div class=" header bg-success pb-6" style="overflow-x: hidden;">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-white d-inline-block mb-0">FEEDBACK</h6>
          <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4"></nav>
        </div>
        <div class=" col-lg-6 col-5 text-right">
          <a class=" btn btn-sm btn-danger" (click)="deleteReferral()" style="color: #ffffff"> Delete </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6" style="overflow-x: hidden;">
  <div class=" row justify-content-center">
    <div class=" col-lg-10 card-wrapper">
      <div class="card">
        <div class="card-header" style="padding: 10px">
          <h3 style="font-family: Open Sans, sans-serif;">Action Feedback</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="formGroup" (ngSubmit)="actionReferral()" *ngIf="formGroup" style="padding:30px">
            <div class="row">
              <div class="col-lg-6" style="padding-left: 30px;padding-top: 15px">
                <div>
                  <div class="row">
                    <label
                      style="font-family: Open Sans, sans-serif; font-size: 1rem; font-weight: 400;
                                                    line-height: 1.5; text-align: left;"
                    >
                      Date Feedback Received
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <div class=" input-group input-group-merge">
                          <input
                            class=" form-control"
                            type="date"
                            formControlName="dateFeedbackReceived"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div >
                  <div class="row">
                    <label>
                      Name of Register
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Name Register"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="nameOfRegister"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Staff Designation
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Staff Designation"
                                     formControlName="staffDesignation"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of staff_Designation">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Type of Feedback
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Type of Feedback"
                                     formControlName="typeOfFeedback"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of type_of_feedback">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Current Status of the Feedback
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Current Status of the Feedback"
                                     formControlName="currentStatusOfFeedback"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of feedback_status">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Location
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Location"
                                     formControlName="location"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of location">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Project Sector
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Project Sector"
                                     formControlName="projectSector"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of project_status">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6" style="padding-left: 30px;padding-top: 15px">
                <div>
                  <div class="row">
                    <label>
                      Sub Sector (Project Level)
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Sub Sector (Project Level)"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="subSector"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Name Of Client/Community/Group
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Name Of Client/Community/Group"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="nameOfClient"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Remain Anonymous?
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Remain Anonymous?"
                                     formControlName="remainAnonymous"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of remain_anonymous">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Nationality Status
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Nationality Status"
                                     formControlName="nationalityStatus"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of nationality_status">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Type of Client
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Type of Client"
                                     formControlName="clientType"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.name" *ngFor="let item of type_of_client">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Preferred Channel for Response
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Preferred Channel for Response"
                                     formControlName="preferredChannel"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item?.name" *ngFor="let item of preferred_channel">
                              {{item?.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <label>
                      Phone Number
                      <span class="required-indicator">*</span>
                    </label>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <input
                            class="form-control"
                            placeholder="Phone Number"
                            type="text"
                            style="padding-left: 10px;"
                            formControlName="phoneNumber"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 offset-6" style="padding-bottom: 15px; padding-left: 0px">

                <button
                  class=" btn btn-default"
                  type="submit"
                  [disabled]="clicked"
                >
                  Save
                </button>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


</div>
