<div class="wrapper">
  <div class="container">

    <div class="card">
      <br/>
      <span>
        <img src="../../assets/img/brand/irc_logo.png" alt="Logo" width="200px" height="200px">
       <h4 style="margin-top: 10px;"><strong>IRC Uganda MEAL Information Management System</strong></h4>
      </span>
      <h1>Welcome</h1>
      <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
        <div *ngIf="submitted && f.username.errors">
          <div *ngIf="f.username.errors.required" class="input-error">Username is required</div>
        </div>
        <div class=" input-group input-group-merge" style="padding: 0 25px 0 25px;">
          <input placeholder="Username"
                 class="form-control"
                 type="text"
                 formControlName="username"
                 [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
        </div>

        <div class=" input-group input-group-merge" style="padding: 0 25px 0 25px;">
          <input placeholder="Password"
                 class="form-control"
                 type="password"
                 formControlName="password"
                 required
                 [type]="fieldTextType ? 'text' : 'password'"
                 [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <div class="input-group-append">
            <span class="input-group-text" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <i
                  class="fa"
                  [ngClass]="{
                        'fa-eye-slash':!fieldTextType,
                        'fa-eye':fieldTextType
                        }"
                  (click)="toggleFieldTextType()">
                </i>
            </span>
          </div>
        </div>
        <div *ngIf="submitted && f.password.errors">
          <div *ngIf="f.password.errors.required" class="input-error">Password is required</div>
        </div>
        <br/>
        <button type="submit" id="login-button">Login</button>

      </form>
    </div>

  </div>
</div>
