<div class="login-body">
    <div class="logo">
        <img src="assets/layout/images/crvpf-logo.png" alt="harmony-layout" />
        <span class="app-name">CRVPF</span>
    </div>
    <div class="login-panel">
        <img
            src="assets/layout/images/template/image-login-mobile.jpg"
            alt="harmony-layout"
            class="mobile"
        />
        <div class="left-part">
            <form
                class="login100-form flex-sb flex-w"
                [formGroup]="loginForm"
                (ngSubmit)="login()"
            >
                <span class="login-panel-header">Sign in To CRVPF</span>
                <span class="login-panel-subheader"
                    >Welcome, please use the form to sign-in CRVPF MIS
                </span>

                <div style="margin-top: 32px">
                    <div class="col-12">
                        <label>Enter Username</label>
                        <input
                            type="text"
                            id="username"
                            formControlName="username"
                            class="form-control form-control-user"
                            autocomplete="off"
                            pInputText
                        />
                    </div>
                    <div class="col-12">
                        <label>Enter password</label>
                        <input
                            id="password"
                            type="password"
                            formControlName="password"
                            class="form-control form-control-user"
                            [ngClass]="{ 'is-invalid': wrongCredentials }"
                            required
                            [type]="fieldTextType ? 'text' : 'password'"
                            autocomplete="off"
                            pInputText
                            feedback="false"
                        />
                    </div>
                </div>
                <div class="col-6">
                    <!-- <button type="button" pButton label="Login" class="p-button-raised"[routerLink]="['/']"></button> -->

                    <button
                        [disabled]="!loginForm.valid"
                        class="login100-form-btn"
                    >
                        <i
                            class="fa fa-sign-in-alt"
                            style="margin-right: 10px"
                        ></i>
                        LOGIN
                    </button>
                </div>
            </form>
        </div>
        <div class="right-part">
            <img
                src="assets/layout/images/template/login-bg.jpg"
                alt="harmony-layout"
            />
        </div>
    </div>
</div>
