.col > .card, .container {
  padding: 20px;
  margin: 20px;
}

.card > div, form {
  margin: 20px;
}

.justify-center {
  justify-content: center;
  display: flex;
}

tr td {
  overflow: hidden;
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: normal;
}

table {
  width: 100%;
  overflow: auto;
  display: table;
  table-layout: fixed;
}

.required-indicator{
  color:red;
}
