<div class=" header bg-success pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h5 class=" h2 text-white d-inline-block mb-0">PERFORMANCE SUMMARY</h5>
        </div>
      </div>
      <div class="container-fluid" style="margin-top:-15px">
        <div class=" row">
          <div class=" col-xl-4 col-md-6" (click)="clickWithinTime('Within Time')">
            <div class=" card card-stats">
              <div>
                <div class=" row">
                  <div class=" col">
                    <h3 class=" card-title text-uppercase text-muted mb-0">
                      Good Progress
                    </h3>

                    <span class=" h2 font-weight-bold mb-0"> {{this.withinTime}} </span>
                  </div>

                  <div class=" col-auto">
                    <div class=" icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                      <i class="fas fa-solid fa-check-double"> </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class=" col-xl-4 col-md-6" (click)="clickWithinTime('Slow Progress')">
            <div class=" card card-stats">
              <div>
                <div class=" row">
                  <div class=" col">
                    <h3 class=" card-title text-uppercase text-muted mb-0">
                      Slow Progress
                    </h3>

                    <span class=" h2 font-weight-bold mb-0"> {{this.slowProgress}} </span>
                  </div>

                  <div class=" col-auto">
                    <div class=" icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                      <i class="fas fa-solid fa-adjust"> </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class=" col-xl-4 col-md-6" (click)="clickWithinTime('Late')">
            <div class=" card card-stats">
              <div>
                <div class=" row">
                  <div class=" col">
                    <h3 class=" card-title text-uppercase text-muted mb-0">
                      Late
                    </h3>

                    <span class=" h2 font-weight-bold mb-0"> {{this.lateProgress}} </span>
                  </div>

                  <div class=" col-auto">
                    <div class=" icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                      <i class="ni ni-bold-down"> </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class=" row" style="margin-top:-15px">

          <div class=" col-xl-4 col-md-6" >
            <div class=" card card-stats">
              <div>
                <div class=" row">
                  <div class=" col">
                    <h3 class=" card-title text-uppercase text-muted mb-0">
                      Within Budget
                    </h3>

                    <span class=" h2 font-weight-bold mb-0"> {{this.withinBudget}} </span>
                  </div>

                  <div class=" col-auto">
                    <div class=" icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                      <i class="ni ni-check-bold"> </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class=" col-xl-4 col-md-6">
            <div class=" card card-stats">
              <div>
                <div class=" row">
                  <div class=" col">
                    <h3 class=" card-title text-uppercase text-muted mb-0">
                      Beyond Budget
                    </h3>

                    <span class=" h2 font-weight-bold mb-0"> {{this.beyondBudget}} </span>
                  </div>

                  <div class=" col-auto">
                    <div class=" icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                      <i class="ni ni-chart-bar-32"> </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class=" col-xl-4 col-md-6">
            <div class=" card card-stats">
              <div>
                <div class=" row">
                  <div class=" col">
                    <h3 class=" card-title text-uppercase text-muted mb-0">
                      No Expenditure
                    </h3>

                    <span class=" h2 font-weight-bold mb-0"> {{this.noBudget}} </span>
                  </div>

                  <div class=" col-auto">
                    <div class=" icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                      <i class="fas fa-solid fa-window-minimize"> </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>

        <div class=" row" style="margin-top:-15px">
          <div class=" col-xl-4 col-md-6" (click)="clickPerformance('Acceptable Performance')">
            <div class=" card card-stats">
              <div>
                <div class=" row">
                  <div class=" col">
                    <h3 class=" card-title text-uppercase text-muted mb-0">
                      Acceptable Performance
                    </h3>

                    <span class=" h2 font-weight-bold mb-0"> {{this.acceptable}} </span>
                  </div>

                  <div class=" col-auto">
                    <div class=" icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                      <i class="ni ni-bold-up"> </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class=" col-xl-4 col-md-6" (click)="clickPerformance('Average Performance')">
            <div class=" card card-stats">
              <div>
                <div class=" row">
                  <div class=" col">
                    <h3 class=" card-title text-uppercase text-muted mb-0">
                      Average Performance
                    </h3>

                    <span class=" h2 font-weight-bold mb-0"> {{this.average}} </span>
                  </div>

                  <div class=" col-auto">
                    <div class=" icon icon-shape bg-gradient-orange  text-white rounded-circle shadow">
                      <i class="fas fa-solid fa-sync"> </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class=" col-xl-4 col-md-6" (click)="clickPerformance('Under Performance')">
            <div class=" card card-stats">
              <div>
                <div class=" row">
                  <div class=" col">
                    <h3 class=" card-title text-uppercase text-muted mb-0">
                      Under Performance
                    </h3>

                    <span class=" h2 font-weight-bold mb-0"> {{this.under}} </span>
                  </div>

                  <div class=" col-auto">
                    <div class=" icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                      <i class="fas fa-solid fa-arrow-down"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col">
      <div class="row">

        <div class=" col-md-12" style="margin-top: 10px;margin-bottom: -10px">
          <div class=" row">
            <div class=" col">

              <div class="card">
                <div class="card-header" >
                  <div class="row">
                    <div class="col-md-10">
                      <h3 style="margin-left: 40px;">PROGRESS AGAINST WORKPLAN</h3>
                    </div>
                    <div class="col-md-2 text-right" (click)="clickReset()">
                      <div
                        class=" icon icon-shape bg-gradient-default text-white rounded-circle shadow"
                      >
                        <i class=" fa fa-eraser"> </i>

                      </div>
                      <h3 style="color: black">
                        Reset
                      </h3>
                    </div>
                  </div>
                </div>
                <div class="card-body col-sm-12">
                  <div class="row">

                    <div class="dataTables_wrapper py-4">
                      <div class="row" style="display: flex; width: 100%; margin-top: -24px;margin-bottom: 40px">
                        <div class="col-sm-4">
                          <div id="datatable_filter1" class="dataTables_filter">

                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i>From</i>
                                </span>
                              </div>
                              <input
                                class="form-control datepicker"
                                placeholder="Select Date"
                                type="date"
                                name="date"
                                (change)="onChangeDate()"
                                id="date"
                                autocomplete="off"
                              />
                           </div>
                          </div>
                        </div>

                        <div class="col-sm-4">
                          <div id="datatable_filter13" class="dataTables_filter">

                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i>To</i>
                                </span>
                              </div>
                              <input
                                class="form-control datepicker"
                                placeholder="Select Date"
                                type="date"
                                name="date"
                                id="date2"
                                (change)="onChangeDate()"
                                autocomplete="off"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-4">
                          <div id="datatable_filter5" class="dataTables_filter">
                            <label>
                              <ng-select class="form-control form-control-sm"
                                         aria-controls="datatable"
                                         style="height: auto !important;padding: 0;width: 150% !important; border: 1px solid #f7fafc;"
                                         [multiple]="false"
                                         placeholder="Select organization to filter.."
                                         [searchable]="true"
                                         (change)="filterOrganizationList($event)"
                                         [clearable]="true">
                                <ng-option [value]="item.name" *ngFor="let item of irc_list">
                                  {{item.name}}
                                </ng-option>
                              </ng-select>
                            </label>
                          </div>
                        </div>


                      </div>
                      <div class="row" style="display: flex; width: 100%; margin-top: -24px">
                        <div class="col-sm-4">
                          <div id="datatable_filter4" class="dataTables_filter">
                            <label>
                              <ng-select class="form-control form-control-sm"
                                         aria-controls="datatable"
                                         style="height: auto !important;padding: 0;width: 150% !important; border: 1px solid #f7fafc;"
                                         [multiple]="false"
                                         placeholder="Select pillar to filter.."
                                         [searchable]="true"
                                         (change)="filterPillar($event)"
                                         [clearable]="true">
                                <ng-option [value]="item.id" *ngFor="let item of this.pillars">
                                  {{item.title}}
                                </ng-option>
                              </ng-select>
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div id="datatable_filter" class="dataTables_filter">
                            <label>
                              <ng-select class="form-control form-control-sm"
                                         aria-controls="datatable"
                                         style="height: auto !important;padding: 0;width: 150% !important; border: 1px solid #f7fafc;"
                                         [multiple]="false"
                                         placeholder="Select staff to filter.."
                                         [searchable]="true"
                                         (change)="filterMilestonesList($event)"
                                         [clearable]="true">
                                <ng-option [value]="item.staffId" *ngFor="let item of budgetHolders">
                                  {{item.staff}}
                                </ng-option>
                              </ng-select>
                            </label>
                          </div>
                        </div>

                        <div class="col-sm-4">
                          <div id="datatable_filter2" class="dataTables_filter">
                            <label>
                              <ng-select class="form-control form-control-sm"
                                         aria-controls="datatable"
                                         style="height: auto !important; padding: 0;width: 150% !important; border: 1px solid #f7fafc;"
                                         [multiple]="false"
                                         placeholder="Select outcome to Filter.."
                                         [searchable]="true"
                                         (change)="filterOutcomeList($event)"
                                         [clearable]="true">
                                <ng-option [value]="item.id" *ngFor="let item of progress">
                                  {{item.name}}
                                </ng-option>
                              </ng-select>
                            </label>
                          </div>
                        </div>
                      </div>

                      <!--                       -->

                      <ngx-datatable
                        class="bootstrap selection-cell"
                        [columnMode]="'force'"
                        [headerHeight]="40"
                        [footerHeight]="40"
                        [rowClass]=""
                        [rowHeight]="'auto'"
                        [limit]="entries != -1 ? entries : undefined"
                        [rows]="displayMilestones">
                        <ngx-datatable-column name="Activity" prop="milestone">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Target" prop="target">
                        </ngx-datatable-column>
<!--                                                <ngx-datatable-column name="Achieved" prop="cumulative"></ngx-datatable-column>-->
                        <ngx-datatable-column name="Achievement (%)" prop="achievement">
                          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                            <span>
                              <div class="progress-wrapper" style="margin-top: -10px">
                        <div class="progress-info">
                          <div class="progress-label">
<!--                            <span>Pending</span>-->
                          </div>
                          <div class="progress-percentage">
                            <span>{{row.achievement}}%</span>
                          </div>
                        </div>
                        <div class="progress">
                          <div class="progress-bar " [style.background-color]="getColor(row.achievement)"
                               role="progressbar" [attr.aria-valuenow]="row.achievement"
                               aria-valuemin="0" aria-valuemax="100" [style.width]="row.achievement+'%'"></div>
                        </div>
                      </div>
                            </span>
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Budget (Euros)" prop="budget">
                          <ng-template let-value="value" let-row="row"
                                       ngx-datatable-cell-template>{{row.budget | number}}</ng-template>
                        </ngx-datatable-column>
                        <!--                        <ngx-datatable-column name="Expenses to date" prop="expenses"></ngx-datatable-column>-->
                        <ngx-datatable-column name="Expenditure (%)" prop="efficiency">
                          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                            <span>
                              <div class="progress-wrapper" style="margin-top: -10px">
                        <div class="progress-info">
                          <div class="progress-label">
                          </div>
                          <div class="progress-percentage">
                            <span>({{row.expenses | number}}) {{row.efficiency}}%</span>
                          </div>
                        </div>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="row.efficiency"
                               aria-valuemin="0" aria-valuemax="100" [style.background-color]="getColor(row.efficiency)"
                               [style.width]="row.efficiency+'%'"></div>
                        </div>
                      </div>
                            </span>
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Start Date" prop="startDate"></ngx-datatable-column>
                        <ngx-datatable-column name="End Date" prop="endDate"></ngx-datatable-column>
                        <ngx-datatable-column name="Progress" headerClass="row-color1" prop="progress">
                          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                            <div class="wrap">
                              <a id="circle1" [style.background]="getColorProgress(row.progress)">
                                <span class="tooltip">{{row.progress}}</span>
                              </a>
                            </div>
                          </ng-template>
                        </ngx-datatable-column>
                      </ngx-datatable>
                      <div class="col-sm-4">
                        <div class="dataTables_length" id="datatable_length">
                          <label>
                            Show
                            <select
                              name="datatable_length"
                              aria-controls="datatable"
                              class="form-control form-control-sm"
                              (change)="entriesChange($event)"
                              style="width: 200%;"
                            >
                              <option value="10" [selected]="entries == 10">10</option>
                              <option value="25" [selected]="entries == 25">25</option>
                              <option value="50" [selected]="entries == 50">50</option>
                              <option value="-1" [selected]="entries == -1">All</option>
                            </select>
                            entries
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
