.col > .card, .container {
  padding: 20px;
  margin: 20px;
}

.card > div, form {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  width: auto;
}

/deep/ .row-color1 {
  background-color: rgb(144, 238, 144);
}
/deep/ .row-color2 {
  background-color: rgb(133, 193, 233 );
}

/deep/ .row-color3 {
  background-color: rgb(247, 220, 111);
}

.justify-center {
  justify-content: center;
  display: flex;
}

tr td {
  overflow: hidden;
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: normal;
}

table {
  width: 100%;
  overflow: auto;
  display: table;
  table-layout: fixed;
}

.required-indicator{
  color:red;
}

.btn-default_btn {
  color: #7851a9;
  background-color: #fff;
  border-color: #e6d7fd;
}

.active_btn {
  color: #fff;
  background-color: #7851a9;
  border-color: #7851a9;
}

.home-card {
  height: 460px;
  overflow-y: auto;
  overflow-x: clip
}

.home-card>div {
  padding: 0 0 0 15px;
}

.home-card>div>.btn {
  width: 95%;
  padding: 20px 0 20px 40px;
}
