<div class=" header bg-success pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h5 class=" h2 text-white d-inline-block mb-0">PERFORMANCE SUMMARY</h5>
        </div>
      </div>
      <div class="container-fluid">
        <div class=" row">
          <div class=" col-xl-4 col-md-6">
            <div class=" card card-stats">
              <div>
                <div class=" row">
                  <div class=" col">
                    <h3 class=" card-title text-uppercase text-muted mb-0">
                      Within Time
                    </h3>

                    <span class=" h2 font-weight-bold mb-0"> {{14}} </span>
                  </div>

                  <div class=" col-auto">
                    <div class=" icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                      <i class=""> </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class=" col-xl-4 col-md-6">
            <div class=" card card-stats">
              <div>
                <div class=" row">
                  <div class=" col">
                    <h3 class=" card-title text-uppercase text-muted mb-0">
                      Slow Progress
                    </h3>

                    <span class=" h2 font-weight-bold mb-0"> {{15}} </span>
                  </div>

                  <div class=" col-auto">
                    <div class=" icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                      <i class=" ni "> </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class=" col-xl-4 col-md-6">
            <div class=" card card-stats">
              <div>
                <div class=" row">
                  <div class=" col">
                    <h3 class=" card-title text-uppercase text-muted mb-0">
                      Late
                    </h3>

                    <span class=" h2 font-weight-bold mb-0"> {{2}} </span>
                  </div>

                  <div class=" col-auto">
                    <div class=" icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                      <i class=" ni"> </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class=" row">

          <div class=" col-xl-4 col-md-6">
            <div class=" card card-stats">
              <div>
                <div class=" row">
                  <div class=" col">
                    <h3 class=" card-title text-uppercase text-muted mb-0">
                      Within Budget
                    </h3>

                    <span class=" h2 font-weight-bold mb-0"> {{4}} </span>
                  </div>

                  <div class=" col-auto">
                    <div class=" icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                      <i class=""> </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class=" col-xl-4 col-md-6">
            <div class=" card card-stats">
              <div>
                <div class=" row">
                  <div class=" col">
                    <h3 class=" card-title text-uppercase text-muted mb-0">
                      Beyond Budget
                    </h3>

                    <span class=" h2 font-weight-bold mb-0"> {{3}} </span>
                  </div>

                  <div class=" col-auto">
                    <div class=" icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                      <i class=""> </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class=" col-xl-4 col-md-6">
            <div class=" card card-stats">
              <div>
                <div class=" row">
                  <div class=" col">
                    <h3 class=" card-title text-uppercase text-muted mb-0">
                      No Expenditure
                    </h3>

                    <span class=" h2 font-weight-bold mb-0"> {{2}} </span>
                  </div>

                  <div class=" col-auto">
                    <div class=" icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                      <i class=" "> </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>

        <div class=" row">

          <div class=" col-xl-4 col-md-6">
            <div class=" card card-stats">
              <div>
                <div class=" row">
                  <div class=" col">
                    <h3 class=" card-title text-uppercase text-muted mb-0">
                      < 50% achieved
                    </h3>

                    <span class=" h2 font-weight-bold mb-0"> {{4}} </span>
                  </div>

                  <div class=" col-auto">
                    <div class=" icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                      <i class=" "> </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class=" col-xl-4 col-md-6">
            <div class=" card card-stats">
              <div>
                <div class=" row">
                  <div class=" col">
                    <h3 class=" card-title text-uppercase text-muted mb-0">
                      50 - 75% achieved
                    </h3>

                    <span class=" h2 font-weight-bold mb-0"> {{1}} </span>
                  </div>

                  <div class=" col-auto">
                    <div class=" icon icon-shape bg-gradient-orange  text-white rounded-circle shadow">
                      <i class=" "> </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class=" col-xl-4 col-md-6">
            <div class=" card card-stats">
              <div>
                <div class=" row">
                  <div class=" col">
                    <h3 class=" card-title text-uppercase text-muted mb-0">
                      Over 75% achieved
                    </h3>

                    <span class=" h2 font-weight-bold mb-0"> {{6}} </span>
                  </div>

                  <div class=" col-auto">
                    <div class=" icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                      <i class=" "> </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col">
      <div class="row">

        <div class=" col-md-12 col-sm-12" style="margin-top: 40px;">
          <div class=" row">
            <div class=" col">

              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <h3 style="margin-left: 40px;">PROGRESS AGAINST WORKPLAN</h3>
                  </div>
                </div>
                <div class="card-body col-sm-12">
                  <div class="row">

                    <div class="dataTables_wrapper py-4">
                      <div class="row" style="display: flex; width: 100%">
                        <div class="col-sm-4">
                          <div class="dataTables_length" id="datatable_length">
                            <label>
                              Show
                              <select
                                name="datatable_length"
                                aria-controls="datatable"
                                class="form-control form-control-sm"
                                (change)="entriesChange($event)"
                                style="width: 200%;"
                              >
                                <option value="10" [selected]="entries == 10">10</option>
                                <option value="25" [selected]="entries == 25">25</option>
                                <option value="50" [selected]="entries == 50">50</option>
                                <option value="-1" [selected]="entries == -1">All</option>
                              </select>
                              entries
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div id="datatable_filter" class="dataTables_filter">
                            <label>
                              <ng-select class="form-control form-control-sm"
                                         aria-controls="datatable"
                                         style="height: auto !important; width: 200%; padding: 0; border: 1px solid #f7fafc;"
                                         [multiple]="false"
                                         placeholder="Select staff to filter.."
                                         [searchable]="true"
                                         (change)="filterMilestonesList($event)"
                                         [clearable]="true">
                                <ng-option [value]="item.staffId" *ngFor="let item of budgetHolders">
                                  {{item.staff}}
                                </ng-option>
                              </ng-select>
                            </label>
                          </div>
                        </div>

                        <div class="col-sm-4">
                          <div id="datatable_filter2" class="dataTables_filter">
                            <label>
                              <ng-select class="form-control form-control-sm"
                                         aria-controls="datatable"
                                         style="height: auto !important; width: 200%; padding: 0; border: 1px solid #f7fafc;"
                                         [multiple]="false"
                                         placeholder="Filter progress.."
                                         [searchable]="true"
                                         (change)="filterMilestonesList($event)"
                                         [clearable]="true">
                                <ng-option [value]="item.name" *ngFor="let item of progress">
                                  {{item.name}}
                                </ng-option>
                              </ng-select>
                            </label>
                          </div>
                        </div>
                      </div>

                      <!--                       -->

                      <ngx-datatable
                        class="bootstrap selection-cell"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="'auto'"
                        [limit]="entries != -1 ? entries : undefined"
                        [rows]="displayMilestones">

                        <ngx-datatable-column name="Activity" prop="milestone">

                        </ngx-datatable-column>
                        <ngx-datatable-column name="Target" prop="target">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Achieved" prop="cumulative"></ngx-datatable-column>
                        <ngx-datatable-column name="Achievement (%)" prop="achievement"></ngx-datatable-column>
                        <ngx-datatable-column name="Budget" prop="budget">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Expenses to date" prop="expenses"></ngx-datatable-column>
                        <ngx-datatable-column name="Expenditure (%)" prop="efficiency">
                          <!--                          <ng-template>{{getEfficiency(displayMilestones.budget, displayMilestones.expenses)}}</ng-template>-->
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Start Date" prop="startDate"></ngx-datatable-column>
                        <ngx-datatable-column name="End Date" prop="endDate"></ngx-datatable-column>
                        <ngx-datatable-column name="Progress" prop="progress"></ngx-datatable-column>
                      </ngx-datatable>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class=" col-md-12 col-sm-12" style="margin-top: 40px;">
          <div class=" row">
            <div class=" col">
              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <h3 style="margin-left: 40px;">PERFORMANCE</h3>
                  </div>
                </div>
                <div class="card-body col-sm-12">
                  <div class="row">
                              <div class=" col-xl-3 col-md-6">
                                <div class=" card card-stats">
                                  <div>
                                    <div class=" row">
                                      <div class=" col">
                                        <h3 class=" card-title text-uppercase text-muted mb-0">
                                          FEEDBACK
                                        </h3>

                                        <span class=" h2 font-weight-bold mb-0"> {{this.feedback?.length}} </span>
                                      </div>

                                      <div class=" col-auto">
                                        <div class=" icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                          <i class=" ni ni-favourite-28"> </i>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                    <div class=" col-xl-3 col-md-6">
                      <div class=" card card-stats">
                        <div>
                          <div class=" row">
                            <div class=" col">
                              <h3 class=" card-title text-uppercase text-muted mb-0">
                              REFERRALS
                              </h3>

                              <span class=" h2 font-weight-bold mb-0"> {{this.referrals?.length}} </span>
                            </div>

                            <div class=" col-auto">
                              <div class=" icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                <i class=" ni ni-tag"> </i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                              <div class=" col-xl-3 col-md-6">
                                <div class=" card card-stats">
                                  <div>
                                    <div class=" row">
                                      <div class=" col">
                                        <h3 class=" card-title text-uppercase text-muted mb-0">
                                          QUARTERLY REPORT
                                        </h3>

                                        <span class=" h2 font-weight-bold mb-0"> {{this.quarterly_report?.length}} </span>
                                      </div>

                                      <div class=" col-auto">
                                        <div class=" icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                          <i class=" ni ni-like-2"> </i>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class=" col-xl-3 col-md-6">
                                <div class=" card card-stats">
                                  <div>
                                    <div class=" row">
                                      <div class=" col">
                                        <h3 class=" card-title text-uppercase text-muted mb-0">
                                          ACTIVITY REPORT
                                        </h3>

                                        <span class=" h2 font-weight-bold mb-0"> {{this.activity_report?.length}} </span>
                                      </div>

                                      <div class=" col-auto">
                                        <div class=" icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                          <i class=" ni ni-tag"> </i>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>


<!--                    <button class="btn btn-default" (click)="createReferral()">New Referral</button>-->
<!--                    <button class="btn btn-default" (click)="createActivityReport()">New Activity Report</button>-->
<!--                    <button class="btn btn-default" (click)="createFeedback()">New Feedback</button>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class=" col-md-12 col-sm-12" style="margin-top: 40px;">
          <div class=" row">
            <div class=" col">

              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <h3 style="margin-left: 40px;">TO DO LIST ({{taskListRows?.length}})</h3>
                  </div>
                </div>
                <div class="card-body col-sm-12 home-card">
                  <div class="row" *ngFor="let row of taskListRows">
                    <button class="btn" (click)="openForm(row.task_type, row)">
                      <div class="row">
                        <span style="border-left: 4px solid #2dce89;"></span>
                        <div class="col text-left" style="display: grid">
                          <span>{{row.task_case}}</span>
                          <span>{{ row.task_type | replace: '_' : ' ' }}</span>
                          <span><b>{{ row.task_name | replace: '_' : ' ' }}</b></span>
                          <span><i>{{ row.date_assigned | date: 'mediumDate' }}</i></span>
                        </div>
                      </div>
                    </button>
                  </div>
                </div>
              </div>

            </div>
            <div class=" col">

              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <h3 style="margin-left: 40px;">PROGRESS TRACK</h3>
                  </div>
                </div>
                <div class="card-body col-sm-12 home-card">
                  <div class="row" *ngFor="let filter of filters">
                    <button class="btn" (click)="setFilters(filter)">
                      <div class="row">
                        <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                          <i class="ni ni-time-alarm"> </i>
                        </div>
                        <div style="margin-left: 20px; display: flex; align-items: center;"><h3>{{filter.name}}({{getNumberOfRecordsForFilter(filter.name)}})</h3></div>
                        <span style="margin-left: 60px; width: 80%; border-bottom: 4px solid #eeeeee"></span>
                      </div>
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>



      </div>
    </div>

  </div>
</div>
