<div class="header bg-success pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
      </div>
    </div>
  </div>
</div>

<div id="dark_container" [style.display]="openPopup ? 'block' : 'none'"></div>
<div *ngIf="openCommentsPopup" class="card window__container">
  <div class="card-header" style="text-align: center">
    <h3>Comments</h3>
  </div>
  <div class="card-body d-flex flex-column">
    <div class="row">
      <div class="col-sm-1 text-center" style="font-size: 32px;"><i class="fas fa-user"></i></div>
      <div class="col-sm-11">
        <textarea [disabled]="isReadOnly" class="form-control" id="addComment" placeholder="Add a comment" cols="50"
                  rows="3"></textarea>
        <div style="display: flex;justify-content: end;">
          <button class="btn btn-success comment_btn" style="margin: 10px;" (click)="addComment()">Send</button>
        </div>
      </div>
    </div>
    <hr style="margin-top: 0rem; margin-bottom: 0rem;"/>
    <app-comments [comments]="comments" (onNewComment)="onNewCommentsHandler($event)"
                  (commentsChanged)="commentsChangedHandler($event)"></app-comments>
  </div>
  <div class="card-footer" style="text-align: end">
    <button class="btn btn-danger" (click)="viewComments()">Close</button>
  </div>
</div>

<div *ngIf="openRecommendationsPopup" class="card window__container">
  <div class="card-header" style="text-align: center">
    <h3>Recommendations</h3>
  </div>
  <div class="card-body d-flex flex-column">
    <div class="row">
      <div class="col-sm-1 text-center" style="font-size: 32px;"><i class="fas fa-user"></i></div>
      <div class="col-sm-11">
        <textarea [disabled]="isReadOnly" class="form-control" id="addRecommendation" placeholder="Add a recommendation"
                  cols="50"
                  rows="3"></textarea>
        <div style="display: flex; justify-content: end;">
          <button class="btn btn-success comment_btn" style="margin: 10px;" (click)="addRecommendation()">Send</button>
        </div>
      </div>
    </div>
    <hr style="margin-top: 0rem; margin-bottom: 0rem;"/>
    <app-comments [comments]="recommendations" (onNewComment)="onNewRecommendationsHandler($event)"
                  (commentsChanged)="recommendationsChangedHandler($event)"
                  [isRecommendation]=true></app-comments>
  </div>
  <div class="card-footer" style="text-align: end">
    <button class="btn btn-dark comment_btn" (click)="viewRecommendations()">Close</button>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col">
      <div class=" card">
        <div class="row">

          <div style="width: 100%; text-align: -webkit-center; display: block;">
            <div [style.display]="isSubmitVisible ? 'block' : 'none'"><h6 class="h2 d-inline-block mb-0">SUBMIT PROGRESS REPORT</h6></div>
            <div [style.display]="isSubmitFinalVisible ? 'block' : 'none'"><h6 class="h2 d-inline-block mb-0">SUBMIT FINAL PROGRESS REPORT</h6></div>
            <div [style.display]="isReviewFinance ? 'block' : 'none'"><h6 class="h2 d-inline-block mb-0">REVIEW FINANCIAL REPORT</h6></div>
            <div [style.display]="isReviewPerformance ? 'block' : 'none'"><h6 class="h2 d-inline-block mb-0">REVIEW PERFORMANCE REPORT</h6></div>
            <div [style.display]="isReviewProgram ? 'block' : 'none'"><h6 class="h2 d-inline-block mb-0">REVIEW PROGRAM REPORT</h6></div>
            <div [style.display]="isApproveVisible ? 'block' : 'none'"><h6 class="h2 d-inline-block mb-0">APPROVE PROGRESS REPORT</h6></div>
            <div [style.display]="isDisburseFunds ? 'block' : 'none'"><h6 class="h2 d-inline-block mb-0">DISBURSE FUNDS</h6></div>
            <div [style.display]="isApproveFundDisbursement ? 'block' : 'none'"><h6 class="h2 d-inline-block mb-0">APPROVE FUND DISBURSEMENT</h6></div>
          </div>

          <div class=" col-md-12 col-sm-12" style="margin-top: 40px;">
            <div class=" row">
              <div class=" col">

                <h3 style="margin-left: 40px;">ORGANISATIONAL INFORMATION</h3>
                <div class="card">
                  <div class="row" style="margin: 10px;">
                    <div class="col-sm-6">
                      <ul style="list-style: none; font-size: 16px">
                        <li>Program: <b>{{organisationalInfo?.program}}</b></li>
                        <li>Physical Address: <b>{{organisationalInfo?.physicalAddress}}</b></li>
                        <li>Name of the Lead Cluster Organization: <b>{{organisationalInfo?.organisation}}</b>
                        </li>
                        <li>Name of Contact Person: <b>{{organisationalInfo?.nameContactPerson}}</b></li>
                        <li>Email of Contact Person: <b>{{organisationalInfo?.emailContactPerson}}</b></li>
                        <li>Contact of Contact Person: <b>{{organisationalInfo?.telephoneContactPerson}}</b></li>
                      </ul>
                    </div>
                    <div class="col-sm-6">
                      <ul style="list-style: none; font-size: 16px">
                        <li>Cluster: <b>{{organisationalInfo?.cluster}}</b></li>
                        <li>Type of Organisation: <b>{{organisationalInfo?.organisationType}}</b></li>
                        <li>Country: <b>{{organisationalInfo?.country}}</b></li>
                        <li>City: <b>{{organisationalInfo?.city}}</b></li>
                        <li>
                          <label>
                            Organizations involved in the cluster:
                          </label>
                          <table class="table table-striped table-bordered hover" style="display: table">
                            <thead>
                            <tr>
                              <th class='text-center'>Name of organization</th>
                              <th class='text-center'>Telephone Number</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let org of organisationsInvolved">
                              <td class='text-center' style="display: none;">{{org.id}}</td>
                              <td class='text-center' [id]="org.id">{{org.name}}</td>
                              <td class="text-center" [id]="org.id+'-d'">{{org.contact}}</td>
                            </tr>
                            </tbody>
                          </table>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>


                <h3 style="margin-left: 40px;">PROJECT OVERVIEW</h3>
                <div class="card">
                  <div class="row" style="margin: 20px;">
                    <div class="col-sm-6">
                      <ul style="list-style: none; font-size: 15px">
                        <li>Reporting Period: <b>{{taskRecord?.reportingPeriod}}</b></li>
                        <li>Start Date: <b>{{taskRecord?.startDate | date: 'mediumDate' }}</b></li>
                        <li>End Date: <b>{{taskRecord?.endDate | date: 'mediumDate' }}</b></li>
                      </ul>
                    </div>
                    <div class="col-sm-6">
                      <ul style="list-style: none; font-size: 15px">
                        <li>Total Grant Amount: <b>{{totalGrantAmount | number}}</b></li>
                        <li>Amount Transferred in the reporting period: <b>{{totalAdvanced | number}}</b>
                        </li>
                        <li>Amount Utilized in the period: <b>{{totalAmountSpent | number}}</b></li>
                        <li>Balance Spent/Overspent: <b>{{balance | number}}</b></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="card" [style.display]="isSubmitFinalVisible ? 'block' : 'none'">
                  <div class="row text-right">
                    <div class="col-sm-9">&nbsp;</div>
                    <div class="col-sm-3">
                      <button class="btn btn-success comment_btn" (click)="viewComments()">View Comments</button>
                    </div>
                  </div>
                </div>

                <h3 style="margin-left: 40px;">SUMMARY OF PERFORMANCE FOR THE REPORTING PERIOD</h3>
                <div class="card">
                  <table class="table table-striped table-bordered" id="summary">
                    <thead>
                    <tr>
                      <th class='text-center' style="display: none;">Id</th>
                      <th class='text-center'>Output Indicators</th>
                      <th class='text-center'>Overall Target</th>
                      <th class='text-center'>Cumulative achievement</th>
                      <th class='text-center'>Quarter Target</th>
                      <th class='text-center'>Quarter achievement</th>
                      <th class='text-center'>% achievement</th>
                      <th class='text-center'>Comment <span class="required-indicator">*</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let row of performance">
                      <td class='text-center' style="display: none;">{{row.id}}</td>
                      <td class='text-center'>{{ row.outputIndicators }}</td>
                      <td class='text-center'>{{ row.overallTarget | number }}</td>
                      <td class='text-center'>{{ row.cumulativeAchievement | number }}</td>
                      <td class='text-center'>{{ row.quarterTarget | number }}</td>
                      <td class='text-center'
                          *ngIf="row.milestoneId!=undefined">{{ row.quarterAchievement  | number }}</td>
                      <td class='text-center' *ngIf="row.milestoneId==undefined"
                          id="1-{{row.id}}">{{ row.quarterAchievement | number }}
                        <div *ngIf="isSubmitVisible || isReviewPerformance || isReviewProgram || isSubmitFinalVisible">
                          <button class="btn btn-link"
                                  (click)="cellEditor(row, '1-'+row.id, 'quarter_achievement', row.quarterAchievement, 'number')">
                            <i
                              class="fas fa-pencil-alt"></i></button>
                        </div>
                      </td>
                      <td class='text-center'>{{ row.percentageAchievement }}</td>
                      <td class='text-center comment' id="0-{{row.id}}">
                        {{ row.commentOnResult }}
                        <div *ngIf="isSubmitVisible || isReviewPerformance || isReviewProgram || isSubmitFinalVisible">
                          <button class="btn btn-link"
                                  (click)="cellEditor(row, '0-'+row.id, 'summaryComment', row.commentOnResult)"><i
                            class="fas fa-pencil-alt"></i></button>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>

                <h3 style="margin-left: 40px;">FINANCIAL REPORT</h3>
                <div class="card">
                  <table class="table table-striped table-bordered" id="financial">
                    <thead>
                    <tr>
                      <th class='text-center' style="display: none;">Id</th>
                      <th class='text-center'>Budget Line</th>
                      <th class='text-center'>Approved Budget</th>
                      <th class='text-center'>Expense-to-date</th>
                      <th class='text-center'>Total Advanced <span class="required-indicator">*</span></th>
                      <th class='text-center'>Quarter Expenses <span class="required-indicator">*</span></th>
                      <th class='text-center'>Variance</th>
                      <th class='text-center'>Reason for Variance <span class="required-indicator">*</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let row of financial">
                      <td class='text-center' style="display: none;">{{row.id}}</td>
                      <td class='text-center'>{{ row.budgetLine }}</td>
                      <td class='text-center'>{{ row.approvedBudget | number }}</td>
                      <td class='text-center'>{{ row.expenseToDate | number }}</td>
                      <td class='text-center' id="td1-{{row.id}}">
                        {{ row.totalAdvanced | number }}
                        <div *ngIf="isSubmitVisible || isReviewFinance || isSubmitFinalVisible">
                          <button class="btn btn-link"
                                  (click)="cellEditor(row,'td1-'+row.id, 'totalAdvanced', row.totalAdvanced, 'number')">
                            <i
                              class="fas fa-pencil-alt"></i></button>
                        </div>
                      </td>
                      <td class='text-center' id="td2-{{row.id}}">
                        {{ row.quarterExpenses | number }}
                        <div *ngIf="isSubmitVisible || isReviewFinance || isSubmitFinalVisible">
                          <button class="btn btn-link"
                                  (click)="cellEditor(row,'td2-'+row.id, 'quarterExpense', row.quarterExpenses, 'number')">
                            <i
                              class="fas fa-pencil-alt"></i></button>
                        </div>
                      </td>
                      <td class='text-center'>{{ row.variance }}</td>
                      <td class='text-center comment' [id]="'td3-'+row.id">
                        {{ row.reasonForVariance }}
                        <div *ngIf="isSubmitVisible || isReviewFinance || isSubmitFinalVisible">
                          <button class="btn btn-link"
                                  (click)="cellEditor(row,'td3-'+row.id, 'reason_for_variance',row.reasonForVariance)">
                            <i class="fas fa-pencil-alt"></i></button>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>

                <div class="card" [style.display]="isSubmitVisible ? 'block' : 'none'">
                  <form>
                    <div class="form-group row">
                      <div class="col-sm-3"><label for="attachment1">Attach narrative to the program report: <span
                        class="required-indicator">*</span></label>
                      </div>
                      <div class="col-sm-6"><input class="form-control" id="attachment1" placeholder="upload document"
                                                   type="file" (change)="handleFileInput($event)"/>
                        <button
                          *ngIf="shortLink1!=''"
                          type="button"
                          (click)="fileUploadService.downloadFile(shortLink1)"
                          class="btn btn-link">{{fileUploadService.getFileName(shortLink1)}} <i
                          class="fas fa-download"></i></button>
                      </div>
                      <div class="col-sm-3">
                        <button
                          type="button"
                          (click)="fileUploadService.downloadFile('CRVPF Project Reporting Format.docx')"
                          class="btn btn-link">Download Template Here <i class="fas fa-download"></i></button>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-3"><label for="attachment2">Attach narrative duly signed financial
                        report: <span class="required-indicator">*</span></label></div>
                      <div class="col-sm-6"><input class="form-control" id="attachment2" placeholder="upload document"
                                                   type="file" (change)="handleFileInput($event)"/>
                        <button
                          *ngIf="shortLink2!=''"
                          type="button"
                          (click)="fileUploadService.downloadFile(shortLink2)"
                          class="btn btn-link">{{fileUploadService.getFileName(shortLink2)}} <i
                          class="fas fa-download"></i></button>
                      </div>
                      <div class="col-sm-3">
                        <button
                          type="button"
                          (click)="fileUploadService.downloadFile('CRVPF of Annual  Financial report template.xlsx')"
                          class="btn btn-link">Download Template Here <i class="fas fa-download"></i></button>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-3"><label for="attachment3">Attach receipts and supporting documents:</label>
                      </div>
                      <div class="col-sm-6"><input class="form-control" id="attachment3" placeholder="upload document"
                                                   type="file" (change)="handleFileInput($event)"/>
                        <button
                          *ngIf="shortLink3!=''"
                          type="button"
                          (click)="fileUploadService.downloadFile(shortLink3)"
                          class="btn btn-link">{{fileUploadService.getFileName(shortLink3)}} <i
                          class="fas fa-download"></i></button>
                      </div>
                      <div class="col-sm-3">
                        <i>This must be filled for the YCD program</i>
                      </div>
                    </div>
                  </form>

                  <!--Flag variable is used here-->
                  <div class="container" *ngIf="loading">***
                    <h3>Uploading attachment, please wait ...</h3>
                  </div>

                </div>

                <div class="card" [style.display]="isReviewVisible || isSubmitFinalVisible ? 'block' : 'none'">
                  <div class="container" [style.display]="isSubmitFinalVisible ? 'inline-grid' : 'block'"
                       style="justify-content: space-evenly;">
                    <div class="row">
                      <div class="col-sm-4"><p>Attached narrative to the program report:</p></div>
                      <div [style.display]="isSubmitFinalVisible ? 'block' : 'none'" class="col-sm-4"><input
                        class="form-control" id="attachment1" placeholder="upload document"
                        type="file" (change)="handleFileInput($event)"/></div>
                      <div class="col-sm-4" [style.display]="shortLink1.length>0 ? 'block' : 'none'">
                        <button
                          type="button"
                          (click)="fileUploadService.downloadFile(shortLink1)"
                          class="btn btn-link">{{fileUploadService.getFileName(shortLink1)}} <i
                          class="fas fa-download"></i></button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4"><p>Attached narrative duly signed financial report:</p></div>
                      <div [style.display]="isSubmitFinalVisible ? 'block' : 'none'" class="col-sm-4"><input
                        class="form-control" id="attachment2" placeholder="upload document"
                        type="file" (change)="handleFileInput($event)"/></div>
                      <div class="col-sm-4" [style.display]="shortLink2.length>0 ? 'block' : 'none'">
                        <button
                          type="button"
                          (click)="fileUploadService.downloadFile(shortLink2)"
                          class="btn btn-link">{{fileUploadService.getFileName(shortLink2)}} <i
                          class="fas fa-download"></i></button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4"><p>Attached receipts and supporting documents:</p></div>
                      <div [style.display]="isSubmitFinalVisible ? 'block' : 'none'" class="col-sm-4"><input
                        class="form-control" id="attachment3" placeholder="upload document"
                        type="file" (change)="handleFileInput($event)"/></div>
                      <div class="col-sm-4" [style.display]="shortLink3.length>0 ? 'block' : 'none'">
                        <button
                          type="button"
                          (click)="fileUploadService.downloadFile(shortLink3)"
                          class="btn btn-link">{{fileUploadService.getFileName(shortLink3)}} <i
                          class="fas fa-download"></i></button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card"
                     [style.display]="isApproveVisible || isDisburseFunds || isApproveFundDisbursement  ? 'block' : 'none'">
                  <div class="row">
                    <div class="col">
                      <div class="row">
                        <div class="col-sm-6"><p>Attached narrative to the program report:</p></div>
                        <div class="col-sm-6">
                          <button
                            [style.display]="shortLink1.length>0 ? 'block' : 'none'"
                            type="button"
                            (click)="fileUploadService.downloadFile(shortLink1)"
                            class="btn btn-link">{{fileUploadService.getFileName(shortLink1)}} <i
                            class="fas fa-download"></i></button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6"><p>Attached narrative duly signed financial report:</p></div>
                        <div class="col-sm-6">
                          <button
                            [style.display]="shortLink2.length>0 ? 'block' : 'none'"
                            type="button"
                            (click)="fileUploadService.downloadFile(shortLink2)"
                            class="btn btn-link">{{fileUploadService.getFileName(shortLink2)}} <i
                            class="fas fa-download"></i></button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6"><p>Attached receipts and supporting documents:</p></div>
                        <div class="col-sm-6">
                          <button
                            [style.display]="shortLink3.length>0 ? 'block' : 'none'"
                            type="button"
                            (click)="fileUploadService.downloadFile(shortLink3)"
                            class="btn btn-link">{{fileUploadService.getFileName(shortLink3)}} <i
                            class="fas fa-download"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <h3 style="margin-left: 40px;" [style.display]="isReviewVisible ? 'block' : 'none'">REVIEWER
                  INFORMATION</h3>
                <div class="card" [style.display]="isReviewVisible ? 'block' : 'none'">
                  <div class="row">
                    <div class="col">
                      <div style="margin-bottom: 30px;">
                        <p>Are the expenses realistic?<span class="required-indicator">*</span></p>
                        <ul class="list-group list-group-flush" *ngFor="let item of items">
                          <li class="list-group-item">
                            <input type="radio" name="expenses_realistic" [disabled]="isReadOnly"
                                   [(ngModel)]="radioExpensesRealistic"
                                   value="{{item.value}}"/>
                            {{item.name}}
                          </li>
                        </ul>
                      </div>
                      <div style="margin-bottom: 30px;">
                        <p>Have the attachments been verified?<span class="required-indicator">*</span></p>
                        <ul class="list-group list-group-flush" *ngFor="let item of items">
                          <li class="list-group-item">
                            <input type="radio" name="attachments_verified" [disabled]="isReadOnly"
                                   [(ngModel)]="radioAttachmentsVerified"
                                   value="{{item.value}}"/>
                            {{item.name}}
                          </li>
                        </ul>
                      </div>
                      <div>
                        <p>Are the figures provided realistic?<span class="required-indicator">*</span></p>
                        <ul class="list-group list-group-flush" *ngFor="let item of items">
                          <li class="list-group-item">
                            <input type="radio" name="figures_realistic" [disabled]="isReadOnly"
                                   [(ngModel)]="radioFiguresRealistic"
                                   value="{{item.value}}"/>
                            {{item.name}}
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="col">
                      <div style="margin-bottom: 30px;">
                        <p>Does the narrative align with the objectives of the project?<span class="required-indicator">*</span></p>
                        <ul class="list-group list-group-flush" *ngFor="let item of items">
                          <li class="list-group-item">
                            <input type="radio" name="narrative_align" [disabled]="isReadOnly"
                                   [(ngModel)]="radioNarrativeAlign"
                                   value="{{item.value}}"/>
                            {{item.name}}
                          </li>
                        </ul>
                      </div>
                      <div style="margin-bottom: 30px;">
                        <p>Are they in line with the targets?<span class="required-indicator">*</span></p>
                        <ul class="list-group list-group-flush" *ngFor="let item of items">
                          <li class="list-group-item">
                            <input type="radio" name="inline_with_targets" [disabled]="isReadOnly"
                                   [(ngModel)]="radioInlineWithTargets"
                                   value="{{item.value}}"/>
                            {{item.name}}
                          </li>
                        </ul>
                      </div>
                      <div>
                        <p>Is the evidence of the activities satisfactory?<span class="required-indicator">*</span></p>
                        <ul class="list-group list-group-flush" *ngFor="let item of items">
                          <li class="list-group-item">
                            <input type="radio" name="evidence_satisfactory" [disabled]="isReadOnly"
                                   [(ngModel)]="radioEvidenceSatisfactory"
                                   value="{{item.value}}"/>
                            {{item.name}}
                          </li>
                        </ul>
                      </div>
                    </div>

                  </div>

                  <div class="row">
                    <button class="btn btn-success comment_btn" (click)="viewRecommendations()"
                            *hasRole="['ROLE_STAFF_DATA_VIEWER', 'ROLE_PROGRAM_OFFICER', 'ROLE_SUPER_ADMIN']"
                            style="margin-left: 20px">
                      View
                      Recommendations
                    </button>
                    <br><br>
                    <button class="btn btn-success comment_btn" (click)="viewComments()" style="margin-left: 20px">View
                      Comments
                    </button>
                  </div>

                  <div class="row">
                    <div class="col">
                      <p>Comments For Partner <span class="required-indicator">*</span></p>
                      <textarea class="form-control" [disabled]="isReadOnly" rows="3"
                                [(ngModel)]="reviewerComments"></textarea>
                    </div>
                    <div class="col">
                      <p>Recommendations<span class="required-indicator">*</span></p>
                      <textarea class="form-control" [disabled]="isReadOnly" rows="3"
                                [(ngModel)]="reviewerRecommendations"></textarea>
                    </div>
                  </div>
                </div>

                <div class="card" [style.display]="isApproveVisible ? 'block' : 'none'">
                  <div class="row">
                    <div class="col-sm-9">
                      <div class="row">
                        <div class="col-sm-12"><p>Has the partner satisfactorily affected the suggested changes?<span class="required-indicator">*</span></p>
                          <ul class="list-group list-group-flush" *ngFor="let item of items">
                            <li class="list-group-item">
                              <input type="radio" name="suggested_changes_satisfactory" [disabled]="isReadOnly"
                                     [(ngModel)]="radioSuggestedChangesSatisfactory"
                                     value="{{item.value}}"/>
                              {{item.name}}
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12"><p>Are the financial, performance and narrative reports well aligned?<span class="required-indicator">*</span></p>
                          <ul class="list-group list-group-flush" *ngFor="let item of items">
                            <li class="list-group-item">
                              <input type="radio" name="reports_well_aligned" [disabled]="isReadOnly"
                                     [(ngModel)]="radioReportsWellAligned"
                                     value="{{item.value}}"/>
                              {{item.name}}
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12"><p>Do you recommend for further fund disbursement?<span class="required-indicator">*</span></p>
                          <ul class="list-group list-group-flush" *ngFor="let item of items">
                            <li class="list-group-item">
                              <input type="radio" name="recommend_fund" [disabled]="isReadOnly"
                                     [(ngModel)]="radioRecommendFund"
                                     value="{{item.value}}"/>
                              {{item.name}}
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12"><p>Is this the end of this partnership?<span class="required-indicator">*</span></p>
                          <ul class="list-group list-group-flush" *ngFor="let item of items">
                            <li class="list-group-item">
                              <input type="radio" name="end_of_partnership" [disabled]="isReadOnly"
                                     [(ngModel)]="radioEndOfPartnership"
                                     value="{{item.value}}"/>
                              {{item.name}}
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-3">
                      <div>
                        <button class="btn btn-success comment_btn" (click)="viewRecommendations()">View
                          Recommendations
                        </button>
                        <br><br>
                        <button class="btn btn-success comment_btn" (click)="viewComments()">View Comments</button>
                      </div>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-sm-6" style="margin-bottom: 0; margin-top: 0;"
                         [style.display]="radioRecommendFund=='Yes' ? 'block':'none'">
                      <label>Amount of Funds to be disbursed:</label>
                      <input [disabled]="isReadOnly" type="number" class="form-control"
                             [(ngModel)]="amountOfFundsDisbursed"/>
                    </div>
                    <div class="col-sm-6" style="margin-bottom: 0; margin-top: 0;">
                      <label>Provide any recommendations (Internal):</label>
                      <textarea [disabled]="isReadOnly" class="form-control" rows="3"
                                [(ngModel)]="provideAnyRecommendations"></textarea>
                    </div>
                  </div>
                </div>

                <div class="card" [style.display]="isApproveFundDisbursement ? 'block' : 'none'">
                  <div class="row">
                    <div class="col-sm-9">
                      <div class="row">
                        <div class="col"><p>How would you like to proceed?<span class="required-indicator">*</span></p>
                        </div>
                        <div class="col text-left">
                          <ul style="list-style: none;">
                            <li *ngFor="let item of proceed">
                              <input [disabled]="isReadOnly" type="radio" name="how_to_proceed"
                                     [(ngModel)]="radioHowToProceed"
                                     value="{{item.value}}"/>
                              {{item.name}}
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="row" style="margin-bottom: 0px; margin-top: 0px;">
                        <div class="col"><p>Provide any recommendations (Internal):<span class="required-indicator">*</span></p></div>
                        <div class="col text-left"><textarea [disabled]="isReadOnly" class="form-control"
                                                             [(ngModel)]="provideAnyRecommendations"></textarea></div>
                      </div>
                    </div>

                    <div class="col-sm-3">
                      <div>
                        <button class="btn btn-success comment_btn" (click)="viewRecommendations()">View
                          Recommendations
                        </button>
                        <br><br>
                        <button class="btn btn-success comment_btn" (click)="viewComments()">View Comments</button>
                      </div>
                    </div>

                  </div>

                </div>

                <div class="card" [style.display]="isDisburseFunds ? 'block' : 'none'">
                  <div class="row">
                    <div class="col-sm-9">
                      <div class="row" style="margin-bottom: 0px; margin-top: 0px;">
                        <div class="col"><p>Amount of Funds to be disbursed:<span class="required-indicator">*</span></p></div>
                        <div class="col text-left"><input [disabled]="isReadOnly" type="number" class="form-control"
                                                          [(ngModel)]="amountOfFundsDisbursed"/><br></div>
                      </div>
                      <div class="row" style="margin-bottom: 0px; margin-top: 0px;">
                        <div class="col"><p>Date disbursed:<span class="required-indicator">*</span></p></div>
                        <div class="col text-left"><input [disabled]="isReadOnly" type="date" class="form-control"
                                                          [(ngModel)]="dateDisbursed"/><br></div>
                      </div>
                      <div class="row" style="margin-bottom: 0px; margin-top: 0px;">
                        <div class="col"><p>Amount of Funds Remaining<span class="required-indicator">*</span></p></div>
                        <div class="col text-left"><input [disabled]="isReadOnly" type="number" class="form-control"
                                                          [(ngModel)]="amountOfFundsRemaining"/></div>
                      </div>
                    </div>

                    <div class="col-sm-3">
                      <div>
                        <button class="btn btn-success comment_btn" (click)="viewRecommendations()">View
                          Recommendations
                        </button>
                        <br><br>
                        <button class="btn btn-success comment_btn" (click)="viewComments()">View Comments</button>
                      </div>
                    </div>

                  </div>
                </div>


                <div *ngIf="error || success" class="row align-items-center text-center"
                     style="display: flex; justify-content: center;">
                  <div class="alert alert-danger" style="width: 40%;" *ngIf="error">
                    <strong>Error:</strong> {{errorMessage}}
                  </div>
                  <div class="alert" style="width: 40%; color: saddlebrown; background-color: white;" *ngIf="success">
                    <strong>Success:</strong> {{successMessage}}
                  </div>
                </div>

                <div *ngIf="!isReadOnly">
                  <div class="row" [style.display]="isSubmitVisible || isSubmitFinalVisible ? 'block' : 'none'">
                    <div class="col-lg-12 bottom_buttons_row"
                         style="text-align: -webkit-center; display: flex; justify-content: space-evenly;">
                      <button class="btn btn-danger" [disabled]="submitting"  (click)="onBackPressed()">Cancel</button>
                      <button class="btn btn-warning" [disabled]="submitting"  (click)="submitReport('save')">Save For Later</button>
                      <button class="btn btn-success" [disabled]="submitting"  (click)="submitReport('submit')">
                        <span *ngIf="!submitting">Submit Report</span>
                        <span *ngIf="submitting">Loading ...</span>
                      </button>
                    </div>
                  </div>
                  <div class="row" [style.display]="isReviewVisible ? 'block' : 'none'">
                    <div class="col-lg-12 bottom_buttons_row"
                         style="text-align: -webkit-center; display: flex; justify-content: space-evenly;">
                      <button class="btn btn-warning" [disabled]="submitting"  (click)="reviewReport('revise')">Save For Later</button>
                      <button class="btn btn-success" [disabled]="submitting"  (click)="reviewReport('submit')">
                        <span *ngIf="!submitting">Approve Review</span>
                        <span *ngIf="submitting">Loading ...</span>
                      </button>
                    </div>
                  </div>
                  <div class="row"
                       [style.display]="isApproveVisible || isApproveFundDisbursement || isDisburseFunds ? 'block' : 'none'">
                    <div class="col-lg-12 bottom_buttons_row"
                         style="text-align: -webkit-center; display: flex; justify-content: space-evenly;">
                      <button class="btn btn-danger" [disabled]="submitting"  (click)="onBackPressed()">Cancel</button>
                      <button class="btn btn-success" [disabled]="submitting"  (click)="approveReport()">
                        <span *ngIf="!submitting">Approve Report</span>
                        <span *ngIf="submitting">Loading ...</span>
                      </button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
