th.text-left {
  font-weight: 400;
  font-size: 14px;
  line-height: inherit;
}

label.control-label.col-sm-4 {
  font-size: 15px;
}

.col > .card, .container {
  padding: 20px;
  margin: 20px;
}

.card > div, form {
  margin: 20px;
}

.comment_btn {
  height: 25px;
  width: max-content;
  padding: revert;
  font-size: 12px;
}

.arrow-right {
  font-size: 32px;
  display: flex;
  align-items: center;
}

.justify-center {
  justify-content: center;
  display: flex;
}

.window__container {
  display: block;
  position: fixed;
  margin: 0 auto;
  min-width: 40%;
  min-height: 40%;
  top: 50%;
  max-height: 80%;
  left: 50%;
  padding: 20px;
  overflow: auto;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 10001;
}

#dark_container {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background-color: rgba(22,22,22,0.12); /* complimenting your modal colors */
  z-index: 10000;
}

.in-line-cell {
  min-height: 35px;
  margin: auto;
  width: auto;
  height: auto;
}

ul>li {
  margin: 0 0 10px 0;
}

.required-indicator{
  color:red;
}

tr td {
  white-space: pre;
  overflow: hidden;
  max-width: 300px;
  text-overflow: ellipsis;
}

table {
  width: 100%;
  overflow: auto;
  display: table;
  table-layout: fixed;
}
