th.text-left {
  font-weight: 400;
  font-size: 14px;
  line-height: inherit;
}

label.control-label.col-sm-4 {
  font-size: 15px;
}

.col > .card, .container {
  padding: 20px;
  margin: 20px;
}

.card > div, form {
  margin: 20px;
}

.comment_btn {
  height: 25px;
  width: max-content;
  padding: revert;
  font-size: 12px;
}

.arrow-right {
  font-size: 32px;
  display: flex;
  align-items: center;
}

.justify-center {
  justify-content: center;
  display: flex;
}
