<div class=" header bg-success pb-6" style="overflow-x: hidden;">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-white d-inline-block mb-0">ACL Group Mapping With Parent</h6>
          <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4"></nav>
        </div>
        <div class=" col-lg-6 col-5 text-right">

        </div>
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6" style="overflow-x: hidden;">
  <div class=" row justify-content-center">
    <div class=" col-lg-10 card-wrapper">
      <div class="card">
        <div class="card-header" style="padding: 10px">
          <h3 style="font-family: Open Sans, sans-serif;">Create ACL Group Mapping</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="formGroup" (ngSubmit)="createACLGROUPMAPPING()" *ngIf="formGroup" style="padding:30px">
            <div class="row">
              <div class="col-lg-12" style="padding-left: 30px;padding-top: 15px">
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Group
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Group"
                                     formControlName="group"
                                     [searchable]="true"
                                     [clearable]="true"
                                     [readonly]="this.greyOutGroupField"
                          >
                            <ng-option [value]="item.id" *ngFor="let item of parents">
                              {{item.name}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Table
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                          <ng-select class="form-control form-control-sm"
                                     name="datatable_length"
                                     aria-controls="datatable"
                                     style="height: auto!important;padding: 0; border: 1px solid #f7fafc;"
                                     [multiple]="false"
                                     placeholder="Table"
                                     [(ngModel)]="form"
                                     [ngModelOptions]="{standalone: true}"
                                     [searchable]="true"
                                     [clearable]="true"
                          >
                            <ng-option [value]="item.Tables_in_kengamis" *ngFor="let item of forms">
                              {{item?.Tables_in_kengamis}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>
                      Group Condition Query<br>
                      (Must be a valid mysql WHERE condition)
                    </label>
                  </div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class=" input-group input-group-merge">
                                        <textarea
                                          class="form-control"
                                          placeholder="Group Condition Query"
                                          style="height: 144px;"
                                          type="text"
                                          [(ngModel)]="groupConditionQuery"
                                          [ngModelOptions]="{standalone: true}"

                                        ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="padding-bottom: 16px;">
                  <div class="col-md-12">
                    <div class="form-row is-invalid" *ngIf="error!==''">
                      <p style="color: red">{{error}}</p>
                    </div>
                    <button class=" btn btn-default  fa-pull-right" type="button"
                            (click)="addQuery()">
                      {{addQueryButtonText}}
                    </button>
                  </div>
                </div>
                <div class="row" style="padding-bottom: 16px;">
                  <div class="col-md-12">
                    <div class=" table-responsive" style="width: 100%!important ;">
                      <table class=" table align-items-center table-flush"
                             style="width: 100%!important;table-layout:fixed;">
                        <thead class=" thead-light">
                        <tr class="row">
                          <th class="col-md-3">  &nbsp; &nbsp; Form Name</th>
                          <th class="col-md-8">Query</th>
                          <th class="col-md-1">Actions</th>
                        </tr>
                        </thead>
                        <tr *ngFor="let row of queryArray; let i = index;" class="row">
                          <td style="white-space: break-spaces!important;" class="col-md-3">
                            <div> &nbsp;&nbsp;
                              {{row?.form}}
                            </div>
                          </td>
                          <td style="white-space: break-spaces!important;" class="col-md-7">
                            <div *ngIf="!row.show">
                              {{row?.groupConditionQuery}}
                            </div>
                            <div *ngIf="row.show">
                              <input
                                class="form-control"
                                placeholder="Query"
                                type="text"
                                style="padding-left: 10px;"
                                id="{{i}}"
                                [value] = row?.groupConditionQuery
                              >
                            </div>
                          </td>
                          <td class="col-md-1" >
                            <button class="btn btn-link" type="button" *ngIf="row.show"
                                    (click)="saveRow(i)"><i
                              class="fas fa-check"></i></button> &nbsp;
                            <button class="btn btn-link" type="button" *ngIf="row.show"
                                    (click)="cancelRow(i)"><i
                              class="fas fa-ban text-danger"></i></button>
                            <button class="btn btn-link" type="button" *ngIf="!row.show"
                                    (click)="editRow(i)"><i
                              class="fas fa-pencil-alt"></i></button> &nbsp;
                            <i class="fa fa-trash text-danger"  *ngIf="!row.show" (click)="deleteQuestion(i)"></i>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 offset-6" style="padding-bottom: 15px; padding-left: 0px">
                <button
                  class=" btn btn-default"
                  type="submit"
                  [disabled]="!formGroup.dirty"
                >
                  Create ACLs
                </button>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
