<div class=" header bg-success pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h5 class=" h2 text-white d-inline-block mb-0">TASKS</h5>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card" style="padding: 28px;">
          <div class="card-body col-sm-12">
            <div class="row" style="margin-bottom: -30px;margin-top: -20px">
              <div class=" col-xl-3 col-md-6">
                <div class="card-counter info">
                  <i class="fa fa-solid fa-clipboard-list"></i>
                  <span class="count-numbers">{{this.feedback?.length}}</span>
                  <span class="count-name">FEEDBACK</span>
                </div>
              </div>

              <div class=" col-xl-3 col-md-6">
                <div class="card-counter primary">
                  <i class="fa fa-users"></i>
                  <span class="count-numbers">{{this.referrals?.length}}</span>
                  <span class="count-name">REFERRALS</span>
                </div>
              </div>

              <div class=" col-xl-3 col-md-6">
                <div class="card-counter success">
                  <i class="fa fa-database"></i>
                  <span class="count-numbers">{{this.quarterly_report?.length}}</span>
                  <span class="count-name">QUARTERLY REPORT</span>
                </div>
              </div>

              <div class=" col-xl-3 col-md-6">
                <div class="card-counter danger">
                  <i class="fa fa-light fa-calendar-check"></i>
                  <span class="count-numbers">{{this.activity_report?.length}}</span>
                  <span class="count-name">ACTIVITY REPORT</span>
                </div>

              </div>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>


<div class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col">
      <div class="row">
        <div class=" col-md-12 col-sm-12">
          <div class=" row">
            <div class=" col">

              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <h3 style="margin-left: 40px;">TO DO LIST ({{taskListRows?.length}})</h3>
                  </div>
                </div>
                <div class="card-body col-sm-12 home-card">
                  <div class="row" *ngFor="let row of taskListRows">
                    <button class="btn" (click)="openForm(row.task_type, row)">
                      <div class="row">
                        <span style="border-left: 4px solid #fbca3d;"></span>
                        <div class="col text-left" style="display: grid;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
                          <span><b>Task:  {{ row.task_name | replace: '_' : ' ' }}</b></span>
                          <span> Case  :  {{row.task_case}}</span>
                          <span>Process:  {{ row.task_type | replace: '_' : ' ' }}</span>
                          <span><i>Date:  {{ row.date_assigned | date: 'mediumDate' }}</i></span>
                        </div>
                      </div>
                    </button>
                  </div>
                </div>
              </div>

            </div>
            <div class=" col">

              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <h3 style="margin-left: 40px;">PROGRESS TRACK</h3>
                  </div>
                </div>
                <div class="card-body col-sm-12 home-card">
                  <div class="row" *ngFor="let filter of filters">
                    <button class="btn" (click)="setFilters(filter)">
                      <div class="row">
                        <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                          <i class="ni ni-time-alarm"> </i>
                        </div>
                        <div style="margin-left: 20px; display: flex; align-items: center;"><h3>{{filter.name}}
                          ({{getNumberOfRecordsForFilter(filter.name)}})</h3></div>
                        <span style="margin-left: 60px;margin-bottom: -10px; width: 80%; border-bottom: 4px">
                          <div class="progress-wrapper" style="margin-top: -50px">
                        <div class="progress-info">
                          <div class="progress-label">
<!--                            <span>Pending</span>-->
                          </div>
                          <div class="progress-percentage">
                            <span>{{this.perc}}%</span>
                          </div>
                        </div>
                        <div class="progress">
                          <div class="progress-bar bg-primary" role="progressbar" [attr.aria-valuenow]="perc"
                               aria-valuemin="0" aria-valuemax="100" [style.width]="perc+'%'"></div>
                        </div>
                      </div>
                        </span>
                      </div>
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>


      </div>
      <div class="row">
        <div class=" col-md-12 col-sm-12" style="margin-top: 40px;">
          <div class=" row">
            <div class=" col">

              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <h3 style="margin-left: 40px;">ONGOING TASKS</h3>
                  </div>
                </div>
                <div class="card-body col-sm-12">
                  <div class="row">

                    <div class="dataTables_wrapper py-4">
                      <div class="row" style="display: flex; width: 100%">
                        <div class="col-sm-6">
                          <div class="dataTables_length" id="datatable_length">
                            <label>
                              Show
                              <select
                                name="datatable_length"
                                aria-controls="datatable"
                                class="form-control form-control-sm"
                                (change)="entriesChange($event)"
                                style="width: 200%;"
                              >
                                <option value="10" [selected]="entries == 10">10</option>
                                <option value="25" [selected]="entries == 25">25</option>
                                <option value="50" [selected]="entries == 50">50</option>
                                <option value="-1" [selected]="entries == -1">All</option>
                              </select>
                              entries
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div id="datatable_filter" class="dataTables_filter">
                            <label>
                              <input
                                type="search"
                                class="form-control form-control-sm"
                                placeholder="Search Ongoing Tasks"
                                aria-controls="datatable"
                                (keyup)="onChangeSearch($event)"
                                (search)="onSearch($event)"
                                style="width: 200%;"
                              />
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="row" style="display: flex; margin-top: 10px; margin-bottom: 20px;">
                        <div class="btn-group" role="group" aria-label="switch_button" style="margin-left: 20px;">
                          <button type="button" class="btn btn-default_btn" [class.active_btn]="isReferrals"
                                  (click)="switchRowsData('referrals')">Referrals
                          </button>
                          <button type="button" class="btn btn-default_btn" [class.active_btn]="isFeedback"
                                  (click)="switchRowsData('feedback')">Feedback
                          </button>
                          <button type="button" class="btn btn-default_btn" [class.active_btn]="isQuarterlyReport"
                                  (click)="switchRowsData('quarterly_report')">Progress Report
                          </button>
                          <button type="button" class="btn btn-default_btn" [class.active_btn]="isActivityReport"
                                  (click)="switchRowsData('activity_report')">Activity Report
                          </button>
                        </div>
                      </div>

                      <ngx-datatable
                        class="bootstrap selection-cell"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="'auto'"
                        [limit]="entries != -1 ? entries : undefined"
                        [rows]="rows">

                        <ngx-datatable-column name="Process" prop="task_type">
                          <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row"
                                       ngx-datatable-cell-template>
                            {{value | replace: '_' : ' '}}
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Task Name" prop="task_name">
                          <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row"
                                       ngx-datatable-cell-template>
                            {{value | replace: '_' : ' '}}
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Case" prop="task_case"></ngx-datatable-column>
                        <ngx-datatable-column name="Assignee" prop="assignee"></ngx-datatable-column>
                        <ngx-datatable-column name="Date assigned" prop="date_assigned">
                          <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row"
                                       ngx-datatable-cell-template>
                            {{ value | date: 'medium' }}
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Task Age" prop="task_age"></ngx-datatable-column>
                      </ngx-datatable>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
